歡迎閱讀{$DT[sitename]}服務條款協議(下稱「本協議」)。本協議闡述之條款和條件適用於您使用{$DT[sitename]}所提供的在企業間(B-TO-B)電子市場中進行貿易和交流的各種工具和服務(下稱「服務」)。 <br/>

1. 接受條款。<br/> 
以任何方式進入{$DT[sitename]}網站即表示您同意自己已經與{$DT[sitename]}訂立本協議，且您將受本協議的條款和條件(「條款」) 約束。{$DT[sitename]}可隨時自行全權決定更改「條款」。如「條款」有任何變更，{$DT[sitename]}將在其網站上刊載公告，通知予您。如您不同意相關變更，必須停止使用「服務」。經修訂的「條款」一經在{$DT[sitename]}網站的公佈後，立即自動生效。您應在第一次登錄後仔細閱讀修訂後的「條款」，並有權選擇停止繼續使用「服務」；一旦您繼續使用「服務」，則表示您已接受經修訂的「條款」，當您與{$DT[sitename]}發生爭議時，應以最新的服務協議為準。除另行明確聲明外，任何使「服務」範圍擴大或功能增強的新內容均受本協議約束。除非經{$DT[sitename]}的授權高層管理人員簽訂書面協議，本協議不得另行作出修訂。<br/><br/> 


2.誰可使用{$DT[sitename]}網站？ <br/>
「服務」僅供能夠根據相關法律訂立具有法律約束力的合約的個人或公司使用。因此，您的年齡必須在十八週歲或以上，才可使用本公司服務。如不符合本項條件，請勿使用「服務」。{$DT[sitename]}可隨時自行全權決定拒絕向任何人士提供「服務」。「服務」不會提供給被暫時或永久中止資格的{$DT[sitename]}會員。 <br/><br/>

3. 收費。<br/> 
本公司保留在根據第1條通知您後，收取「服務」費用的權利。您因進行交易、向本公司獲取有償服務或接觸本公司服務器而發生的所有應納稅賦，以及相關硬件、軟件、通訊、網絡服務及其他方面的費用均由您自行承擔。本公司保留在無須發出書面通知，僅在{$DT[sitename]}網站公示的情況下，暫時或永久地更改或停止部分或全部「服務」的權利。<br/><br/>

4.{$DT[sitename]}網站僅作為交易地點。 <br/>
本公司網站僅作為用戶物色交易對象，就貨物和服務的交易進行協商，以及獲取各類與貿易相關的服務的地點。但是，本公司不能控制交易所涉及的物品的質量、安全或合法性，商貿信息的真實性或準確性，以及交易方履行其在貿易協議項下的各項義務的能力。本公司不能也不會控制交易各方能否履行協議義務。此外，您應注意到，與外國國民、未成年人或以欺詐手段行事的人進行交易的風險是客觀存在的。 <br/><br/>

5.您的資料和供買賣的物品。 <br/>
「您的資料」包括您在註冊、交易或列舉物品過程中、在任何公開信息場合或通過任何電子郵件形式，向本公司或其他用戶提供的任何資料，包括數據、文本、軟件、音樂、聲響、照片、圖畫、影像、詞句或其他材料。您應對「您的資料」負全部責任，而本公司僅作為您在網上發佈和刊登「您的資料」的被動渠道。但是，倘若本公司認為「您的資料」可能使本公司承擔任何法律或道義上的責任，或可能使本公司 (全部或部分地) 失去本公司的互聯網服務供應商或其他供應商的服務，或您未在{$DT[sitename]}規定的期限內登錄或再次登錄網站，則本公司可自行全權決定對「您的資料」採取本公司認為必要或適當的任何行動，包括但不限於刪除該類資料。您特此保證，您對提交給{$DT[sitename]}的「您的資料」擁有全部權利，包括全部版權。您確認，{$DT[sitename]}沒有責任去認定或決定您提交給本公司的資料哪些是應當受到保護的，對享有「服務」的其他用戶使用「您的資料」，本公司也不必負責。 <br/><br/>

5.1 註冊義務。 <br/>
如您在{$DT[sitename]}網站註冊，您同意：<br/>
(a) 根根據{$DT[sitename]}網站刊載的會員資料表格的要求，提供關於您或貴公司的真實、準確、完整和反映當前情況的資料；<br/>
(b) 維持並及時更新會員資料，使其保持真實、準確、完整和反映當前情況。倘若您提供任何不真實、不準確、不完整或不能反映當前情況的資料，或{$DT[sitename]}有合理理由懷疑該等資料不真實、不準確、不完整或不能反映當前情況，{$DT[sitename]}有權暫停或終止您的註冊身份及資料，並拒絕您在目前或將來對「服務」(或其任何部份) 以任何形式使用。如您代表一家公司或其他法律主體在本公司登記，則您聲明和保證，您有權使該公司或其他法律主體受本協議「條款」約束。 <br/><br/>

5.2 會員註冊名、密碼和保密。 <br/>
在登記過程中，您將選擇會員註冊名和密碼。您須自行負責對您的會員註冊名和密碼保密，且須對您在會員註冊名和密碼下發生的所有活動承擔責任。您同意：<br/>
(a) 如發現任何人未經授權使用您的會員註冊名或密碼，或發生違反保密規定的任何其他情況，您會立即通知{$DT[sitename]}；<br/>
(b) 確保您在每個上網時段結束時，以正確步驟離開網站。{$DT[sitename]}不能也不會對因您未能遵守本款規定而發生的任何損失或損毀負責。 <br/><br/>

5.3 關於您的資料的規則。<br/> 
您同意，「您的資料」和您供在{$DT[sitename]}網站上交易的任何「物品」（泛指一切可供依法交易的、有形的或無形的、以各種形態存在的某種具體的物品，或某種權利或利益，或某種票據或證券，或某種服務或行為。本協議中「物品」一詞均含此義） <br/><br/>
a. 不會有欺詐成份，與售賣偽造或盜竊無涉； <br/>
b. 不會侵犯任何第三者對該物品享有的物權，或版權、專利、商標、商業秘密或其他知識產權，或隱私權、名譽權； <br/>
c. 不會違反任何法律、法規、條例或規章 (包括但不限於關於規範出口管理、貿易配額、保護消費者、不正當競爭或虛假廣告的法律、法規、條例或規章)；<br/> 
d. 不會含有誹謗（包括商業誹謗）、非法恐嚇或非法騷擾的內容；<br/> 
e. 不會含有淫穢、或包含任何兒童色情內容； <br/>
f. 不會含有蓄意毀壞、惡意干擾、秘密地截取或侵佔任何系統、數據或個人資料的任何病毒、偽裝破壞程序、電腦蠕蟲、定時程序炸彈或其他電腦程序； <br/>
g. 不會直接或間接與下述各項貨物或服務連接，或包含對下述各項貨物或服務的描述：<br/>
&nbsp;(i) 本協議項下禁止的貨物或服務；或 <br/>
&nbsp;(ii) 您無權連接或包含的貨物或服務。<br/>
此外，您同意不會：<br/>
(h) 在與任何連鎖信件、大量胡亂郵寄的電子郵件、濫發電子郵件或任何複製或多餘的信息有關的方面使用「服務」；<br/>
(i) 未經其他人士同意，利用「服務」收集其他人士的電子郵件地址及其他資料；或 <br/>
(j) 利用「服務」製作虛假的電子郵件地址，或以其他形式試圖在發送人的身份或信息的來源方面誤導其他人士。 <br/><br/>

5.4 被禁止物品。 <br/>
您不得在本公司網站公佈或通過本公司網站買賣：<br/>
(a) 可能使本公司違反任何相關法律、法規、條例或規章的任何物品；或 <br/>
(b) {$DT[sitename]}認為應禁止或不適合通過本網站買賣的任何物品。<br/><br/>

6. 您授予本公司的許可使用權。 <br/>
您授予本公司獨家的、全球通用的、永久的、免費的許可使用權利 (並有權在多個層面對該權利進行再授權)，使本公司有權(全部或部份地) 使用、複製、修訂、改寫、發佈、翻譯、分發、執行和展示"您的資料"或製作其派生作品，和/或以現在已知或日後開發的任何形式、媒體或技術，將"您的資料"納入其他作品內。 <br/><br/>

7.隱私。 <br/>
儘管有第6條所規定的許可使用權，{$DT[sitename]}將僅根據本公司的隱私聲明使用「您的資料」。本公司隱私聲明的全部條款屬於本協議的一部份，因此，您必須仔細閱讀。請注意，您一旦自願地在{$DT[sitename]}交易地點披露「您的資料」，該等資料即可能被其他人士獲取和使用。<br/><br/> 

8.交易程序。 <br/>

8.1 添加產品描述條目。<br/>
產品描述是由您提供的在{$DT[sitename]}網站上展示的文字描述、圖畫和/或照片，可以是<br/>
(a) 對您擁有而您希望出售的產品的描述；或 <br/>
(b) 對您正尋找的產品的描述。您可在{$DT[sitename]}網站發佈任一類產品描述，或兩種類型同時發佈，條件是，您必須將該等產品描述歸入正確的類目內。<br/>
{$DT[sitename]}不對產品描述的準確性或內容負責。 <br/><br/>

8.2 就交易進行協商。 <br/>
交易各方通過在{$DT[sitename]}網站上明確描述報盤和回盤，進行相互協商。所有各方接納報盤或回盤將使所涉及的{$DT[sitename]}用戶有義務完成交易。除非在特殊情況下，諸如用戶在您提出報盤後實質性地更改對物品的描述或澄清任何文字輸入錯誤，或您未能證實交易所涉及的用戶的身份等，報盤和承諾均不得撤回。 <br/><br/>

8.3 處理交易爭議。 <br/>
本公司不會且不能牽涉進交易各方的交易當中。倘若您與一名或一名以上用戶，或與您通過本公司網站獲取其服務的第三者服務供應商發生爭議，您免除{$DT[sitename]} (及本公司代理人和僱員) 在因該等爭議而引起的，或在任何方面與該等爭議有關的不同種類和性質的任何 (實際和後果性的) 權利主張、要求和損害賠償等方面的責任。 <br/><br/>

8.4 運用常識。 <br/>
本公司不能亦不試圖對其他用戶通過「服務」提供的資料進行控制。就其本質而言，其他用戶的資料，可能是令人反感的、有害的或不準確的，且在某些情況下可能帶有錯誤的標識說明或以欺詐方式加上標識說明。本公司希望您在使用本公司網站時，小心謹慎並運用常識。 <br/><br/>

9.交易系統。 <br/><br/>

9.1 不得操縱交易。<br/> 
您同意不利用幫助實現蒙蔽或欺騙意圖的同夥(下屬的客戶或第三方)，操縱與另一交易方所進行的商業談判的結果。 <br/><br/>

9.2 系統完整性。 <br/>
您同意，您不得使用任何裝置、軟件或例行程序干預或試圖干預{$DT[sitename]}網站網站的正常運作或正在本公司網站上進行的任何交易。您不得採取對任何將不合理或不合比例的龐大負載加諸本公司網絡結構的行動。您不得向任何第三者披露您的密碼，或與任何第三者共用您的密碼，或為任何未經批准的目的使用您的密碼。 <br/><br/>

9.3 反饋。 <br/>
您不得採取任何可能損害信息反饋系統的完整性的行動，諸如：利用第二會員身份標識或第三者為您本身留下正面反饋；利用第二會員身份標識或第三者為其他用戶留下負面反饋 (反饋數據轟炸)；或在用戶未能履行交易範圍以外的某些行動時，留下負面的反饋 (反饋惡意強加)。 <br/><br/>

9.4 不作商業性利用。 <br/>
您同意，您不得對任何資料作商業性利用，包括但不限於在未經{$DT[sitename]}授權高層管理人員事先書面批准的情況下，複製在{$DT[sitename]}網站上展示的任何資料並用於商業用途。<br/><br/>  

10. 終止或訪問限制。 <br/>
您同意，在{$DT[sitename]}未向您收費的情況下，{$DT[sitename]}可自行全權決定以任何理由 (包括但不限於{$DT[sitename]}認為您已違反本協議的字面意義和精神，或您以不符合本協議的字面意義和精神的方式行事，或您在超過90天的時間內未以您的帳號及密碼登錄網站) 終止您的「服務」密碼、帳戶 (或其任何部份) 或您對「服務」的使用，並刪除和丟棄您在使用「服務」中提交的 「您的資料」。您同意，在{$DT[sitename]}向您收費的情況下，{$DT[sitename]}應基於合理的懷疑且經電子郵件通知的情況下實施上述終止服務的行為。{$DT[sitename]}同時可自行全權決定，在發出通知或不發出通知的情況下，隨時停止提供「服務」或其任何部份。您同意，根據本協議的任何規定終止您使用「服務」之措施可在不發出事先通知的情況下實施，並承認和同意，{$DT[sitename]}可立即使您的帳戶無效，或撤銷您的帳戶以及在您的帳戶內的所有相關資料和檔案，和/或禁止您進一步接入該等檔案或「服務」。帳號終止後，{$DT[sitename]}沒有義務為您保留原帳號中或與之相關的任何信息，或轉發任何未曾閱讀或發送的信息給您或第三方。此外，您同意，{$DT[sitename]}不會就終止您接入「服務」而對您或任何第三者承擔任何責任。第12、13、14和22各條應在本協議終止後繼續有效。 <br/><br/>


11. 違反規則會有什麼後果？ <br/>
在不限制其他補救措施的前提下，發生下述任一情況，本公司可立即發出警告，暫時中止、永久中止或終止您的會員資格，刪除您的任何現有產品信息，以及您在網站上展示的任何其他資料：<br/>
(i) 您違反本協議；<br/>
(ii) 本公司無法核實或鑒定您向本公司提供的任何資料；或 <br/>
(iii) 本公司相信您的行為可能會使您、本公司用戶或通過本公司或本公司網站提供服務的第三者服務供應商發生任何法律責任。在不限制任何其他補救措施的前提下，倘若發現您從事涉及本公司網站的詐騙活動，{$DT[sitename]}可暫停或終止您的帳戶。<br/><br/> 

12. 服務「按現狀」提供。 <br/>
本公司會盡一切努力使您在使用{$DT[sitename]}網站的過程中得到樂趣。遺憾的是，本公司不能隨時預見到任何技術上的問題或其他困難。該等困難可能會導致數據損失或其他服務中斷。為此，您明確理解和同意，您使用「服務」的風險由您自行承擔。「服務」以「按現狀」和「按可得到」的基礎提供。{$DT[sitename]}明確聲明不作出任何種類的所有明示或暗示的保證，包括但不限於關於適銷性、適用於某一特定用途和無侵權行為等方面的保證。{$DT[sitename]}對下述內容不作保證：<br/>
(i)「服務」會符合您的要求；<br/>
(ii)「服務」不會中斷，且適時、安全和不帶任何錯誤；<br/>
(iii) 通過使用「服務」而可能獲取的結果將是準確或可信賴的； <br/>
(iv) 您通過「服務」而購買或獲取的任何產品、服務、資料或其他材料的質量將符合您的預期。通過使用「服務」而下載或以其他形式獲取任何材料是由您自行全權決定進行的，且與此有關的風險由您自行承擔，對於因您下載任何該等材料而發生的您的電腦系統的任何損毀或任何數據損失，您將自行承擔責任。您從{$DT[sitename]}或通過或從「服務」獲取的任何口頭或書面意見或資料，均不產生未在本協議內明確載明的任何保證。 <br/><br/>

13. 責任範圍。 <br/>
您明確理解和同意，{$DT[sitename]}不對因下述任一情況而發生的任何損害賠償承擔責任，包括但不限於利潤、商譽、使用、數據等方面的損失或其他無形損失的損害賠償 (無論{$DT[sitename]}是否已被告知該等損害賠償的可能性)：<br/>
(i) 使用或未能使用「服務」；<br/>
(ii) 因通過或從「服務」購買或獲取任何貨物、樣品、數據、資料或服務，或通過或從「服務」接收任何信息或締結任何交易所產生的獲取替代貨物和服務的費用；<br/>
(iii) 未經批准接入或更改您的傳輸資料或數據；<br/>
(iv) 任何第三者對「服務」的聲明或關於「服務」的行為；或因任何原因而引起的與「服務」有關的任何其他事宜，包括疏忽。 <br/><br/>

14. 賠償。 <br/>
您同意，因您違反本協議或經在此提及而納入本協議的其他文件，或因您違反了法律或侵害了第三方的權利，而使第三方對{$DT[sitename]}及其子公司、分公司、董事、職員、代理人提出索賠要求（包括司法費用和其他專業人士的費用），您必須賠償給{$DT[sitename]}及其子公司、分公司、董事、職員、代理人，使其等免遭損失。 <br/><br/>

15. 遵守法律。 <br/>
您應遵守與您使用「服務」，以及與您競買、購買和銷售任何物品以及提供商貿信息有關的所有相關的法律、法規、條例和規章。 <br/><br/>

16. 無代理關係。 <br/>
您與{$DT[sitename]}僅為獨立訂約人關係。本協議無意結成或創設任何代理、合夥、合營、僱用與被僱用或特許權授予與被授予關係。 <br/><br/>

17. 廣告和金融服務。 <br/>
您與在「服務」上或通過「服務」物色的刊登廣告人士通訊或進行業務往來或參與其推廣活動，包括就相關貨物或服務付款和交付相關貨物或服務，以及與該等業務往來相關的任何其他條款、條件、保證或聲明，僅限於在您和該刊登廣告人士之間發生。您同意，對於因任何該等業務往來或因在「服務」上出現該等刊登廣告人士而發生的任何種類的任何損失或損毀，{$DT[sitename]}無需負責或承擔任何責任。您如打算通過「服務」創設或參與與任何公司、股票行情、投資或證券有關的任何服務，或通過「服務」收取或要求與任何公司、股票行情、投資或證券有關的任何新聞信息、警戒性信息或其他資料，敬請注意，{$DT[sitename]}不會就通過「服務」傳送的任何該等資料的準確性、有用性或可用性、可獲利性負責或承擔任何責任，且不會對根據該等資料而作出的任何交易或投資決策負責或承擔任何責任。 <br/><br/>

18. 鏈接。 <br/>
「服務」或第三者均可提供與其他萬維網網站或資源的鏈接。由於{$DT[sitename]}並不控制該等網站和資源，您承認並同意，{$DT[sitename]}並不對該等外在網站或資源的可用性負責，且不認可該等網站或資源上或可從該等網站或資源獲取的任何內容、宣傳、產品、服務或其他材料，也不對其等負責或承擔任何責任。您進一步承認和同意，對於任何因使用或信賴從此類網站或資源上獲取的此類內容、宣傳、產品、服務或其他材料而造成（或聲稱造成）的任何直接或間接損失，{$DT[sitename]}均不承擔責任。 <br/><br/>

19. 通知。 <br/>
除非另有明確規定，任何通知應以電子郵件形式發送，(就{$DT[sitename]}而言) 電子郵件地址為以本站域名後綴之地址，或 (就您而言) 發送到您在登記過程中向{$DT[sitename]}提供的電子郵件地址，或有關方指明的該等其他地址。在電子郵件發出二十四 (24) 小時後，通知應被視為已送達，除非發送人被告知相關電子郵件地址已作廢。或者，本公司可通過郵資預付掛號郵件並要求回執的方式，將通知發到您在登記過程中向{$DT[sitename]}提供的地址。在該情況下，在付郵當日三 (3) 天後通知被視為已送達。<br/><br/> 

20. 不可抗力。 <br/>
對於因本公司合理控制範圍以外的原因，包括但不限於自然災害、罷工或騷亂、物質短缺或定量配給、暴動、戰爭行為、政府行為、通訊或其他設施故障或嚴重傷亡事故等，致使本公司延遲或未能履約的，{$DT[sitename]}不對您承擔任何責任。 <br/><br/>

21. 轉讓。 <br/>
{$DT[sitename]}轉讓本協議無需經您同意。 <br/> <br/>

22. 其他規定。  <br/>
本協議取代您和{$DT[sitename]}先前就相同事項訂立的任何書面或口頭協議。本協議各方面應受中華人民共和國大陸地區法律的管轄。倘若本協議任何規定被裁定為無效或不可強制執行，該項規定應被撤銷，而其餘規定應予執行。條款標題僅為方便參閱而設，並不以任何方式界定、限制、解釋或描述該條款的範圍或限度。本公司未就您或其他人士的某項違約行為採取行動，並不表明本公司撤回就任何繼後或類似的違約事件採取行動的權利。  <br/> <br/>

23. 訴訟。  <br/>
因本協議或本公司服務所引起或與其有關的任何爭議應向人民法院提起訴訟，並以中華人民共和國法律為管轄法律。