{template 'header',$module}
{if $action == 'payword'}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab_on" id="Tab0"><a href="?action={$action}"><span>1、設置新密碼</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab1"><a href="?action={$action}"><span>2、郵件驗證</span></a></td>
</tr>
</table>
</div>
<form method="post" action="send.php" onsubmit="return check();" id="dform">
<input type="hidden" name="action" value="{$action}"/>
<table cellpadding="6" cellspacing="1" class="tb">
<tr>
<td class="tl"><span class="f_red">*</span> 新支付密碼</td>
<td class="tr"><input type="password" size="20" name="password" id="password"/> <span id="dpassword" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 重複新支付密碼</td>
<td class="tr"><input type="password" size="20" name="cpassword" id="cpassword"/>&nbsp;<span id="dcpassword" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 驗證碼</td>
<td class="tr">{template 'captcha', 'chip'} <span id="dcaptcha" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">提示信息</td>
<td class="tr">提交後，系統將發送一封驗證郵件至{$_email}，請接收郵件完成驗證</td>
</tr>
</tbody>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="30"><input type="submit" name="submit" value=" 下一步 " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" 返 回 " class="btn" onclick="history.back(-1);"/></td>
</tr>
</table>
</form>
<script type="text/javascript">
function check() {
	if(Dd('password').value.length > {$MOD[maxpassword]} || Dd('password').value.length < {$MOD[minpassword]}) {
		Dmsg('密碼長度應為{$MOD[minpassword]}-{$MOD[maxpassword]}字符', 'password');
		return false;
	}
	if(Dd('password').value != Dd('cpassword').value) {
		Dmsg('兩次輸入的密碼不一致', 'cpassword');
		return false;
	}
	if(!is_captcha(Dd('captcha').value)) {
		Dmsg('請填寫正確的驗證碼', 'captcha');
		return false;
	}
	return true;
}
</script>
{elseif $action == 'email'}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab_on" id="Tab0"><a href="?action={$action}"><span>1、設置新Email</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab1"><a href="?action={$action}"><span>2、郵件驗證</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab2"><a href="?action={$action}"><span>3、修改成功</span></a></td>
</tr>
</table>
</div>
<form method="post" action="send.php" onsubmit="return check();" id="dform">
<input type="hidden" name="action" value="{$action}"/>
<table cellpadding="6" cellspacing="1" class="tb">
<tr>
<td class="tl"><span class="f_red">*</span> 新Email地址</td>
<td class="tr"><input type="text" size="30" name="email" id="email"/> <span id="demail" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 驗證碼</td>
<td class="tr">{template 'captcha', 'chip'} <span id="dcaptcha" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">提示信息</td>
<td class="tr">提交後，系統將發送一封驗證郵件至新Email地址，請接收郵件完成驗證</td>
</tr>
</tbody>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="30"><input type="submit" name="submit" value=" 下一步 " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" 返 回 " class="btn" onclick="history.back(-1);"/></td>
</tr>
</table>
</form>
<script type="text/javascript">
function check() {
	if(Dd('email').value.length < 7) {
		Dmsg('請填寫新Email地址', 'email');
		return false;
	}
	if(!is_captcha(Dd('captcha').value)) {
		Dmsg('請填寫正確的驗證碼', 'captcha');
		return false;
	}
	return true;
}
</script>
{elseif $action == 'mobile'}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab_on" id="Tab0"><a href="?action={$action}"><span>1、設置新手機</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab1"><a href="?action={$action}&code=1"><span>2、接收認證碼</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab2"><a href="?action={$action}"><span>3、修改成功</span></a></td>
</tr>
</table>
</div>

{if isset($code)}
<form method="post" action="send.php" onsubmit="return check();" id="dform">
<input type="hidden" name="action" value="{$action}"/>
<table cellpadding="6" cellspacing="1" class="tb">
<tr>
<td class="tl"><span class="f_red">*</span> 認證碼</td>
<td class="tr"><input type="text" size="10" name="auth" id="auth"/> <span id="dauth" class="f_red"></span> 請輸入你收到的短信認證碼</td>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="30"><input type="submit" value=" 下一步 " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" 重 發 " class="btn" onclick="Go('?action={$action}');"/></td>
</tr>
</table>
</form>
<script type="text/javascript">
Dd('Tab0').className = 'tab';
Dd('Tab1').className = 'tab_on';
function check() {
	if(Dd('auth').value.length < 6) {
		Dmsg('請填寫認證碼', 'auth');
		return false;
	}
	return true;
}
</script>
{else}
<form method="post" action="send.php" onsubmit="return check();" id="dform">
<input type="hidden" name="action" value="{$action}"/>
<table cellpadding="6" cellspacing="1" class="tb">
<tr>
<td class="tl"><span class="f_red">*</span> 新手機號</td>
<td class="tr"><input type="text" size="30" name="mobile" id="mobile" value=""/> <span id="dmobile" class="f_red"></span></td>
</tr>
{if $fee && $_sms<1}
<tr>
<td class="tl">接收短信收費</td>
<td class="tr"><span class="f_b f_red">{$fee}</span> {$DT[money_unit]}</td>
</tr>
<tr>
<td class="tl">帳戶餘額</td>
<td class="tr"><span class="f_b f_blue">{$_money}</span> {$DT[money_unit]} {if $fee>$_money}&nbsp;<span class="f_red">餘額不足</span>&nbsp;{/if} <a href="{$MODULE[2][linkurl]}charge.php?action=pay" class="t" target="_blank">[充值]</a></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 支付密碼</td>
<td class="tr">{template 'password', 'chip'} <span id="dpassword" class="f_red"></span></td>
</tr>
{/if}
<tr>
<td class="tl">提示信息</td>
<td class="tr">提交後，系統將發送一條短信至您的手機號碼，請注意接收</td>
</tr>
</tbody>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="30"><input type="submit" name="submit" value=" 下一步 " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" 返 回 " class="btn" onclick="history.back(-1);"/></td>
</tr>
</table>
</form>
<script type="text/javascript">
function check() {
	if(Dd('mobile').value.length < 7) {
		Dmsg('請填寫手機號碼', 'mobile');
		return false;
	}
{if $fee && $_sms<1}
	if(Dd('password').value.length < 6) {
		Dmsg('請填寫支付密碼', 'password');
		return false;
	}
{/if}
	return true;
}
</script>
{/if}
{elseif $action == 'check'}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab_on" id="Tab0"><a href="?action={$action}"><span>1、重發驗證信</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab1"><a href="?action={$action}"><span>2、郵件驗證</span></a></td>
</tr>
</table>
</div>
<form method="post" action="send.php" onsubmit="return check();" id="dform">
<input type="hidden" name="action" value="{$action}"/>
<table cellpadding="6" cellspacing="1" class="tb">
<tr>
<td class="tl"><span class="f_red">*</span> 戶 名</td>
<td class="tr"><input type="username" name="username" id="username" value="{$_username}" style="width:140px"/> <span id="dusername" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 密 碼</td>
<td class="tr">{template 'password', 'chip'} <span id="dpassword" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">Email</td>
<td class="tr"><input type="text" size="30" name="email" id="email"/> <span id="demail" class="f_red"></span><br/>
<span class="f_gray">如果需要更換註冊Email，請填寫；如果不更換，請留空</span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 驗證碼</td>
<td class="tr">{template 'captcha', 'chip'} <span id="dcaptcha" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">提示信息</td>
<td class="tr">提交後，系統將發送一封驗證郵件至您的註冊Email，請接收郵件完成驗證</td>
</tr>
</tbody>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="30"><input type="submit" name="submit" value=" 下一步 " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" 返 回 " class="btn" onclick="history.back(-1);"/></td>
</tr>
</table>
</form>
<script type="text/javascript">
function check() {
	if(Dd('username').value.length < 1) {
		Dmsg('請填寫用戶名', 'username');
		return false;
	}
	if(Dd('password').value.length < 6) {
		Dmsg('請填寫密碼', 'password');
		return false;
	}
	if(!is_captcha(Dd('captcha').value)) {
		Dmsg('請填寫正確的驗證碼', 'captcha');
		return false;
	}
	return true;
}
</script>
{else}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab_on" id="Tab0"><a href="?action={$action}"><span>1、找回密碼</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab1"><a href="?action={$action}"><span>2、郵件驗證</span></a></td>
</tr>
</table>
</div>
<form method="post" action="send.php" onsubmit="return check();" id="dform">
<input type="hidden" name="action" value="{$action}"/>
<table cellpadding="6" cellspacing="1" class="tb">
<tr>
<td class="tl"><span class="f_red">*</span> 
<select name="option">
	<option value="username">用戶名</option>
	{if $MOD['passport']}<option value="passport">通行證</option>{/if}
	<option value="mobile">手機號</option>
	<option value="company">公司名</option>
	{if $DT[im_qq]}<option value="qq">QQ</option>{/if}
	{if $DT[im_msn]}<option value="msn">MSN</option>{/if}
	{if $DT[im_ali]}<option value="ali">旺旺</option>{/if}
	{if $DT[im_skype]}<option value="skype">Skype</option>{/if}
	<option value="userid">會員ID</option>
</select>	
</td>
<td class="tr"><input type="username" size="20" name="username" id="username"/> <span id="dusername" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> Email</td>
<td class="tr"><input type="text" size="30" name="email" id="email"/> <span id="demail" class="f_red"></span> <span class="f_gray">請填寫您註冊時填寫的Email</span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 新登錄密碼</td>
<td class="tr"><input type="password" size="20" name="password" id="password"/> <span id="dpassword" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 重複新登錄密碼</td>
<td class="tr"><input type="password" size="20" name="cpassword" id="cpassword"/>&nbsp;<span id="dcpassword" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 驗證碼</td>
<td class="tr">{template 'captcha', 'chip'} <span id="dcaptcha" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">提示信息</td>
<td class="tr">提交後，系統將發送一封驗證郵件至您的註冊Email，請接收郵件完成驗證</td>
</tr>
</tbody>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="30"><input type="submit" name="submit" value=" 下一步 " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" 返 回 " class="btn" onclick="history.back(-1);"/></td>
</tr>
</table>
</form>
<script type="text/javascript">
function check() {
	if(Dd('username').value.length < 1) {
		Dmsg('請填寫名稱', 'username');
		return false;
	}
	if(Dd('email').value.length < 7) {
		Dmsg('請填寫註冊Email地址', 'email');
		return false;
	}
	if(Dd('password').value.length > {$MOD[maxpassword]} || Dd('password').value.length < {$MOD[minpassword]}) {
		Dmsg('密碼長度應為{$MOD[minpassword]}-{$MOD[maxpassword]}字符', 'password');
		return false;
	}
	if(Dd('password').value != Dd('cpassword').value) {
		Dmsg('兩次輸入的密碼不一致', 'cpassword');
		return false;
	}
	if(!is_captcha(Dd('captcha').value)) {
		Dmsg('請填寫正確的驗證碼', 'captcha');
		return false;
	}
	return true;
}
</script>
{/if}
{template 'footer',$module}