{template 'header', 'member'}
<script type="text/javascript">c(3);</script>
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab" id="Tab0"><a href="home.php"><span>商舖設置</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab1"><a href="style.php"><span>模板設置</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab2"><a href="{DT_PATH}index.php?homepage={$_username}&update=1" target="homepage"><span>更新主頁</span></a></td>
</tr>
</table>
</div>
{if $action == 'buy'}
<form method="post" action="style.php" onsubmit="return check();">
<input type="hidden" name="action" value="{$action}"/>
<input type="hidden" name="itemid" value="{$itemid}"/>
<table cellspacing="1" cellpadding="6" class="tb">
<td class="tl">模板預覽：</td>
<td class="tr"><a href="{DT_PATH}index.php?homepage={$_username}&preview={$itemid}" target="_blank"><img src="{$thumb}" style="border:#EEEEEE 2px solid;padding:5px;margin:0 0 10px 0;" alt="預覽"/></a></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 購買時長：</td>
<td class="tr f_gray">
<select name="month" id="month" onchange="CA();">
{loop $months $m}<option value="{$m}">{$m}月</option>{/loop}
</select>
(注:按30天/月計算)
</td>
</tr>
<tr>
<td class="tl">模板價格：</td>
<td class="tr"><strong class="f_red">{$fee}{$unit}/月</strong></td>
</tr>
<tr>
<td class="tl">應付總價：</td>
<td class="tr f_red f_b"><span id="payment">{$fee}</span>{$unit}</td>
</tr>
{if $currency == 'money'}
<tr>
<td class="tl">{$DT[money_name]}餘額：</td>
<td class="tr"><span class="f_blue f_b">{$_money}{$unit}</span> <a href="{$MODULE[2][linkurl]}charge.php?action=pay" target="_blank" class="t">[充值]</a></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 支付密碼：</td>
<td class="tr">{template 'password', 'chip'}</td>
</tr>
{else}
<tr>
<td class="tl">{$DT[credit_name]}餘額：</td>
<td class="tr"><span class="f_blue f_b">{$_credit}{$unit}</span> <a href="{$MODULE[2][linkurl]}credit.php?action=buy" target="_blank" class="t">[購買]</a></td>
</tr>
{/if}
<tr>
<td class="tl"> </td>
<td class="tr" height="50"><input type="submit" name="submit" value=" 確 定 " class="btn"/></td>
</tr>
</table>
</form>
<script type="text/javascript">
function CA() {
	Dd('payment').innerHTML = {$fee}*Dd('month').value;
}
function check() {
	{if $currency == 'money'}
	if({$fee}*Dd('month').value > {$_money}) {
		alert('帳戶餘額不足，請先充值');
		return false;
	}
	if(Dd('password').value.length < 6) {
		alert('請填寫支付密碼');
		Dd('password').focus();
		return false;
	}
	{else}
	if({$fee}*Dd('month').value > {$_credit}) {
		alert('您的{$DT[credit_name]}不足，請先購買');
		return false;
	}
	{/if}
	return confirm('確定要購買'+Dd('month').value+'月嗎？');
}
</script>
{else}
<form action="style.php">
<input type="hidden" name="all" id="all" value="{$all}"/>
<div class="tt">
&nbsp;{$fields_select}&nbsp;
<input type="text" size="12" name="kw" value="{$kw}" title="關鍵詞"/>&nbsp;
{$type_select}&nbsp;
價格：<input type="text" size="3" name="minfee" value="<?php echo $minfee;?>"/>~
<input type="text" size="3" name="maxfee" value="<?php echo $maxfee;?>" />&nbsp;
<select name="currency">
<option value="">單位</option>
<option value="money"{if $currency == 'money'} selected{/if}>{$DT[money_name]}</option>
<option value="credit"{if $currency == 'credit'} selected{/if}>{$DT[credit_name]}</option>
<option value="free"{if $currency == 'free'} selected{/if}>免費</option>
</select>&nbsp;
{$order_select}&nbsp; 
<input type="submit" value=" 搜 索 " class="btn"/>
<input type="button" value=" 重 置 " class="btn" onclick="window.location='style.php';"/>
{if $all}
<input type="submit" value=" 顯示可用 " class="btn" onclick="Dd('all').value=0;"/>
{else}
<input type="submit" value=" 顯示全部 " class="btn" onclick="Dd('all').value=1;"/>
{/if}
</div>
</form>
<table cellpadding="10" cellspacing="10" width="100%" bgcolor="#FFFFFF">
{if $lists}
{loop $lists $k $v}
{if $k%3==0}<tr>{/if}
<td width="33%" valign="top">
<table cellpadding="2" cellspacing="2" width="220" align="center"{if $c[skin] == $v[skin]} bgcolor="#E7ECFF"{/if}>
<tr>
<td><a href="{DT_PATH}index.php?homepage={$_username}&preview={$v[itemid]}" target="_blank"><img src="{$v[thumb]}" style="border:#EEEEEE 2px solid;padding:5px;margin:0 0 10px 0;" title="點擊預覽"/></a></td>
</tr>
<tr align="center">
<td>{$v[title]}</td>
</tr>
<tr align="center">
<td>{if $v['skin'] == 'default'}默認{else}人氣：{$v[hits]}{/if}</td>
</tr>
<tr align="center">
<td>作者：{$v[author]}</td>
</tr>
<tr align="center">
<td>價格：
{if $v[fee]}
	{if $v[currency] == 'money'}
		<span class="f_red">{$v[fee]}{$DT[money_unit]}/月</span>
	{else}
		<span class="f_blue">{$v[fee]}{$DT[credit_unit]}/月</span>
	{/if}
{else}
<span class="f_green">免費</span>
{/if}
</td>
</tr>
<tr align="center">
<td>
{if $c[skin] == $v[skin]}
<a href="{DT_PATH}index.php?homepage={$_username}&update=1" target="_blank" class="t">我的主頁</a> <span class="f_red">[{if $havedays}{$havedays}天剩餘{else}使用中{/if}]</span>
{else}
{if $v[fee]}<a href="?action=buy&itemid={$v[itemid]}" class="t">購買</a>{else}<a href="?itemid={$v[itemid]}" class="t"{if $havedays} onclick="return confirm('確定要啟用此模板嗎？如果之前購買過模板，付費模板的有效期將被清空');"{/if}>啟用</a>{/if}&nbsp;|&nbsp;<a href="{DT_PATH}index.php?homepage={$_username}&preview={$v[itemid]}" target="_blank" class="t">預覽</a>
{/if}
</td>
</tr>
<tr align="center">
<td>{$v[group]}</td>
</tr>
</table>
</td>
{if $k%3==2}</tr>{/if}
{/loop}
{else}
<tr><td class="f_red">提示信息：未找到相關模板</td></tr>
{/if}
</table>
<div class="pages">{$pages}</div>
{/if}
<script type="text/javascript">s('homepage');m('Tab1');</script>
{template 'footer', 'member'}