{template 'header'}
<div class="m">
	<div class="left_box">		
		<div class="pos"><span class="f_r"><a href="{$MODULE[2][linkurl]}ad.php">[My AD]</a></span>You are here: <a href="{$MODULE[1][linkurl]}">Home</a> &raquo; <a href="{$EXT[ad_url]}">AD Center</a> &raquo; AD Preview</div>
		<br/><br/>
		<table cellpadding="10" cellspacing="0" align="center">
		<tr>
		<td>
		{if $ad_moduleid}
			{ad($ad_moduleid,$ad_catid,$ad_kw,$typeid)}
		{elseif $pid}
			{ad($pid)}
		{/if}		
		</td>
		</tr>
		<tr>
		<td><span class="f_gray">The above is a preview of the position of AD. If failure to see any content, indicate that this AD is empty or can not preview.</span></td>
		</tr>
		</table>
		<br/><br/>
	</div>
</div>
{template 'footer'}