{template 'header'}
<div class="m">
	<div class="f_l side">
		{template 'exhibit-column', 'chip'}
		
		<div class="b10">&nbsp;</div>
		<!-- left sidebar ad -->
		<!--{tag("table=ad&condition=status=3 and pid=19 and totime>".$DT_TIME."&order=rand()&pagesize=2&id=19&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=20 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=20&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=21 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=21&template=ad-single",-1)}-->		
	</div>
	
	<div class="m_l_0 f_l">
		<div class="b10">&nbsp;</div>
		<!-- top slideshow AD -->
		<!--{tag("moduleid=$moduleid&areaid=$cityid&condition=status=3 and thumb<>'' and totime>".$DT_TIME."&order=rand()&pagesize=5&template=exhibit-slideshow",-1)}-->		
	
		<div class="b15"> </div>
		{template 'query_tool','chip'}
		<div class="b15"> </div>

		<ul class="showCat">
			{loop $maincat $i $c}
				<li{if $c[catid]==4716} style="float:right;"{/if}>
					<div class="box_head"><span class="f_r"><a href="{$MOD[linkurl]}{$c[linkurl]}">more ></a></span><strong>{$c[catname]}</strong><span id="cat_{$c[catid]}" class="catIcon"></span></div>
					<div class="box_body f_gray">
						<!-- single show -->
						<!--{tag("moduleid=$moduleid&areaid=$cityid&catid=".$c[catid]."&condition=status=3 and thumb<>'' and totime>".$DT_TIME."&order=".$MOD[order]."&pagesize=1&template=list-exhibit-single",-1)}-->
						
						<!--{php $tags=tag("moduleid=$moduleid&areaid=$cityid&catid=".$c[catid]."&condition=status=3 and totime>".$DT_TIME."&order=".$MOD[order]."&pagesize=".$MOD[page_icat]."&template=null");}-->
						<ul class="sublist">
							{loop $tags $i $t}
								<li title="{$t[alt]}&#13;Organizer：{$t[sponsor]}&#13;Venue：{$t[hallname]}"><span class="f_r"> &nbsp; {timetodate($t[fromtime], 3)} > {timetodate($t[totime], 3)}</span><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a>&nbsp;[{$t[city]}]</li>
							{/loop}
						</ul>
					</div>
				</li>
			{/loop}
			<li>
				<a href="#" target="_blank">
					<img class="go_now lazy" data-src="{SKIN_PATH}image/go_now.jpg" src="{DT_SKIN}image/blank.gif" alt="Go to join ImB2B exhibitions and enjoy our promotion service!!!" />
				</a>	
			</li>
		</ul>		
	</div>
</div>
{template 'footer'}