{template 'header'}
<div class="m">
	<div class="f_l side">
		{if $DT[page_catalog]}
			{php $mid = $moduleid;$stat = 1;}
			{template 'catalog','chip'}
		{/if}

		<div class="b10">&nbsp;</div>
		<!-- left sidebar ad -->
		<!--{tag("table=ad&condition=status=3 and pid=19 and totime>".$DT_TIME."&order=rand()&pagesize=2&id=19&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=20 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=20&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=21 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=21&template=ad-single",-1)}-->		
	</div>
	
	<div class="m_l_0 f_l">
		<div class="b10">&nbsp;</div>
		<!-- top slideshow AD -->
		<!--{tag("moduleid=$moduleid&areaid=$cityid&condition=status=3 and thumb<>'' and totime>".$DT_TIME."&order=rand()&pagesize=5&template=exhibit-slideshow",-1)}-->		
	
		<div class="b15"> </div>
		{template 'query_tool','chip'}	
	
		<div class="left_box">		
			<div class="fsearch">
				<form action="{$MOD[linkurl]}search.php" id="fsearch">
				<table cellpadding="5" cellspacing="3">
				<tr>
				<td width="80" align="right">keywords：</td>
				<td><input type="text" size="60" name="kw" value="{$kw}" class="pd3"/></td>
				</tr>
				<tr>
				<td></td>
				<td>
				{loop $sfields $k $v}
				<input type="radio" name="fields" value="{$k}" id="fd_{$k}"{if $fields==$k} checked{/if}/><label for="fd_{$k}"> {$v}</label>&nbsp;
				{/loop}			
				</td>
				</tr>
				<tr>
				<td align="right">Date：</td>
				<td>
				{dcalendar('fromdate', $fromdate, '')} to {dcalendar('todate', $todate, '')}&nbsp;
				</td>
				</tr>
				<tr>
				<td align="right">In this category：</td>
				<td>
				{$category_select}&nbsp;&nbsp;&nbsp;
				Status：
				<select name="process">
				<option value="0"{if $process == 0} selected{/if}>all</option>
				<option value="1"{if $process == 1} selected{/if}>Coming</option>
				<option value="2"{if $process == 2} selected{/if}>Current</option>
				<option value="3"{if $process == 3} selected{/if}>Ended</option>
				</select>
				</td>
				</tr>
				{if $DT[city]}
				<tr>
				<td align="right">Location：</td>
				<td>
				{$area_select}
				</td>
				</tr>
				{/if}
				<tr>
				<td align="right">Sort by：</td>
				<td>
				{$order_select}
				</td>
				</tr>
				<tr>
				<td></td>
				<td>
				<input type="image" src="{DT_SKIN}image/btn_search.gif"/>&nbsp;&nbsp;
				<a href="{$MOD[linkurl]}search.php"><img src="{DT_SKIN}image/btn_reset_search.gif"/></a>	
				</td>
				</tr>
				</table>
			{if $CP}
			{loop $PPT $p}
			<div class="ppt">
				<table cellpadding="0" cellspacing="0" width="100%">
				<tr>
				<td class="ppt_l" valign="top">by{$p[name]}</td>
				<td class="ppt_r" valign="top">
				<input type="hidden" name="ppt_{$p[oid]}" id="ppt_{$p[oid]}" value="{$p[select]}"/>
				<a href="###" onclick="Dd('ppt_{$p[oid]}').value='';Dd('fsearch').submit();">{if $p[select]==''}<span>all</span>{else}all{/if}</a>
				{loop $p[options] $o}
				&nbsp;|&nbsp;<a href="###" onclick="Dd('ppt_{$p[oid]}').value='{$o}';Dd('fsearch').submit();">{if $p[select]==$o}<span>{$o}</span>{else}{$o}{/if}</a>
				{/loop}
				</td>
				</tr>
				</table>
			</div>
			{/loop}
			{/if}
				</form>
			</div>
			{if $tags}
				<div class="b15">&nbsp;</div>
				<div class="box_head_1">
					<div>
						<span class="px14">Search Results{if $kw} ({$kw}){/if}</span>
					</div>
				</div>
				
				<div class="b10">&nbsp;</div>			
			{template 'list-'.$module, 'tag'}
			{else}
			{template 'noresult', 'message'}
			{/if}
		</div>
	</div>
</div>
{template 'footer'}