{template 'header'}
<div class="m">
	<div class="f_l side">
		{template 'exhibit-column', 'chip'}

		<div class="b10">&nbsp;</div>
		<!-- left sidebar ad -->
		<!--{tag("table=ad&condition=status=3 and pid=19 and totime>".$DT_TIME."&order=rand()&pagesize=2&id=19&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=20 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=20&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=21 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=21&template=ad-single",-1)}-->		
	</div>

	<div class="m_l_0 f_l">
		<div class="b10">&nbsp;</div>
		<!-- top slideshow AD -->
		<!--{tag("moduleid=$moduleid&areaid=$cityid&condition=status=3 and thumb<>'' and totime>".$DT_TIME."&order=rand()&pagesize=5&template=exhibit-slideshow",-1)}-->		
	
		<div class="b15"> </div>
		{template 'query_tool','chip'}
		<div class="b15"> </div>		
		<h1 class="title">{$title}</h1>	
	
		<div class="m_l_1">
			
			<div class="info px13">
			Updated:{$adddate}
			&nbsp;&nbsp;Views:&nbsp;<span id="hits">{$hits}</span>
			&nbsp;&nbsp;Status:&nbsp;<img src="{DT_PATH}file/image/process_{$process}.gif" id="process" alt="Exhibition Status" align="absmiddle"/>
			</div>
			
			<span class="banner f_r"><a href="{$website}" target="_blank"><img src="{$thumb}" alt="{$title}"/></a></span>
			<div class="detail">
				<div class="info_head">
					<strong>>> Detail <<</strong>
				</div>
				<table cellspacing="0" cellpadding="5" width="100%" class="ctb">
					<tr>
					<td class="ltd">Date</td>
					<td class="rtd">{$fromtime} to {$totime}</td>
					</tr>
					<tr>
					<td class="ltd">City</td>
					<td class="rtd">{$city}</td>
					</tr>
					<tr>
					<td class="ltd">Address</td>
					<td class="rtd">{$address}</td>
					</tr>
					<tr>
					<td class="ltd">Venue</td>
					<td class="rtd">{$hallname}</td>
					</tr>
					<tr>
					<td class="ltd{if !$undertaker} nobb{/if}">Organizer</td>
					<td class="rtd{if !$undertaker} nobb{/if}">{$sponsor}</td>
					</tr>
					{if $undertaker}
					<tr>
					<td class="ltd nobb">brought by</td>
					<td class="rtd nobb">{$undertaker}</td>
					</tr>
					{/if}
				</table>
				<br/>
				
				<div class="box_head_2">
					<div>
						<strong>Description</strong>
					</div>
				</div>
				<div class="box_body">
					<div id="content">{template 'content', 'chip'}</div>
				</div>
				
				{if $remark}
					<br/>
					<table cellspacing="1" cellpadding="6" width="100%" class="ctb">
					<tr>
					<td class="ltd">Remarks</td>
					</tr>
					<tr>
					<td class="rtd"><div class="content">{nl2br($remark)}</div></td>
					</tr>
					</table>
				{/if}
			</div>
			<div class="b10">&nbsp;</div>
			{if $CP}{template 'property', 'chip'}{/if}
			{template 'show_toolbar','chip'}
			{template 'comment', 'chip'}
			<br/>
		</div>
	</div>
</div>
{template 'zoom', 'chip'}
{template 'footer'}