{php $CSS = array('index','tabs');}
{template 'header'}
<div class="m">
	<div class="f_l side">
		{if $DT[page_catalog]}
			{php $mid = $moduleid;$stat=1;}
			{template 'catalog','chip'}
		{/if}
		
		<div class="b10">&nbsp;</div>
		<!-- left sidebar ad -->
		<!--{tag("table=ad&condition=status=3 and pid=19 and totime>".$DT_TIME."&order=rand()&pagesize=2&id=19&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=20 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=20&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=21 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=21&template=ad-single",-1)}-->
	</div>
	
	<div class="m_l_0 f_l">
		<div class="b10"> </div>
		{if $MOD[page_irec]}
			<ul class="tabs">
				<li><a href="javascript:;">推薦商品</a></li>
				<li><a href="javascript:;">Hot Products</a></li>
			</ul>
			<div class="panes thUmb">
				<div>
					<!--{tag("moduleid=$moduleid&length=20&condition=status=3 and level>0&areaid=$cityid&pagesize=".$MOD[page_irec]."&order=".$MOD[order]."&cols=7&template=thumb-mall&target=_blank",-1)}-->
				</div>
				<div>
					<!--{tag("moduleid=$moduleid&length=20&condition=status=3&areaid=$cityid&pagesize=".$MOD[page_irec]."&order=orders desc&cols=7&template=thumb-mall&target=_blank",-1)}-->
				</div>
			</div>
			<div class="b10">&nbsp;</div>
		{/if}
		{if $MOD[page_inew]}
			<div class="box_head_1"><div><span class="f_r"><a href="{$MOD[linkurl]}{rewrite('search.php?new=1')}">more ></a></span><strong>New Products</strong></div></div>
			<div class="thUmb">
				<div>
					<!--{tag("moduleid=$moduleid&length=20&condition=status=3&areaid=$cityid&pagesize=".$MOD[page_inew]."&order=".$MOD[order]."&cols=7&template=thumb-mall&target=_blank",-1)}-->
				</div>
			</div>
		{/if}
	</div>
</div>
{template 'footer'}