{php $CSS = array('fancybox','sell');$JS = array('fancybox');}
{template 'header'}
<div class="m">
	<div class="f_l side">
		{if $DT[page_catalog]}
			{php $mid = $moduleid;$stat = 1;}
			{template 'catalog','chip'}
		{/if}
		
		<div class="b15">&nbsp;</div>
		
		{template 'catalog_list','chip'}
	</div>

	<div class="m_l_1 f_l">
		<div class="b10">&nbsp;</div>		
		<!-- 1st slideshow (AD) -->
		<!--{tag("table=ad&condition=status=3 and pid=16 and totime>".$DT_TIME."&order=rand()&pagesize=4&id=15&template=ad-slideshow",-1)}-->					
		<div class="b15">&nbsp;</div>				

		<div class="left_box">
			<form id="fsearch" method="POST">
				{template 'mall_tip_tool','chip'}
				
				{if $page == 1}{ad($moduleid,$catid,$kw,6)}{/if}
				{if $tags}{template 'list-sell-mix', 'tag'}{/if}
			</form><br/>
		</div>
	</div>
	
	<div class="m_n f_l">&nbsp;</div>
	
	<div class="m_r_1 f_l">
		<div class="sponsor">{ad($moduleid,$catid,$kw,7)}</div>
		
		<div class="b10">&nbsp;</div>

		<!--{tag("table=ad&condition=status=3 and pid=21 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=21&template=ad-single",-1)}-->

		<!--{tag("table=ad&condition=status=3 and pid=19 and totime>".$DT_TIME."&order=rand()&pagesize=2&id=19&template=ad-single",-1)}-->
	</div>
</div>
{template 'footer'}