#nav {
  width: 990px;
  margin: 0 auto;
  text-align:center;
  background: #FFF;
}
#nav > ul {list-style:none;}
#nav > ul > li {
  display:inline-block;
  padding: 10px 20px;
  height: 20px;
  margin: 0;
  border-right: 1px solid #ddd;
}
#nav > ul > li > a {
  color: #333;
}
#nav > ul > li:hover, #nav > ul > li.current {
  background: #DDD;
}
#nav > ul > li > a:hover {

}
@media screen and (max-width: 1366px) {
  .header-fixed {max-width:1300px;width:95%;}
  #nav {max-width:1300px;width:95%}
  .page {max-width: 1300px;width:95%}
  .col-sub {max-width: 20%;min-width:190px;}
  .cate-wrap .cates li {}
  .col-main {max-width:1100px;width:80%}
  #footer12 .sociality, #footer12 .sitemap {max-width:1300px;width:95%;}
  #footer12 .section {width:18.3%}

}