			<div class="m b10">&nbsp;</div>
		</div>
		<!-- *** footer -->
		<footer id="footer" _height="none">
			<div class="m no_bg">
				<div class="foot c_b">
					<div id="webpage">
						<a href="{$MODULE[1][linkurl]}">Homepage</a>
						| <a href="{$MODULE[2][linkurl]}{$DT[file_login]}" class="l">Login</a>
						| <a href="{$MODULE[2][linkurl]}{$DT[file_register]}" class="l">Join</a>
						<!--{tag("table=webpage&condition=item=1&areaid=$cityid&order=listorder asc,itemid asc&template=list-webpage")}-->
						{if $EXT[gift_enable]} | <a href="{$EXT[gift_url]}">Earn Gift</a>{/if}
						{if $EXT[feed_enable]} | <a href="{$EXT[feed_url]}">RSS</a>{/if}
						{if $DT[icpno]} | <a href="http://www.miibeian.gov.cn" target="_blank">{$DT[icpno]}</a>{/if}
						{if $EXT[guestbook_enable]} | <a href="{$EXT[guestbook_url]}">Tell us what you think</a>{/if}
						{if $EXT[ad_enable]} | <a href="{$EXT[ad_url]}">Advertising Services</a>{/if}						
					</div>
					<div id="copyright">{$DT[copyright]}</div>
					{if DT_DEBUG}<div class="px11">{debug()}</div>{/if}
					<div id="powered"></div>
				</div>
			</div>
		</footer>
		<!-- bottom fixed bar -->
		<div id="destoon_toolbar" class="notranslate">
			<div class="tb_m">
				<div class="tb_r">
					<div>
						<img src="{$MODULE[2][linkurl]}image/ico_newcart.gif" width="16" height="16" align="absmiddle" alt=""/>
						<a href="{$MODULE[16][linkurl]}cart.php">Cart</a>(<span id="destoon_cart">0</span>)&nbsp;&nbsp;&nbsp;
						<img src="{$MODULE[2][linkurl]}image/ico_message.gif" width="16" height="16" align="absmiddle" alt=""/>
						<a href="{$MODULE[2][linkurl]}message.php">Mail</a>(<span id="destoon_message">0</span>)
						{if $DT[im_web]}
						&nbsp;&nbsp;&nbsp;<img src="{$MODULE[2][linkurl]}image/ico_newchat.png" width="16" height="16" align="absmiddle" alt=""/>
						<a href="{$MODULE[2][linkurl]}chat.php">Chat</a>(<span id="destoon_chat">0</span>)
						{/if}
					</div>
				</div>
				<div class="tb_l">
					<div>
						<a href="{$MODULE[2][linkurl]}grade.php">Member Services</a>
						| <a href="{$MODULE[2][linkurl]}{$DT[file_my]}">Buy/Sell a product</a>
						| <a href="{$MODULE[2][linkurl]}">My ImB2B</a>
						| <a href="{$MODULE[1][linkurl]}">Back to top</a>
					</div>
				</div>
				<div class="tb_c" onclick="window.scrollTo(0,0);" title="Back to top" id="tb_c"></div>
			</div>
		</div>
		<!-- contact us (fixed right position) -->
		{if $EXT[guestbook_enable]}<a href="{$EXT[guestbook_url]}" target="_blank"><div id="contactUs"></div></a>{/if}
		
		<script type="text/javascript">show_task('{$destoon_task}');</script>
		<script type="text/javascript" src="{DT_PATH}file/script/global.js"></script>
		{if $JS}{loop $JS $js}<script type="text/javascript" src="{DT_PATH}file/script/{$js}.js"></script>{/loop}{/if}
		{if $moduleid>4}<script type="text/javascript" src="{DT_PATH}file/script/{$module}.js"></script>{/if}	
	</body>
</html>