{php $CSS = array('index');$JS = array('index_n');}
{template 'header'}
<div class="m">
	<div class="f_l side">
		{if $DT[page_catalog]}
			{php $mid = 5;}
			{template 'catalog','chip'}
		{/if}
	</div>
	<div class="f_l main">
		<div class="b10">&nbsp;</div>
		<div class="m_l f_l" style="width:1020px;"><!--****inline-->
			<div class="topr" id="trades">		
				{if $DT[page_login]}
					{template 'user', 'chip'}
				{/if}	
			</div>
			<div class="topl">
				<!-- 1st slideshow (AD) -->
				{template 'tmp-slideshow','tag'}
			</div>				
		</div>
					
		<div class="b10">&nbsp;</div>
		
		<div class="m_l f_l">				
			<!-- 2nd slideshow (AD) -->
			<div class="box_head_1"><div><span class="f_r"><a href="{$MODULE[17][linkurl]}">more ></a></span><a href="{$MODULE[17][linkurl]}"><strong>Spotlight</strong></a></div></div>
			{template 'tmp-slideshow2','tag'}			
			<div class="b10">&nbsp;</div>
		</div>
		<div class="m_n f_l">&nbsp;</div>
		<div class="m_r f_l">
			<!-- 廣告 -->
		</div>
		<div class="m_ebook f_l">
			<div class="box_head_1"><div><span class="f_r"><a href="{$MODULE[14][linkurl]}">more ></a></span><a href="{$MODULE[14][linkurl]}"><strong>Magazines</strong></a></div></div>
			<div class="box_body f_gray">
				<!--{tag("moduleid=23&condition=status=3 and catid=533 and thumb<>''&pagesize=2&order=addtime desc&target=_blank&template=index-ebook",-1)}-->
			</div>
			<div class="b10">&nbsp;</div>				
		</div>
		<div class="m_n f_l">&nbsp;</div>
		<div class="m_ebook f_l">
			<div class="box_head_1"><div><span class="f_r"><a href="{$MODULE[14][linkurl]}">more ></a></span><a href="{$MODULE[14][linkurl]}"><strong>Catalogs</strong></a></div></div>
			<div class="box_body f_gray">
				<!--{tag("moduleid=23&condition=status=3 and catid=3518 and thumb<>''&pagesize=2&order=rand()&target=_blank&template=index-ebook",-1)}-->
			</div>
			<div class="b10">&nbsp;</div>			
		</div>
		<div class="m_n f_l">&nbsp;</div>
		<div class="m_news f_l">
			{if $DT[page_exhibit]}
			<div class="box_head_1"><div><span class="f_r"><a href="{$MODULE[8][linkurl]}">more ></a></span><a href="{$MODULE[8][linkurl]}"><strong>Show</strong></a></div></div>
			<div class="box_body f_gray">				
				<!-- the tabs -->
				<ul class="tabs">
					<li><a href="#">Activity</a></li>
					<li><a href="#">Proxy</a></li>						
				</ul>					 
				<!-- tab "panes" -->
				<div class="panes">
					<div>
						<img src="http://www.imb2b.com/file/upload/201201/02/14-46-56-18-25.jpg" width="90" height="60" alt="" />
						<div class="date">2012-11-13 ~ 2012-11-18</div>
						<p class="organizer">Associazione Nazionale Ciclo Moto Accessori (ANCMA)</p>
						<div class="more"></div>
						<!--{php $tags=tag("moduleid=8&condition=status=3 and thumb<>'' and totime>".$DT_TIME."&pagesize=4&order=fromtime asc&template=null");}-->
						<ul class="expo">
						{loop $tags $t}
							<li title="{$t[alt]}"><span class="f_r">{timetodate($t[fromtime], 'm-d')}</span><span class="arrow"></span><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></li>
							{/loop}
						</ul>
					</div>
					<div>
						<img src="http://www.imb2b.com/file/upload/201201/02/14-46-56-18-25.jpg" width="90" height="60" alt="" />
						<div class="date">2012-11-13 ~ 2012-11-18</div>
						<p class="organizer">Associazione Nazionale Ciclo Moto Accessori (ANCMA)</p>
						<div class="more"></div>
						<!--{php $tags=tag("moduleid=8&condition=status=3 and thumb<>'' and totime>".$DT_TIME."&pagesize=4&order=fromtime asc&template=null");}-->
						<ul class="expo">
						{loop $tags $t}
							<li title="{$t[alt]}"><span class="f_r">{timetodate($t[fromtime], 'm-d')}</span><span class="arrow"></span><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></li>
							{/loop}
						</ul>						
					</div>					
				</div>
			</div>
			<div class="b10">&nbsp;</div>
			{/if}			
		</div>			
		<div class="m_n f_l">&nbsp;</div>
		<div class="m_video f_l">
			{if $DT[page_video]}
			<div class="box_head_1"><div><span class="f_r"><a href="{$MODULE[14][linkurl]}">more ></a></span><a href="{$MODULE[14][linkurl]}"><strong>Video</strong></a></div></div>
			<div class="box_body f_gray">
				<!--{tag("moduleid=14&condition=status=3&pagesize=".$DT[page_video]."&datetype=2&order=rand()&target=_blank&template=index-video",-1)}-->
			</div>
			<div class="b10">&nbsp;</div>
			{/if}
		</div>
		
		<div class="f_l main">
			<!-- Products scrollable -->
			<div class="box_head_1"><div><span class="f_r"><a href="{$MODULE[5][linkurl]}">more ></a></span><a href="{$MODULE[5][linkurl]}"><strong>Hot Products</strong></a></div></div>
			<div class="Scrollable">
				<a class="prev browse left"><span></span></a>
				<div class="scrollable" id="scrollable"> 
					<div class="items">
						<!-- every loop in 7 items -->
						<!--{tag("moduleid=5&length=14&condition=status=3 and thumb<>''&pagesize=21&order=rand()&width=113&height=113&cols=7&target=_blank&template=index-scrollable",-1)}-->
					</div>
				</div>
				<a class="next browse right"><span></span></a>	
			</div>
		</div>
		<div class="b10">&nbsp;</div>

		{if $DT[page_logo] || $DT[page_text]}
		<div class="f_l link">
			<div class="box_head_1"><div><span class="f_r"><a href="{$MODULE[10][linkurl]}">more ></a></span><a href="{$MODULE[10][linkurl]}"><strong>Featured Partner</strong></a></div></div>				
			<div class="box_body">
			{if $DT[page_logo]}
			<!--{tag("table=link&condition=status=3 and level>0 and thumb<>'' and username=''&areaid=$cityid&pagesize=".$DT['page_logo']."&order=rand()&template=list-link&cols=3&width=166&height=40")}-->
			{/if}
			{if $DT[page_text]}
			<!--{tag("table=link&condition=status=3 and level>0 and thumb='' and username=''&areaid=$cityid&pagesize=".$DT['page_text']."&order=listorder desc,itemid desc&template=list-link&cols=9")}-->
			{/if}
			</div>
		</div>
		{/if}			
	</div>
</div>
{template 'footer'}