{template 'header', 'member'}
<script type="text/javascript">c(4);</script>
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab" id="add"><a href="address.php?action=add"><span>Add address</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="s3"><a href="address.php"><span>Shipping address</span></a></td>
</tr>
</table>
</div>
{if $action=='add'}
<form method="post" action="address.php" id="dform" onsubmit="return check();">
<input type="hidden" name="action" value="{$action}"/>
<table cellpadding="6" cellspacing="1" class="tb">
<tr>
<td class="tl"><span class="f_red">*</span> Address detail</td>
<td class="tr">{ajax_area_select('post[areaid]', 'Select')}<input name="post[address]" type="text" id="title" size="60" /> <span id="dtitle" class="f_red"></span></td>
</tr>

<tr>
<td class="tl"><span class="f_red">*</span> Postal Code</td>
<td class="tr"><input name="post[postcode]" type="text" id="postcode" size="10" /> <span id="dpostcode" class="f_red"></span></td>
</tr>

<tr>
<td class="tl"><span class="f_red">*</span> Realname</td>
<td class="tr"><input name="post[truename]" type="text" id="truename" size="10" /> <span id="dtruename" class="f_red"></span></td>
</tr>

<tr>
<td class="tl"><span class="f_red">*</span> Mobile</td>
<td class="tr"><input name="post[mobile]" type="text" id="mobile" size="20" /> <span id="dmobile" class="f_red"></span></td>
</tr>

<tr>
<td class="tl"> TEL</td>
<td class="tr"><input name="post[telephone]" type="text" id="telephone" size="20" /> <span id="dtelephone" class="f_red"></span></td>
</tr>

<tr>
<td class="tl"> Browse by</td>
<td class="tr f_gray"><input name="post[listorder]" type="text" id="listorder" size="4" /> smaller number first<span id="dlistorder" class="f_red"></span></td>
</tr>

<tr>
<td class="tl"> Note</td>
<td class="tr"><input name="post[note]" type="text" id="note" size="60" /> <span id="dnote" class="f_red"></span></td>
</tr>

<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="50"><input type="submit" name="submit" value=" Yes " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" name="reset" value=" Reset " class="btn"/></td>
</tr>
</table>
</form>
{load('clear.js')}
<script type="text/javascript">s('address');m('add');</script>
{elseif $action=='edit'}
<form method="post" action="address.php" id="dform" onsubmit="return check();">
<input type="hidden" name="action" value="{$action}"/>
<input type="hidden" name="itemid" value="{$itemid}"/>
<input type="hidden" name="forward" value="{$forward}"/>
<table cellpadding="6" cellspacing="1" class="tb">

<tr>
<td class="tl"><span class="f_red">*</span> Address detail</td>
<td class="tr"><input name="post[address]" type="text" id="title" size="60" value="{$address}"/> <span id="dtitle" class="f_red"></span></td>
</tr>

<tr>
<td class="tl"><span class="f_red">*</span> Zip Code</td>
<td class="tr"><input name="post[postcode]" type="text" id="postcode" size="10" value="{$postcode}" /> <span id="dpostcode" class="f_red"></span></td>
</tr>

<tr>
<td class="tl"><span class="f_red">*</span> Realname</td>
<td class="tr"><input name="post[truename]" type="text" id="truename" size="10" value="{$truename}"/> <span id="dtruename" class="f_red"></span></td>
</tr>


<tr>
<td class="tl"><span class="f_red">*</span> Mobile</td>
<td class="tr"><input name="post[mobile]" type="text" id="mobile" size="20" value="{$mobile}"/> <span id="dmobile" class="f_red"></span></td>
</tr>

<tr>
<td class="tl"> Tel</td>
<td class="tr"><input name="post[telephone]" type="text" id="telephone" size="20" value="{$telephone}"/> <span id="dtelephone" class="f_red"></span></td>
</tr>

<tr>
<td class="tl"> Browse by</td>
<td class="tr f_gray"><input name="post[listorder]" type="text" id="listorder" size="4" value="{$listorder}"/> smaller number first<span id="dlistorder" class="f_red"></span></td>
</tr>

<tr>
<td class="tl"> Note</td>
<td class="tr"><input name="post[note]" type="text" id="note" size="60" value="{$note}"/> <span id="dnote" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="50"><input type="submit" name="submit" value=" Modify " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" Back " class="btn" onclick="history.back(-1);"/></td>
</tr>
</table>
</form>
{load('clear.js')}
<script type="text/javascript">s('address');m('s3');</script>
{else}
<div class="ls">
<table cellpadding="0" cellspacing="0" class="tb">
<tr>
<th>Address(Zip Code)</th>
<th>Name</th>
<th>Mobile</th>
<th>Tel</th>
<th>Add time</th>
<th>Sort</th>
<th width="40">Modify</th>
<th width="40">Delete</th>
</tr>
{loop $lists $k $v}
<tr onmouseover="this.className='on';" onmouseout="this.className='';" align="center">
<td height="30" align="left">&nbsp;&nbsp{$v[address]}({$v[postcode]}){if $v[note]} <a href="javascript:" onclick="alert('Note:{$v[note]}');"><img src="image/why.gif" title="Note:{$v[note]}"/></a>{/if}</td>
<td>{$v[truename]}</td>
<td>{$v[mobile]}</td>
<td>{if $v[telephone]}{$v[telephone]}{else}&nbsp;{/if}</td>
<td class="px11 f_gray" title="Update {$v[editdate]}">{$v[adddate]}</td>
<td class="px11 f_gray">{$v[listorder]}</td>
<td><a href="address.php?action=edit&itemid={$v[itemid]}"><img width="16" height="16" src="image/edit.png" title="Modify" alt=""/></a></td>
<td><a href="address.php?action=delete&itemid={$v[itemid]}" onclick="if(!confirm(' Are you sure you want to delete?')) return false;"><img width="16" height="16" src="image/delete.png" title="Delete" alt=""/></a></td>
</tr>
{/loop}
</table>
</div>
{if $MG[address_limit]}
<div class="limit"> <span class="f_b f_red">{$MG[address_limit]}</span> Can be sent&nbsp;&nbsp;&nbsp;You`ve sent <span class="f_b">{$limit_used}</span> &nbsp;&nbsp;&nbsp; <span class="f_b f_blue">{$limit_free}</span> available</div>
{/if}
<div class="pages">{$pages}</div>
<script type="text/javascript">s('address');m('s3');</script>
{/if}
{if $action=='add' || $action=='edit'}
<script type="text/javascript">
function check() {
        var l;
        var f;
        f = 'title';
        l = Dd(f).value.length;
        if(l < 5) {
                Dmsg('Please fill inAddress detail.', f);
                return false;
        }
        f = 'postcode';
        l = Dd(f).value.length;
        if(l < 6) {
                Dmsg('Please fill in ZIP code.', f);
                return false;
        }
        f = 'truename';
        l = Dd(f).value.length;
        if(l < 2) {
                Dmsg('Please fill in your true name.', f);
                return false;
        }
        f = 'mobile';
        l = Dd(f).value.length;
        if(l < 11) {
                Dmsg('Please fill in your Mobile number.', f);
                return false;
        }
        return true;
}
</script>
{/if}
{template 'footer', 'member'}