{template 'header', 'member'}
<script type="text/javascript">c(1);</script>
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab" id="add"><a href="alert.php?action=add"><span>Create Alert</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="s3"><a href="alert.php"><span>Released<span class="px10">({$nums[3]})</span></span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="s2"><a href="alert.php?status=2"><span>Pending<span class="px10">({$nums[2]})</span></span></a></td>
</tr>
</table>
</div>
{if $action=='add' || $action=='edit'}
<form method="post" action="alert.php" id="dform">
<input type="hidden" name="action" value="{$action}"/>
<input type="hidden" name="post[mid]" value="{$mid}"/>
<input type="hidden" name="itemid" value="{$itemid}"/>
<input type="hidden" name="forward" value="{$forward}"/>
<table cellpadding="6" cellspacing="1" class="tb">
<tr>
<td class="tl">Channel</td>
<td class="tr f_b">{$MODULE[$mid][ename]}</td>
</tr>
<tr>
<td class="tl">Keyword</td>
<td class="tr"><input type="text" name="post[word]" id="word" size="30" value="{$word}" maxlength="30"/><span id="dword" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">Category</td>
<td class="tr"><div id="catesch"></div>{ajax_category_select('post[catid]', '', $catid, $mid, 'size="2" style="height:120px;width:180px;"')}<span id="dcatid" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">Location</td>
<td class="tr">{ajax_area_select('post[areaid]', 'Select a location', $areaid)} <span id="dareaid" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">Frequency</td>
<td class="tr">
<select name="post[rate]">
<option value="0"{if $rate==0} selected{/if}>Unlimited</option>
<option value="1"{if $rate==1} selected{/if}>1 day</option>
<option value="3"{if $rate==3} selected{/if}>3 days</option>
<option value="7"{if $rate==7} selected{/if}>7 days</option>
<option value="15"{if $rate==15} selected{/if}>15 days</option>
<option value="30"{if $rate==30} selected{/if}>30 days</option>
</select>
</td>
</tr>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="50"><input type="submit" name="submit" value=" Create " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" name="reset" value=" Reset " class="btn"/></td>
</tr>
</table>
</form>
<script type="text/javascript">s('alert');m('add');</script>
{elseif $action=='choose'}
<table cellpadding="6" cellspacing="1" class="tb">
<tr>
<td class="tl"><span class="f_red">*</span> Channel</td>
<td class="tr">
{loop $mids $v}
<input type="radio" name="mid" value="{$v}" id="mid_{$v}" onclick="Go('?action=add&mid={$v}');"/><label for="mid_{$v}"> {$MODULE[$v][ename]}</label>&nbsp;&nbsp;
{/loop}
</td>
</tr>
</table>
<script type="text/javascript">s('alert');m('add');</script>
{else}
<div class="ls">
<table cellpadding="0" cellspacing="0" class="tb">
<tr>
<th>Channel</th>
<th>Keyword</th>
<th>Category</th>
<th>Location</th>
<th>Released Date</th>
<th>Last Delivered</th>
<th>Frequency</th>
<th width="60">Manage</th>
</tr>
{loop $lists $k $v}
<tr onmouseover="this.className='on';" onmouseout="this.className='';" align="center">
<td><a href="{$MODULE[$v[mid]][linkurl]}" class="t" target="_blank">{$MODULE[$v[mid]][ename]}</a></td>
<td>{if $v[word]}<a href="{$MODULE[$v[mid]][linkurl]}search.php?kw={urlencode($v[word])}" class="t" target="_blank">{$v[word]}</a>{else}All{/if}</td>
<td>{if $v[catid]}{$v[cate]}{else}All{/if}</td>
<td>{if $v[areaid]}<a href="{$MODULE[$v[mid]][linkurl]}search.php?areaid={$v[areaid]}" target="_blank">{area_pos($v[areaid], '-')}</a>{else}All{/if}</td>
<td class="px11 f_gray">{timetodate($v[addtime], 5)}</td>
{if $v[sendtime]}
<td class="px11 f_gray">{timetodate($v[sendtime], 5)}</td>
{else}
<td class="f_gray">Anytime</td>
{/if}
<td class="f_red">{if $v[rate]}{$v[rate]} day{if $v[rate]>1}s{/if}{else}Unlimited{/if}</td>
<td><a href="alert.php?action=edit&itemid={$v[itemid]}"><img width="16" height="16" src="image/edit.png" title="Edit" alt=""/></a>
<a href="alert.php?action=delete&itemid={$v[itemid]}" onclick="if(!confirm('Are you sure to delete it?')) return false;"><img width="16" height="16" src="image/delete.png" title="Delete" alt=""/></a></td>
</tr>
{/loop}
</table>
</div>
{if $MG[alert_limit]}
<div class="limit">You can create <span class="f_b f_red">{$MG[alert_limit]}</span> alert{if $MG[alert_limit]>1}s{/if} in total.&nbsp;&nbsp;&nbsp;You`ve created <span class="f_b">{$limit_used}</span>.&nbsp;&nbsp;&nbsp;<span class="f_b f_blue">{$limit_free}</span> more can be created.</div>
{/if}
<br/>
<span class="f_gray">&nbsp;&nbsp;<strong>Tips</strong>: If you can not receive mail, please add <span class="f_blue">{$DT[mail_sender]}</span> to your whitelist.</span>
<br/>
<div class="pages">{$pages}</div>
<script type="text/javascript">s('alert');m('s{$status}');</script>
{/if}
{template 'footer', 'member'}