{template 'header', $module}
<script type="text/javascript">c(2);</script>
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab" id="action"><a href="cash.php"><span>Withdrawal Request</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="action_setting"><a href="cash.php?action=setting"><span>Account Setting</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="action_record"><a href="cash.php?action=record"><span>Records</span></a></td>
</tr>
</table>
</div>
{if $action == 'record'}
<form action="?">
<input type="hidden" name="action" value="{$action}"/>
<div class="tt">
<select name="bank">
<option value="">Term of payment</option>
{loop $BANKS $v}
<option value="{$v}" {if $bank == $v}selected{/if}>{$v}</option>;
{/loop}
</select>
&nbsp;
{dcalendar('fromtime', $fromtime)} to {dcalendar('totime', $totime)}
&nbsp;
<input type="submit" value=" Search " class="btn"/>&nbsp;
<input type="button" value=" Reset " class="btn" onclick="window.location='?action={$action}';"/>
</div>
</form>
<div class="bd">
<table cellpadding="1" cellspacing="0" class="tb">
<tr>
<th>No.</th>
<th>Amount</th>
<th>Fee</th>
<th>Term of Payment</th>
<th>Beneficiary Account</th>
<th>Beneficiary</th>
<th width="130">Request Time</th>
<th width="130">Acceptance Time</th>
<th>Status</th>
</tr>
{loop $cashs $k $v}
<tr onmouseover="this.className='on';" onmouseout="this.className='';" align="center">
<td height="30"class="px11">{$v[itemid]}</td>
<td class="px11 f_red">{$v[amount]}</td>
<td class="px11 f_blue">{$v[fee]}</td>
<td>{$v[bank]}</td>
<td class="px11">{$v[account]}</td>
<td>{$v[truename]}</td>
<td class="px11 f_gray">{$v[addtime]}</td>
<td class="px11 f_gray">{$v[edittime]}</td>
<td{if $v[note]} title="Reason &amp; Remark: {$v[note]}"{/if}>{$v[dstatus]}</td>
</tr>
{/loop}
<tr align="center">
<td height="35"><strong>Subtotal</strong></td>
<td class="px11 f_red">{$amount}</td>
<td class="px11 f_blue">{$fee}</td>
<td colspan="6">&nbsp;</td>
</tr>
</table>
</div>
<div class="pages">{$pages}</div>
<script type="text/javascript">s('cash');m('action_record');</script>
{elseif $action == 'setting'}
{if $vbank}
<table cellspacing="1" cellpadding="6" class="tb">
<tr>
<td class="tl">Term of Payment</td>
<td class="tr">{$member[bank]}</td>
</tr>
<tr>
<td class="tl"> Beneficiary Account</td>
<td class="tr">{$member[account]}</td>
</tr>
<tr>
<td class="tl"> Beneficiary</td>
<td class="tr">{$member[truename]}</td>
</tr>
<tr>
<td class="tl">Validation Status</td>
<td class="tr f_green">Proved</td>
</tr>
</table>
{else}
<form method="post" action="cash.php">
<input type="hidden" name="action" value="{$action}"/>
<table cellspacing="1" cellpadding="6" class="tb">
<tr>
<td class="tl"> <span class="f_red">*</span>Term of Payment</td>
<td class="tr">{$bank_select}</td>
</tr>
<tr>
<td class="tl"> <span class="f_red">*</span>Beneficiary Account</td>
<td class="tr"><input type="text" size="30" name="account" value="{$member[account]}"/> [Notice] The account name must be <strong>{$member[truename]}</strong></td>
</tr>
<tr>
<td class="tl"> <span class="f_red">*</span>Payment Password</td>
<td class="tr">{template 'password', 'chip'}</td>
</tr>
<tr>
<td class="tl"> </td>
<td class="tr">
<input type="submit" name="submit" value=" Submit " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" name="reset" value=" Reset " class="btn"/>
</td>
</tr>
</table>
</form>
{/if}
<script type="text/javascript">s('cash');m('action_setting');</script>
{elseif $action == 'confirm'}
<form method="post" action="cash.php">
<input type="hidden" name="action" value="confirm"/>
<input type="hidden" name="amount" value="{$amount}"/>
<table cellspacing="1" cellpadding="6" class="tb">
<tr>
<td class="tl">Account Confirmation</td>
<td class="tr" style="line-height:180%;">
Withdrawal amount:<strong>{$amount}</strong><br/>
Fee:<strong>{$fee}</strong><br/>
Received amount:<strong class="f_red">{$money}</strong><br/>
Available amount:<strong class="f_blue">{$_money}</strong><br/>
</td>
</tr>
<tr>
<td class="tl"> <span class="f_red">*</span>Payment Password</td>
<td class="tr">{template 'password', 'chip'}</td>
</tr>
<tr>
<td class="tl"> </td>
<td class="tr">
<input type="submit" name="submit" value=" Submit " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" name="reset" value=" Reset " class="btn"/>
</td>
</tr>
</table>
</form>
<script type="text/javascript">s('cash');m('action');</script>
{else}
<form method="post" action="cash.php">
<input type="hidden" name="action" value="confirm"/>
<table cellspacing="1" cellpadding="6" class="tb">
<tr>
<td class="tl">My Account</td>
<td class="tr">Balance <span class="f_red">{$_money}</span> {$DT[money_unit]}</td>
</tr>
<tr>
<td class="tl">Directions</td>
<td class="tr f_gray">
{if $MOD[cash_times]}- Maximum of {$MOD[cash_times]} withdrawals within 24 hours.<br/>{/if}
{if $MOD[cash_min]}- Minimum of {$MOD[cash_min]} {$DT[money_unit]} for each operations.<br/>{/if}
{if $MOD[cash_max]}- Maximum of {$MOD[cash_max]} {$DT[money_unit]} for each operations.<br/>{/if}
{if $MOD[cash_fee]}- Withdrawal fee is {$MOD[cash_fee]}%.<br/>{/if}
{if $MOD[cash_fee_min]}- Minimum of {$MOD[cash_fee_min]} {$DT[money_unit]} for withdrawal fee.<br/>{/if}
{if $MOD[cash_fee_max]}- Maximum of {$MOD[cash_fee_max]} {$DT[money_unit]} for withdrawal fee.<br/>{/if}
</td>
</tr>
<tr>
<td class="tl"> <span class="f_red">*</span>Withdrawal Amount</td>
<td class="tr"><input type="text" size="10" name="amount"/></td>
</tr>
<tr>
<td class="tl"> </td>
<td class="tr">
<input type="submit" value=" Submit " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" name="reset" value=" Reset " class="btn"/>
</td>
</tr>
</table>
</form>
<script type="text/javascript">s('cash');m('action');</script>
{/if}
{template 'footer', $module}