{template 'header', $module}
<script type="text/javascript">c(2);</script>
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab" id="action"><a href="credit.php"><span>{$DT[credit_name]} Record</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="action_buy"><a href="credit.php?action=buy"><span>Buy {$DT[credit_name]}</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab"><a href="invite.php"><span>Earn {$DT[credit_name]} by promotion</span></a></td>
{if $MOD[credit_exchange]}
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="action_exchange"><a href="credit.php?action=exchange"><span>{$DT[credit_name]} Exchange</span></a></td>
{/if}
</tr>
</table>
</div>
{if $action == 'exchange'}
<form method="post" action="credit.php" onsubmit="return check();" id="dform">
<input type="hidden" name="action" value="{$action}"/>
<input type="hidden" name="submit" value="1"/>
<table cellspacing="1" cellpadding="6" class="tb">
<tr>
<td class="tl">Available {$MOD[ex_name]}</td>
<td class="tr"><strong class="f_blue">{$num}</strong></td>
</tr>
<tr>
<td class="tl">Exchange Rate</td>
<td class="tr"><span class="f_blue">1</span> {$MOD[ex_name]} exchange <span class="f_red">{$MOD[ex_rate]}</span> {$DT[credit_name]}</td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> Amount</td>
<td class="tr"><input type="text" size="8`" name="amount"/> <span id="damount" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="50"><input type="submit" value=" Sure " class="btn"/></td>
</tr>
</table>
</form>
<script type="text/javascript">
function check() {
	m = parseInt(Dd('amount').value);
	n = {$num};
	if(m > 0 && m < n) {
		return confirm('Do you confirm to exchange '+m+'{$MOD[ex_name]}? Exchangable '+(m*{$MOD[ex_rate]})+'{$DT[credit_name]}\n\nNotice: Your membership level might be downgraded by exchange {$MOD[ex_name]}.');
	} else {
		Dd('amount').value = '';
		Dmsg('Enter an exchange rate.', 'amount');
		return false;
	}
}
</script>
<script type="text/javascript">s('credit');m('action_exchange');</script>
{elseif $action == 'buy'}
<form method="post" action="credit.php" onsubmit="return check();" id="dform">
<input type="hidden" name="action" value="{$action}"/>
<table cellspacing="1" cellpadding="6" class="tb">
<tr>
<td class="tl">Amount Balance</td>
<td class="tr"><strong class="f_blue">{$_money}</strong> {$DT[money_unit]}</td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> Purchase Amount</td>
<td class="tr c_p">
<table cellpadding="5" cellspacing="3">
<tr align="center">
<td>Select</td>
<td>&nbsp;&nbsp;{$DT[credit_name]}({$DT[credit_unit]})&nbsp;&nbsp;</td>
<td>&nbsp;&nbsp;{$DT[money_name]}({$DT[money_unit]})&nbsp;&nbsp;</td>
</tr>
{loop $C $k $v}
<tr align="center" onclick="Dd('type_{$k}').checked=true;">
<td><input type="radio" name="type" id="type_{$k}" value="{$k}" {if $k==0}checked{/if}/></td>
<td class="f_red">&nbsp;&nbsp;{$v}&nbsp;&nbsp;</td>
<td class="f_blue">&nbsp;&nbsp;{$P[$k]}&nbsp;&nbsp;</td>
</tr>
{/loop}
</table>
</td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> Payment Password</td>
<td class="tr">{template 'password', 'chip'}&nbsp;<span id="dpassword" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="50"><input type="submit" name="submit" value=" Submit " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" name="reset" value=" Reset " class="btn"/></td>
</tr>
</table>
</form>
<script type="text/javascript">
function check() {
	if(Dd('password').value == '') {
		Dmsg('Enter your payment password.', 'password');
		return false;
	}
}
</script>
<script type="text/javascript">s('credit');m('action_buy');</script>
{else}
<form action="?">
<div class="tt">
{$fields_select}&nbsp;
<input type="text" size="30" name="kw" value="{$kw}" title="Keyword"/>&nbsp;
<select name="type">
<option value="0">Type</option>
<option value="1" {if $type==1}selected{/if}>Income</option>
<option value="2" {if $type==2}selected{/if}>Expenditure</option>
</select>
&nbsp;
{dcalendar('fromtime', $fromtime)} to {dcalendar('totime', $totime)}
&nbsp;
<input type="submit" value=" Search " class="btn"/>&nbsp;
<input type="button" value=" Reset " class="btn" onclick="window.location='?action={$action}';"/>
</div>
</form>
<div class="bd">
<table cellpadding="1" cellspacing="0" class="tb">
<tr>
<th>No.</th>
<th>Income</th>
<th>Expenditure</th>
<th>Balance</th>
<th width="130">Occurrence Time</th>
<th width="150">Reason</th>
<th width="150">Remark</th>
</tr>
{loop $records $k $v}
<tr onmouseover="this.className='on';" onmouseout="this.className='';" align="center">
<td height="30" class="px11">{$v[itemid]}</td>
<td class="px11 f_blue">{if $v[amount] > 0}{$v[amount]}{else}&nbsp;{/if}</td>
<td class="px11 f_red">{if $v[amount] < 0}{$v[amount]}{else}&nbsp;{/if}</td>
<td class="px11">{if $v[balance]}{$v[balance]}{else}&nbsp;{/if}</td>
<td class="px11 f_gray">{$v[addtime]}</td>
<td title="{$v[reason]}"><input type="text" size="20" value="{$v[reason]}"/></td>
<td title="{$v[note]}"><input type="text" size="20" value="{$v[note]}"/></td>
</tr>
{/loop}
<tr align="center">
<td height="35"><strong>Subtotal</strong></td>
<td class="px11 f_blue">{$income}</td>
<td class="px11 f_red">{$expense}</td>
<td colspan="4">&nbsp;</td>
</tr>
</table>
<div class="pages">{$pages}</div>
<script type="text/javascript">s('credit');m('action');</script>
{/if}
{template 'footer', $module}