{template 'header',$module}
<script type="text/javascript">c(4);</script>
{load('profile.js')}
{if $_groupid > 5 && !$_edittime}
	<div class="warn">A detailed company profile helps better present enterprise image to prospective partners and lead you to infinite trade opportunities.</div>
{/if}
{if isset($success)}
	<div class="ok">Save OK! You can <a href="{$MODULE[2][linkurl]}edit.php" class="t">keep edit</a> &nbsp;|&nbsp; or <a href="{$MODULE[2][linkurl]}{$DT[file_my]}" class="t">post leads</a>. &nbsp;|&nbsp; <a href="{$MODULE[2][linkurl]}" class="t">Back to Business center</a></div>
{/if}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab" id="Tab0"><a href="javascript:Tab(0);"><span>My Profile</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab1"><a href="javascript:Tab(1);"><span>Amend Password</span></a></td>
{if $_groupid > 5}
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab2"><a href="javascript:Tab(2);"><span>Co. Profile</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab3"><a href="javascript:Tab(3);"><span>Co. Contact Info</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab4"><a href="javascript:Tab(4);"><span>Co. Introduction</span></a></td>
{/if}
</tr>
</table>
</div>
<form method="post" action="edit.php" onsubmit="return Dcheck();" id="dform">
<input type="hidden" name="tab" id="tab" value="{$tab}"/>
<table cellpadding="6" cellspacing="1" class="tb">
<tbody id="Tabs0" style="display:;">
<tr>
<td class="tl">Username</td>
<td class="tr f_b">{$_username}</td>
</tr>
<tr>
<td class="tl">Email</td>
<td class="tr">{$_email}{if $vemail}&nbsp;&nbsp;<img src="image/v_email.gif" title="Verified" align="absmiddle"/>{/if}&nbsp;&nbsp;<a href="send.php?action=email" class="t">[Edit]</a></td>
</tr>
{if $vtruename}
<tr>
<td class="tl"><span class="f_red">*</span>Contact</td>
<td class="tr"><input type="hidden" name="post[truename]" id="truename" value="{$truename}"/>{$truename}&nbsp;&nbsp;<input type="hidden" name="post_fields[lastname]" id="lastname" value="{$lastname}"/>{$lastname}&nbsp;&nbsp;<img src="image/v_truename.gif" title="Verified" align="absmiddle"/></td>
</tr>
{else}
<tr>
<td class="tl"><span class="f_red">*</span>Contact</td>
<td class="tr"><input type="text" size="10" name="post[truename]" id="truename" value="{$truename}"/>&nbsp;<input type="hidden" name="post_fields[lastname]" id="lastname" value="{$lastname}"/><span id="dtruename" class="f_red"></span></td>
</tr>
{/if}
<tr>
<td class="tl"><span class="f_red">*</span>Gender</td>
<td class="tr">
<input type="radio" name="post[gender]" value="1" {if $gender==1}checked="checked"{/if}/> Mr.
<input type="radio" name="post[gender]" value="2" {if $gender==2}checked="checked"{/if}/> Ms.
</td>
</tr>
{if $_groupid < 6}
<tr>
<td class="tl"><span class="f_red">*</span>Location</td>
<td class="tr">{ajax_area_select('post[areaid]', 'Select a location', $areaid)}&nbsp;<span id="dareaid" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">Address</td>
<td class="tr"><input type="text" size="40" name="post[address]" id="daddress" value="{$address}"/>&nbsp;<span id="ddaddress" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">Postal Code</td>
<td class="tr"><input type="text" size="8" name="post[postcode]" id="postalcode" value="{$postcode}"/></td>
</tr>
<tr>
<td class="tl">TEL</td>
<td class="tr"><input type="text" size="20" name="post[telephone]" id="telephone" value="{$telephone}"/>&nbsp;<span id="dtelephone" class="f_red"></span></td>
</tr>
{/if}
{if $vmobile}
<tr>
<td class="tl">Mobile</td>
<td class="tr"><input type="hidden" name="post[mobile]" id="mobile" value="{$mobile}"/>{$mobile}&nbsp;&nbsp;<img src="image/v_mobile.gif" title="Verified" align="absmiddle"/>&nbsp;&nbsp;<a href="send.php?action=mobile" class="t">[Edit]</a></td>
</tr>
{else}
<tr>
<td class="tl">Mobile</td>
<td class="tr"><input type="text" size="20" name="post[mobile]" id="mobile" value="{$mobile}"/></td>
</tr>
{/if}
<tr>
<td class="tl">Department</td>
<td class="tr"><input type="text" size="20" name="post[department]" id="department" value="{$department}"/></td>
</tr>
<tr>
<td class="tl">Position</td>
<td class="tr"><input type="text" size="20" name="post[career]" id="career" value="{$career}"/></td>
</tr>
{if $DT[im_qq]}
<tr>
<td class="tl">QQ</td>
<td class="tr"><input type="text" size="20" name="post[qq]" id="qq" value="{$qq}"/></td>
</tr>
{/if}
{if $DT[im_ali]}
<tr>
<td class="tl">阿里旺旺</td>
<td class="tr"><input type="text" size="20" name="post[ali]" id="ali" value="{$ali}"/></td>
</tr>
{/if}
{if $DT[im_msn]}
<tr>
<td class="tl">MSN</td>
<td class="tr"><input type="text" size="30" name="post[msn]" id="msn" value="{$msn}"/></td>
</tr>
{/if}
{if $DT[im_skype]}
<tr>
<td class="tl">Skype</td>
<td class="tr"><input type="text" size="20" name="post[skype]" id="skype" value="{$skype}"/></td>
</tr>
{/if}
<tr>
<td class="tl">Internal mail notice sound</td>
<td class="tr">
<div id="audition"></div>
<input type="radio" name="post[sound]" value="0" {if $sound==0}checked="checked"{/if} id="sound_0"/><label for="sound_0"> None</label>&nbsp;&nbsp;
<input type="radio" name="post[sound]" value="1" {if $sound==1}checked="checked"{/if} id="sound_1"/> <a href="javascript:Inner('audition', sound('message_1'));Dd('sound_1').checked=true;void(0);" title="Click to listen">Notice sound 1</a>&nbsp;&nbsp;
<input type="radio" name="post[sound]" value="2" {if $sound==2}checked="checked"{/if} id="sound_2"/> <a href="javascript:Inner('audition', sound('message_2'));Dd('sound_2').checked=true;void(0);" title="Click to listen">Notice sound 2</a>&nbsp;&nbsp;
<input type="radio" name="post[sound]" value="3" {if $sound==3}checked="checked"{/if} id="sound_3"/> <a href="javascript:Inner('audition', sound('message_3'));Dd('sound_3').checked=true;void(0);" title="Click to listen">Notice sound 3</a>&nbsp;&nbsp;
</td>
</tr>
{if $MFD}{fields_html('<td class="tl">', '<td class="tr">', $user, $MFD)}{/if}
</tbody>
<tbody id="Tabs1" style="display:none;">
<tr>
<td class="tl">Create new password</td>
<td class="tr"><input type="password" size="20" name="post[password]" id="password" onblur="validator('password');" autocomplete="off"/>&nbsp;<span class="f_gray">Please keep it blank if you are not going to change.</span> <span id="dpassword" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">Re-enter new password</td>
<td class="tr"><input type="password" size="20" name="post[cpassword]" id="cpassword" autocomplete="off"/>&nbsp;<span id="dcpassword" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">Your current password</td>
<td class="tr f_red"><input type="password" size="20" name="post[oldpassword]" id="oldpassword" autocomplete="off"/>&nbsp; Please enter current password to change a new one. <span id="doldpassword" class="f_red"></span></td>
</tr>

<tr>
<td class="tl">Create new payment password</td>
<td class="tr"><input type="password" size="20" name="post[payword]" id="payword" onblur="validator('payword');" autocomplete="off"/>&nbsp;<span class="f_gray">Please keep it blank if you are not going to change.</span> <span id="dpayword" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">Re-enter new payment password</td>
<td class="tr"><input type="password" size="20" name="post[cpayword]" id="cpayword" autocomplete="off"/>&nbsp;<span id="dcpayword" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">Your current payment password</td>
<td class="tr f_red"><input type="password" size="20" name="post[oldpayword]" id="oldpayword" autocomplete="off"/>&nbsp; Default payment password is the same with login password.&nbsp;&nbsp;<a href="send.php?action=payword"  class="t">Forgot payment password?</a><span id="doldpayword" class="f_red"></span></td>
</tr>

</tbody>
{if $_groupid > 5}
<tbody id="Tabs2" style="display:none;">
<tr>
<td class="tl">Co. Name</td>
<td class="tr f_b">{$_company}</td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span>Business Type</td>
<td class="tr">{dselect($COM_TYPE, 'post[type]', 'Select a type', $type, 'id="type"', 0)}&nbsp;<span id="dtype" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">Co. Image</td>
<td class="tr"><input name="post[thumb]" type="text" size="60" id="thumb" value="{$thumb}" readonly/>&nbsp;&nbsp;<span onclick="Dthumb({$moduleid},{$MOD[thumb_width]},{$MOD[thumb_height]}, Dd('thumb').value, true);" class="jt">[Upload]</span>&nbsp;&nbsp;<span onclick="_preview(Dd('thumb').value);" class="jt">[Preview]</span>&nbsp;&nbsp;<span onclick="Dd('thumb').value='';" class="jt">[Delete]</span><br/>
<span class="f_gray">We recommend you to use photo of general manager, office, LOGO, etc, the best size of {$MOD[thumb_width]}px*{$MOD[thumb_height]}px.</span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span>Location</td>
<td class="tr">{ajax_area_select('post[areaid]', 'Select a location', $areaid)}&nbsp;<span id="dareaid" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span>Main Business Category</td>
<td class="tr">
<div id="catesch"></div><div id="cate">{ajax_category_select('', '', 0, 4, 'size="2" style="height:80px;width:160px;"')}</div>
<input type="button" value=" ADD↓ " class="btn" onclick="addcate({$MOD[cate_max]});"/>
<input type="button" value=" ×DEL " class="btn" onclick="delcate();"/>
{if $DT[schcate_limit]}<input type="button" value=" Search " class="btn" onclick="schcate(4);"/>{/if}
&nbsp;Maximum of <strong class="f_red">{$MOD[cate_max]}</strong> main business {if $MOD[cate_max]>1}categories{else}category{/if}.
<br/><select name="cates" id="cates" size="2" style="height:100px;width:380px;margin-top:5px;">
{loop $cates $c}
<option value="{$c}">{strip_tags(cat_pos(get_cat($c), '/'))}</option>
{/loop}
</select>
<input type="hidden" name="post[catid]" value="{$catid}" id="catid"/><br/>
<span id="dcatid" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span>Main Business Scope</td>
<td class="tr"><input type="text" size="80" name="post[business]" id="business" value="{$business}" maxlength="250"/>&nbsp;<span id="dbusiness" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span>Year Established</td>
<td class="tr"><input type="text" size="15" name="post[regyear]" id="regyear" value="{$regyear}" maxlength="4"/>&nbsp;<span id="dregyear" class="f_red"></span> <span class="f_gray">(Year, such as 2013)</span></td>
</tr>
<tr>
<td class="tl">Business Market</td>
<td class="tr">
<span id="com_mode">{$mode_check}</span> <span class="f_gray">(Maximum of {$MOD[mode_max]} market{if $MOD[mode_max]>1}s{/if})</span></td>
</tr>
<tr>
<td class="tl">Scale</td>
<td class="tr">{dselect($COM_SIZE, 'post[size]', 'Select a scale', $size, '', 0)}</td>
</tr>
<tr>
<td class="tl">Capital</td>
<td class="tr">{dselect($MONEY_UNIT, 'post[regunit]', '', $regunit, '', 0)} <input type="text" size="6" name="post[capital]" id="capital" value="{$capital}"/> </td>
</tr>
<tr>
<td class="tl">We sell<br/>(Supporting services)</td>
<td class="tr"><input type="text" size="50" name="post[sell]" id="sell" value="{$sell}" maxlength="200"/> <span class="f_gray">More than 1 product or service, please user "|" to seperate.</span></td>
</tr>
<tr>
<td class="tl">We buy<br/>(Demanding services)</td>
<td class="tr"><input type="text" size="50" name="post[buy]" id="buy" value="{$buy}" maxlength="200"/> <span class="f_gray">More than 1 product or service, please user "|" to seperate.</span></td>
</tr>
{if $CFD}{fields_html('<td class="tl">', '<td class="tr">', $user, $CFD)}{/if}
</tbody>
<tbody id="Tabs3" style="display:none;">

<tr>
<td class="tl"><span class="f_red">*</span>Address</td>
<td class="tr"><input type="text" size="60" name="post[address]" id="daddress" value="{$address}" maxlength="200"/>&nbsp;<span id="ddaddress" class="f_red"></span></td>
</tr>

<tr>
<td class="tl">Postal Code</td>
<td class="tr"><input type="text" size="8" name="post[postcode]" id="postalcode" value="{$postcode}"/></td>
</tr>

<tr>
<td class="tl"><span class="f_red">*</span>TEL</td>
<td class="tr"><input type="text" size="20" name="post[telephone]" id="telephone" value="{$telephone}"/>&nbsp;<span id="dtelephone" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">Fax</td>
<td class="tr"><input type="text" size="20" name="post[fax]" id="fax" value="{$fax}"/></td>
</tr>
<tr>
<td class="tl">Official Email</td>
<td class="tr"><input type="text" size="30" name="post[mail]" id="mail" value="{$mail}"/> <span class="f_gray">[Public]</span></td>
</tr>
<tr>
<td class="tl">Website</td>
<td class="tr"><input type="text" size="30" name="post[homepage]" id="homepage" value="{$homepage}"/></td>
</tr>
</tbody>
<tbody id="Tabs4" style="display:none;">
<tr>
<td class="tl"><span class="f_red">*</span>Introduction</td>
<td class="tr"><textarea name="post[introduce]" id="introduce" class="dsn">{$introduce}</textarea>
{deditor($moduleid, 'introduce', $group_editor, '95%', 300)}<br/><span id="dintroduce" class="f_red"></span></td>
</tr>
</tbody>
{/if}
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="30"><input type="submit" name="submit" value=" Edit " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" Back " class="btn" onclick="history.back(-1);"/></td>
</tr>
</table>
</form>
{load('clear.js')}
<script type="text/javascript">
var vid = '';
function validator(id) {
	if(!Dd(id).value) return false;
	vid = id;
	makeRequest('moduleid={$moduleid}&action=member&job='+id+'&value='+Dd(id).value+'&userid={$userid}', AJPath, '_validator');
}
function _validator() {
	if(xmlHttp.readyState==4 && xmlHttp.status==200) {
		Dd('d'+vid).innerHTML = xmlHttp.responseText ? xmlHttp.responseText : '';
	}
}
function Dcheck() {
	if(Dd('truename').value == '') {
		Tab(0);
		Dmsg('Enter your first name.', 'truename');
		return false;
	}
	if(Dd('lastname').value == '') {
		Tab(0);
		Dmsg('Enter your last name.', 'truename');
		Df('lastname');
		return false;
	}	
	if(Dd('password').value != '') {
		if(Dd('cpassword').value == '') {
			Tab(1);
			Dmsg('Re-enter your password.', 'cpassword');
			return false;
		}
		if(Dd('password').value != Dd('cpassword').value) {
			Tab(1);
			Dmsg('Passwords are not the same.', 'password');
			return false;
		}
		if(Dd('oldpassword').value == '') {
			Tab(1);
			Dmsg('Enter your password.', 'oldpassword');
			return false;
		}
	}
	if(Dd('payword').value != '') {
		if(Dd('cpayword').value == '') {
			Tab(1);
			Dmsg('Re-enter your payment password.', 'cpayword');
			return false;
		}
		if(Dd('payword').value != Dd('cpayword').value) {
			Tab(1);
			Dmsg('Payment passwords are not the same.', 'payword');
			return false;
		}
		if(Dd('oldpayword').value == '') {
			Tab(1);
			Dmsg('Enter your payment password.', 'oldpayword');
			return false;
		}
	}

{if $_groupid < 6}	
	if(Dd('areaid_1').value == 0) {
		Tab(0);
		Dmsg('Select a location.', 'areaid');
		return false;
	}
{/if}

	{if $MFD}{fields_js($MFD)}{/if}
	{if $_groupid > 5}
	{if $CFD}{fields_js($CFD)}{/if}
	if(Dd('type').value == '') {
		Tab(2);
		Dmsg('Select a business type.', 'type');
		return false;
	}
	if(Dd('areaid_1').value == 0) {
		Tab(2);
		Dmsg('Select a location', 'areaid');
		return false;
	}
	if(Dd('catid').value.length < 2) {
		Tab(2);
		Dmsg('Select a main business category.', 'catid');
		return false;
	}
	if(Dd('business').value.length < 10) {
		Tab(2);
		Dmsg('Minimum of 10 characters for main business scope.', 'business');
		return false;
	}
	if(Dd('regyear').value.length < 4) {
		Tab(2);
		Dmsg('Enter the established year of your company.', 'regyear');
		return false;
	}
	if(Dd('daddress').value.length < 5) {
		Tab(3);
		Dmsg('Enter your company address for details.', 'daddress');
		return false;
	}
	if(Dd('telephone').value.length < 6) {
		Tab(3);
		Dmsg('Enter your company telephone.', 'telephone');
		return false;
	}
	if(FCKLen('introduce') < 50 || FCKLen('introduce') > 3000) {
		Tab(4);
		Dmsg('Introduction should be between 50 to 3000 characters. '+FCKLen('introduce')+' characters has been entered.', 'introduce');
		return false;
	}
	{/if}
	return true;
}
</script>
<script type="text/javascript">
s('edit');
{if $tab}
Tab({$tab});
{else}
m('Tab0');
{/if}
</script>
{template 'footer',$module}