{template 'header'}
<div class="m b10">&nbsp;</div>
<div class="m">
	<h1 class="title">{$DT[sitename]} Service List</h1>
	<table cellpadding="8" cellspacing="1" width="100%" bgcolor="#E3EEF5">
	<tr bgcolor="#F1F7FC" align="center">
	<td class="f_b px14" width="{$percent}">Features\Member Groups</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td class="f_b px14" width="{$percent}">{$v[engroupname]}</td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>Fee Mode</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>{if $v[fee_mode]}<span class="f_red">Annual Rate</span>{else}<span class="f_green">FREE</span>{/if}</td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>Annual Rate</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>{if $v[fee]}<span class="f_red"><strong>{$v[fee]}</strong> {$DT[money_unit]}/year</span>{else}--{/if}</td>
	{/if}{/loop}
	</tr>
	{if $UP}
	<tr bgcolor="#FFFFFF" align="center">
	<td>&nbsp;</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>{if isset($UP[$k])}<a href="?groupid={$v[groupid]}#up"><img src="{DT_SKIN}image/btn_upgrade.gif"/></a>{else}&nbsp;{/if}</td>
	{/if}{/loop}
	</tr>
	{/if}
	<tr bgcolor="#FFFFFF" align="center">
	<td>Message Release</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td valign="top" class="f_gray">
	{loop $DM $m}
		{if in_array($m[moduleid], $v[moduleids])}<a href="{$m[linkurl]}" target="_blank">{$m[ename]}</a> | {/if}
	{/loop}
	</td>
	{/if}
	{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>{VIP} Mark <img src="{DT_SKIN}image/vip.gif" align="absmiddle"/></td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[vip]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>Message Priority</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[vip]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>Spotlight of product</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[vip]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>Online Sales</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[trade_sell]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>Keyword Ranking</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[spread]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>Company Website</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[homepage]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>Customized Website</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[home]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>Customized Template</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[style]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>


	<tr bgcolor="#FFFFFF" align="center">
	<td>Online Service</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[ask]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>eNewsletter Subscription</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[mail]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>Email Sending</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[sendmail]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>Capacity of Inbox</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[inbox_limit] == -1}
	0
	{elseif $v[inbox_limit] == 0}
	Unlimited
	{else}
	{$v[inbox_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	
	<tr bgcolor="#FFFFFF" align="center">
	<td>Daily Internal Mails</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[message_limit] == -1}
	0
	{elseif $v[message_limit] == 0}
	Unlimited
	{else}
	{$v[message_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	
	<tr bgcolor="#FFFFFF" align="center">
	<td>Daily Inquiries</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[inquiry_limit] == -1}
	0
	{elseif $v[inquiry_limit] == 0}
	Unlimited
	{else}
	{$v[inquiry_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>Daily Quotations</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[price_limit] == -1}
	0
	{elseif $v[price_limit] == 0}
	Unlimited
	{else}
	{$v[price_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	
	<tr bgcolor="#FFFFFF" align="center">
	<td>Number of My Friends</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[friend_limit] == -1}
	0
	{elseif $v[friend_limit] == 0}
	Unlimited
	{else}
	{$v[friend_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>Number of Trade Alerts</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[alert_limit] == -1}
	0
	{elseif $v[alert_limit] == 0}
	Unlimited
	{else}
	{$v[alert_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>Number of My Favorites</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[favorite_limit] == -1}
	0
	{elseif $v[favorite_limit] == 0}
	Unlimited
	{else}
	{$v[favorite_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>

	{if $MODULE[16]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>Number of Mall products</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[mall_limit] == -1}
	0
	{elseif $v[mall_limit] == 0}
	Unlimited
	{else}
	{$v[mall_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	{if $MODULE[5]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>Number of Selling Leads</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[sell_limit] == -1}
	0
	{elseif $v[sell_limit] == 0}
	Unlimited
	{else}
	{$v[sell_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	{if $MODULE[6]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>Number of Buying Leads</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[buy_limit] == -1}
	0
	{elseif $v[buy_limit] == 0}
	Unlimited
	{else}
	{$v[buy_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

<!-- 	<tr bgcolor="#FFFFFF" align="center">
	<td>招商信息数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[info_limit] == -1}
	0
	{elseif $v[info_limit] == 0}
	Unlimited
	{else}
	{$v[info_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>

	{if $MODULE[8]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>展会信息数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[exhibit_limit] == -1}
	0
	{elseif $v[exhibit_limit] == 0}
	Unlimited
	{else}
	{$v[exhibit_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	{if $MODULE[9]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>招聘信息数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[job_limit] == -1}
	0
	{elseif $v[job_limit] == 0}
	Unlimited
	{else}
	{$v[job_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	<tr bgcolor="#FFFFFF" align="center">
	<td>新闻稿件数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[article_limit] == -1}
	0
	{elseif $v[article_limit] == 0}
	Unlimited
	{else}
	{$v[article_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>

	{if $MODULE[9]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>个人简历数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[resume_limit] == -1}
	0
	{elseif $v[resume_limit] == 0}
	Unlimited
	{else}
	{$v[resume_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	{if $MODULE[10]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>行业知道数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[know_limit] == -1}
	0
	{elseif $v[know_limit] == 0}
	Unlimited
	{else}
	{$v[know_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if} -->

	{if $MODULE[13]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>Number of Company Brands</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[brand_limit] == -1}
	0
	{elseif $v[brand_limit] == 0}
	Unlimited
	{else}
	{$v[brand_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

<!-- 	{if $MODULE[17]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>发布团购数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[group_limit] == -1}
	0
	{elseif $v[group_limit] == 0}
	Unlimited
	{else}
	{$v[group_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if} -->

	{if $MODULE[12]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>Number of Company Albums</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[photo_limit] == -1}
	0
	{elseif $v[photo_limit] == 0}
	Unlimited
	{else}
	{$v[photo_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	{if $MODULE[14]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>Number of Company Videos</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[video_limit] == -1}
	0
	{elseif $v[video_limit] == 0}
	Unlimited
	{else}
	{$v[video_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	{if $MODULE[15]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>Number of File Uploads</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[down_limit] == -1}
	0
	{elseif $v[down_limit] == 0}
	Unlimited
	{else}
	{$v[down_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	{if $UP}
	<tr bgcolor="#FFFFFF" align="center">
	<td>&nbsp;</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>{if isset($UP[$k])}<a href="?groupid={$v[groupid]}#up"><img src="{DT_SKIN}image/btn_upgrade.gif"/></a>{else}&nbsp;{/if}</td>
	{/if}{/loop}
	</tr>
	{/if}

	<tr bgcolor="#F1F7FC" align="center">
	<td class="f_b px14" width="{$percent}">Features\Member Groups</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td class="f_b px14" width="{$percent}">{$v[engroupname]}</td>
	{/if}{/loop}
	</tr>
	</table>
</div>

<div class="m b10">&nbsp;</div>

<div class="m">
<div class="m_l f_l">
	<div class="box_head"><div><strong>Upgrade Online</strong><a name="up"></a></div></div>
	<div class="box_body">
		<form method="post" action="grade.php" onsubmit="return check();">
		<input type="hidden" name="groupid" value="{$groupid}"/>
		<table cellpadding="6" cellspacing="0" width="100%">
		<tr>
		<td align="right" width="100" height="25"><span class="f_red">*</span> Upgrade to:</td>
		<td>
		<span class="f_orange f_b">
		{if $UP}
			{if $groupid}
			{$UP[$groupid][engroupname]}
			{else}
			Select a member group you want to upgrade.
			{/if}
		{else}
			Sorry! We can`t provide you member group to upgrade.
		{/if}
		</span>
		&nbsp;&nbsp;
		{if $_userid}
		Your current member group is <strong>{$GROUP[$_groupid][engroupname]}</strong>.
		{else}
		You are not logged in, suggest you <a href="{$DT[file_login]}" class="f_b">Login</a > or <a href="{$DT[file_register]}" class="f_b">Join Free</a>.
		{/if}
		</td>
		</tr>
		{if $fee}
		<tr>
		<td align="right"><span class="f_red">*</span> Price: </td>
		<td><span class="f_red f_b">{$fee}{$DT[money_unit]}/year</span></td>
		</tr>
		<tr>
		<td align="right">Coupon: </td>
		<td><input name="promo_code" type="text" id="promo_code" size="20" value="" style="border:green 2px solid;padding:2px;font-size:14px;margin:0 0 5px;" onblur="pcode(this.value);"/> 	<br/><span class="f_gray" id="code">Use Coupon can get discount or free using time for your account.</span>
		</td>
		</tr>
		{/if}
		{if $need_fee}
		<tr>
		<td align="right">Balance: </td>
		<td><span class="f_blue f_b">{$_money} {$DT[money_unit]}</span> {if $fee>$_money}&nbsp;&nbsp;Your credit is low, please <a href="charge.php?action=pay" target="_blank" class="f_b">recharge</a>.{/if}</td>
		</tr>
		{/if}
		<tr>
		<td align="right"><span class="f_red">*</span> Co. Name: </td>
		<td><input type="text" name="company" id="company" value="{$company}" size="50"/><br/><span id="dcompany" class="f_red"></span></td>
		</tr>
		<tr>
		<td align="right"><span class="f_red">*</span> Contact: </td>
		<td><input name="truename" type="text" id="truename" size="20" value="{$truename}" /> <br/><span id="dtruename" class="f_red"></span></td>
		</tr>
		<tr>
		<td align="right"><span class="f_red">*</span> TEL: </td>
		<td><input name="telephone" id="telephone" type="text" size="30" value="{$telephone}"/> <span id="dtelephone" class="f_red"></span></td>
		</tr>
		<tr>
		<td align="right">Mobile: </td>
		<td><input name="mobile" id="mobile" type="text" size="30" value="{$mobile}"/> <span id="dmobile" class="f_red"></span></td>
		</tr>
		<tr>
		<td align="right">Email: </td>
		<td><input name="email" id="email" type="text" size="30" value="{$email}" /></td>
		</tr>
		{if $DT[im_qq]}
		<tr>
		<td align="right">QQ: </td>
		<td><input name="qq" type="text" size="20" value="{$qq}"/></td>
		</tr>
		{/if}
		{if $DT[im_ali]}
		<tr>
		<td align="right">阿里旺旺: </td>
		<td><input name="ali" type="text" size="20" value="{$ali}"/></td>
		</tr>
		{/if}
		{if $DT[im_msn]}
		<tr>
		<td align="right">MSN: </td>
		<td><input name="msn" type="text" size="30" value="{$msn}"/></td>
		</tr>
		{/if}
		{if $DT[im_skype]}
		<tr>
		<td align="right">Skype: </td>
		<td><input name="skype" type="text" size="20" value="{$skype}"/></td>
		</tr>
		{/if}
		<tr>
		<td align="right">Remark: </td>
		<td>
		<textarea style="width:400px;height:60px;" name="content" id="content"></textarea><br/>
		<span id="dcontent" class="f_red"></span>- 500 characters limit
		</td>
		</tr>
		<tr>
		<td align="right"> </td>
		<td><input type="submit" name="submit" value=" Upgrade "{if !$could_up} disabled{/if}/></td>
		</tr>
		</table>
		</form>
	</div>
</div>
<div class="m_n f_l">&nbsp;</div>
<div class="m_r f_l">
	<div class="box_head_1"><div><strong>Instructions: </strong></div></div>
	<div class="box_body">
		<div style="line-height:24px;font-size:13px;padding:5px;">
		- Please call service staff if you have any questions about member upgrade.<br/>
		&nbsp;&nbsp;Hotline: {$DT[telephone]}<br/>
		</div>
	</div>
	<div class="b10"> </div>
	<div class="box_head_1"><div><span class="f_r"><a href="{$MODULE[4][linkurl]}{rewrite('search.php?vip=1')}">More..</a></span><strong>Latest {VIP}</strong></div></div>
	<div class="box_body li_dot f_gray">
		<div id="vips" style="height:220px;overflow:hidden;">
		<!--{tag("moduleid=4&condition=vip>0&areaid=$cityid&pagesize=20&order=fromtime desc&template=list-com")}-->
		</div>
	</div>
</div>
</div>

<script type="text/javascript" src="{DT_PATH}file/script/marquee.js"></script>
<script type="text/javascript">
new dmarquee(22, 20, 2000, 'vips');
function pcode(s) {
	if(s.length > 4) {
		makeRequest('action={crypt_action('promo')}&code='+s, '?', '_pcode');
	}
}
function _pcode() {
	if(xmlHttp.readyState==4 && xmlHttp.status==200) {
		if(xmlHttp.responseText) Dd('code').innerHTML = '<span class="f_red">'+xmlHttp.responseText+'</span>';
	}
}
function check() {
	{if !$could_up}
	return false;
	{/if}
	if(Dd('company').value.length < 2) {
		Dmsg('Enter the full name of your company.', 'company');
		return false;
	}
	if(Dd('truename').value.length < 2) {
		Dmsg('Enter a contact name.', 'truename');
		return false;
	}
	if(Dd('telephone').value.length < 6) {
		Dmsg('Enter a TEL.', 'telephone');
		return false;
	}
	if(Dd('content').value.length > 500) {
		Dmsg('Maximum of 500 characters for postscripts. '+Dd('content').value.length+' characters has been entered.', 'content');
		return false;
	}
	return confirm('Are you sure to submit the upgrade request?');
}
</script>
{template 'footer'}