{template 'header', $module}
<script type="text/javascript">c(1);</script>
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab" id="my"><a href="mail.php"><span>eNewsletter Subscription</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="list"><a href="mail.php?action=list"><span>Issue List</span></a></td>
</tr>
</table>
</div>
{if $action == 'list'}
<div class="ls">
<table cellpadding="0" cellspacing="0" class="tb">
<tr>
<th width="40">&nbsp;</th>
<th>Title</th>
<th>Category</th>
<th>Released Date</th>
</tr>
{loop $mails $k $v}
<tr onmouseover="this.className='on';" onmouseout="this.className='';" align="center">
<td><img src="image/message_0.gif" width="16" height="16" alt=""/></td>
<td align="left"><a href="mail.php?action=show&itemid={$v[itemid]}" class="t">{$v[title]}</a></td>
<td>{$TYPE[$v['typeid']]['typename']}</td>
<td class="px11 f_gray" title="Updated Date: {$v[editdate]}">{$v[adddate]}</td>
</tr>
{/loop}
</table>
</div>
<div class="pages">{$pages}</div>
<script type="text/javascript">s('mail');m('list');</script>
{elseif $action == 'show'}
<table cellspacing="1" cellpadding="6" class="tb">
<tr>
<td class="tl">Title</td>
<td class="tr f_b">{$r[title]}</td>
</tr>
<tr>
<td class="tl">Content</td>
<td class="tr" style="line-height:180%;padding:10px;font-size:13px;">{$r[content]}</td>
</tr>
<tr>
<td class="tl">Released Date</td>
<td class="tr f_gray px11">{$r[adddate]}</td>
</tr>
<tr>
<td class="tl">Updated Date</td>
<td class="tr f_gray px11">{$r[editdate]}</td>
</tr>
</table>
<script type="text/javascript">s('mail');m('list');</script>
{else}
<form method="post" action="mail.php">
<table cellspacing="1" cellpadding="6" class="tb">
<tr>
<td class="tl">Instructions:</td>
<td class="tr f_gray">
1. Choose the category you are interested in and click `subscribe`. Trade Alerts will be sent to your registered mailbox periodically.<br/>
2、取消某個分類先去掉其選中（新增某個分類直接將其選中），然後點擊訂閱即可更新。<br/>
3. Click `Cancel` to unsubscribe all issues.<br/>
4、Notice! More different issues would be updated.<br/>
5、如果無法正常收到郵件，請將 <span class="f_blue">{$DT[mail_sender]}</span> 加入您的郵件白名單。<br/>
</td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> Category</td>
<td class="tr">
	{if $TYPE}
	<table cellspacing="2" cellpadding="3" width="100%">
	{loop $TYPE $k $v}
	{if $k%4==0}<tr>{/if}
	<td><input type="checkbox" name="typeids[]" value="{$v[typeid]}" id="type_{$v[typeid]}" {if in_array($v[typeid], $mytypeids)}checked{/if}/><label for="type_{$v[typeid]}"> {$v[typename]}</label></td>
	{if $k%4==3}</tr>{/if}
	{/loop}
	</table>
	{else}
	<span class="f_red">無法完成訂閱，系統暫無商機分類</span>
	{/if}
</td>
</tr>
<tr>
<td class="tl">Email Address </td>
<td class="tr"><strong>{$_email}</strong>{if $r}&nbsp;&nbsp;<span class="f_gray">[ Subscription Date: {$addtime}&nbsp;Last Updated Date: {$edittime} ]</span>{/if}</td>
</tr>
<tr>
<td class="tl"> </td>
<td class="tr" height="50"><input type="submit" name="submit" value=" Subscribe " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" Cancel " class="btn" onclick="if(confirm('Are you sure to unsubscribe all subscriptions?')) window.location='?action=cancel';"/></td>
</tr>
</table>
</form>
<script type="text/javascript">s('mail');m('my');</script>
{/if}
{template 'footer', $module}