{template 'header', $module}
<script type="text/javascript">c(0);</script>
{if $MYMODS}
{if $_userid}
<div class="warn">Dear <strong>{$MG[engroupname]}</strong>, you can do such thing like.., lets start to do it</div>
{else}
<div class="warn">You are not logged in, some of {$DT[sitename]} features and services maybe have certain restrictions, suggest to <a href="{$MODULE[2][linkurl]}{$DT[file_login]}" class="f_b t">Login</a> or <a href="{$MODULE[2][linkurl]}{$DT[file_register]}" class="f_b t">Join Free</a>.</div>
{/if}
<table cellspacing="1" cellpadding="10" class="tb">
{loop $MYMODS $v}
{if $v == 9}
<tr>
<td class="tl"><a href="{$MODULE[$v][linkurl]}" target="_blank">Wanted</a></td>
<td class="tr">
{if $_userid}<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$v}" class="b">Manage</a>&nbsp;&nbsp;{/if}
<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$v}&action=add" class="b">Post</a>
</td>
</tr>
{elseif $v==-9}
<tr>
<td class="tl"><a href="{$MODULE[9][linkurl]}" target="_blank">Resume</a></td>
<td class="tr">
{if $_userid}<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid=9&resume=1" class="b">Manage</a>&nbsp;&nbsp;{/if}
<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid=9&action=add&resume=1" class="b">Post</a>
</td>
</tr>
{else}
<tr>
<td class="tl"><a href="{$MODULE[$v][linkurl]}" target="_blank">{$MODULE[$v][ename]}</a></td>
<td class="tr">
{if $_userid}<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$v}" class="b">Manage</a>&nbsp;&nbsp;{/if}
<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$v}&action=add" class="b">Post</a>
</td>
</tr>
{/if}
{/loop}
</table>
{else}
	{if $_userid}
	<div class="warn">Dear <strong>{$MG[engroupname]}</strong>, sorry! your member group can not do it, lets go back.&nbsp;&nbsp;<a href="{$MODULE[2][linkurl]}" class="t f_b">Back to My ImB2B</a></div>
	{else}
	<div class="warn">You are not logged in yet, to post new lead need to <a href="{$MODULE[2][linkurl]}{$DT[file_login]}" class="f_b t">Login NOW</a> or <a href="{$MODULE[2][linkurl]}{$DT[file_register]}" class="f_b t">Join FREE</a></div>
	{/if}
{/if}
{template 'footer', $module}