{template 'header', $module}
<script type="text/javascript">c(0);</script>
{if $MYMODS}
{if $_userid}
<div class="warn">尊敬的<strong>{$MG[groupname]}</strong>，您目前擁有以下欄目的發佈權限，請選擇發佈</div>
{else}
<div class="warn">You are not logged in, some of {$DT[sitename]} features and services maybe have certain restrictions, suggest to <a href="{$MODULE[2][linkurl]}{$DT[file_login]}" class="f_b t">Login</a> or <a href="{$MODULE[2][linkurl]}{$DT[file_register]}" class="f_b t">Join Free</a>.</div>
{/if}
<table cellspacing="1" cellpadding="10" class="tb">
{loop $MYMODS $v}
{if $v == 9}
<tr>
<td class="tl"><a href="{$MODULE[$v][linkurl]}" target="_blank">Wanted</a></td>
<td class="tr">
{if $_userid}<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$v}" class="b">Manage</a>&nbsp;&nbsp;{/if}
<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$v}&action=add" class="b">Post</a>
</td>
</tr>
{elseif $v==-9}
<tr>
<td class="tl"><a href="{$MODULE[9][linkurl]}" target="_blank">Resume</a></td>
<td class="tr">
{if $_userid}<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid=9&resume=1" class="b">Manage</a>&nbsp;&nbsp;{/if}
<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid=9&action=add&resume=1" class="b">Post</a>
</td>
</tr>
{else}
<tr>
<td class="tl"><a href="{$MODULE[$v][linkurl]}" target="_blank">{$MODULE[$v][ename]}</a></td>
<td class="tr">
{if $_userid}<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$v}" class="b">Manage</a>&nbsp;&nbsp;{/if}
<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$v}&action=add" class="b">Post</a>
</td>
</tr>
{/if}
{/loop}
</table>
{else}
	{if $_userid}
	<div class="warn">尊敬的<strong>{$MG[groupname]}</strong>，您的會員組沒有在本站發佈信息的權限，請返回。&nbsp;&nbsp;<a href="{$MODULE[2][linkurl]}" class="t f_b">點擊返回商務中心首頁</a></div>
	{else}
	<div class="warn">您還沒有登錄，目前沒有信息發佈權限，建議您 <a href="{$MODULE[2][linkurl]}{$DT[file_login]}" class="f_b t">立即登錄</a> 或 <a href="{$MODULE[2][linkurl]}{$DT[file_register]}" class="f_b t">註冊會員</a></div>
	{/if}
{/if}
{template 'footer', $module}