{template 'header', 'member'}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab" id="add"><a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$mid}&action=add"><span>Add Product</span></a></td>
{if $_userid}
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="s3"><a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$mid}"><span>For sale<span class="px10">({$nums[3]})</span></span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="s2"><a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$mid}&status=2"><span>Pending<span class="px10">({$nums[2]})</span></span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="s1"><a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$mid}&status=1"><span>Rejected<span class="px10">({$nums[1]})</span></span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="s4"><a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$mid}&status=4"><span>Removed<span class="px10">({$nums[4]})</span></span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="type"><a href="{$MODULE[2][linkurl]}trade.php"><span>Order management<span class="px10">({$nums[9]})</span></span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="type"><a href="{$MODULE[2][linkurl]}type.php?item=mall"><span>Category<span class="px10">({$nums[0]})</span></span></a></td>
{/if}
</tr>
</table>
</div>
{if $action=='add' || $action=='edit'}
<iframe src="" name="send" id="send" style="display:none;"></iframe>
<form method="post" id="dform" action="{$MODULE[2][linkurl]}{$DT[file_my]}" target="send" onsubmit="return check();">
<input type="hidden" name="action" value="{$action}"/>
<input type="hidden" name="mid" value="{$mid}"/>
<input type="hidden" name="itemid" value="{$itemid}"/>
<input type="hidden" name="forward" value="{$forward}"/>
<table cellpadding="6" cellspacing="1" class="tb">
{if $status==1 && $action=='edit' && $note}
<tr>
<td class="tl"> Rejected Reason</td>
<td class="tr f_blue">{$note}</td>
</tr>
{/if}
<tr>
<td class="tl"><span class="f_red">*</span> Category</td>
<td class="tr"><div id="catesch"></div>{ajax_category_select('post[catid]', '', $catid, $moduleid, 'size="2" style="height:120px;width:180px;"')}<br/>{if $DT[schcate_limit]}<input type="button" value="Search" onclick="schcate({$moduleid});" class="btn"/> {/if}<span id="dcatid" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> Product Name</td>
<td class="tr f_gray"><input name="post[title]" type="text" id="title" size="50" value="{$title}"/> (2-100 characters)<span id="dtitle" class="f_red"></span></td>
</tr>
{if $action=='add' && $could_color}
<tr>
<td class="tl">Color of Title</td>
<td class="tr">
{dstyle('style')}&nbsp;
To set the color you need to pay <strong class="f_red">{$MOD[credit_color]}</strong> {$DT[credit_ename]}
</td>
</tr>
{/if}
<tr>
<td class="tl"><span class="f_red">*</span> Price</td>
<td class="tr"><input name="post[price]" type="text" size="10" value="{$price}" id="price"/><span id="dprice" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> In stock</td>
<td class="tr"><input name="post[amount]" type="text" size="10" value="{$amount}" id="amount"/><span id="damount" class="f_red"></span></td>
</tr>
{if $CP}
<script type="text/javascript">
var property_catid = {$catid};
var property_itemid = {$itemid};
var property_admin = 0;
</script>
<script type="text/javascript" src="{DT_PATH}file/script/property.js"></script>
{if $itemid}<script type="text/javascript">setTimeout("load_property()", 1000);</script>{/if}
<tbody id="load_property" style="display:none;">
<tr><td></td><td></td></tr>
</tbody>
{/if}
<tr>
<td class="tl">Brand</td>
<td class="tr"><input name="post[brand]" type="text" size="30" value="{$brand}"/></td>
</tr>
{if $FD}{fields_html('<td class="tl">', '<td class="tr">', $item)}{/if}

<tr>
<td class="tl">Images</td>
<td class="tr">
	<input type="hidden" name="post[thumb]" id="thumb" value="{$thumb}"/>
{if $IMVIP || !$MG[uploadpt]}
	<input type="hidden" name="post[thumb1]" id="thumb1" value="{$thumb1}"/>
	<input type="hidden" name="post[thumb2]" id="thumb2" value="{$thumb2}"/>
{/if}
	<table width="360">
	<tr align="center" height="120" class="c_p">
	<td width="120"><img src="{if $thumb}{$thumb}{else}{DT_SKIN}image/waitpic.gif{/if}" id="showthumb" title="Preview" alt="" onclick="if(this.src.indexOf('waitpic.gif') == -1){_preview(Dd('showthumb').src, 1);}else{Dalbum('',{$moduleid},{$MOD[thumb_width]},{$MOD[thumb_height]}, Dd('thumb').value, true);}"/></td>
{if $IMVIP || !$MG[uploadpt]}
	<td width="120"><img src="{if $thumb1}{$thumb1}{else}{DT_SKIN}image/waitpic.gif{/if}" id="showthumb1" title="Preview" alt="" onclick="if(this.src.indexOf('waitpic.gif') == -1){_preview(Dd('showthumb1').src, 1);}else{Dalbum(1,{$moduleid},{$MOD[thumb_width]},{$MOD[thumb_height]}, Dd('thumb1').value, true);}"/></td>

	<td width="120"><img src="{if $thumb2}{$thumb2}{else}{DT_SKIN}image/waitpic.gif{/if}" id="showthumb2" title="Preview" alt="" onclick="if(this.src.indexOf('waitpic.gif') == -1){_preview(Dd('showthumb2').src, 1);}else{Dalbum(2,{$moduleid},{$MOD[thumb_width]},{$MOD[thumb_height]}, Dd('thumb2').value, true);}"/></td>
{else}
	<td width="120"><a href="{$MODULE[2][linkurl]}grade.php" target="_blank"><img src="{DT_SKIN}image/vippic.gif"/></a></td>
	<td width="120"><a href="{$MODULE[2][linkurl]}grade.php" target="_blank"><img src="{DT_SKIN}image/vippic.gif"/></a></td>
{/if}
	</tr>
	<tr align="center" class="c_p">
	<td><img src="image/img_upload.gif" width="12" height="12" title="Upload" onclick="Dalbum('',{$moduleid},{$MOD[thumb_width]},{$MOD[thumb_height]}, Dd('thumb').value, true);"/>&nbsp;&nbsp;<img src="image/img_select.gif" width="12" height="12" title="Select" onclick="selAlbum('');"/>&nbsp;&nbsp;<img src="image/img_delete.gif" width="12" height="12" title="Delete" onclick="delAlbum('','wait');"/></td>
{if $IMVIP || !$MG[uploadpt]}
	<td><img src="image/img_upload.gif" width="12" height="12" title="Upload" onclick="Dalbum(1,{$moduleid},{$MOD[thumb_width]},{$MOD[thumb_height]}, Dd('thumb1').value, true);"/>&nbsp;&nbsp;<img src="image/img_select.gif" width="12" height="12" title="Select" onclick="selAlbum(1);"/>&nbsp;&nbsp;<img src="image/img_delete.gif" width="12" height="12" title="Delete" onclick="delAlbum(1,'wait');"/></td>
	<td><img src="image/img_upload.gif" width="12" height="12" title="Upload" onclick="Dalbum(2,{$moduleid},{$MOD[thumb_width]},{$MOD[thumb_height]}, Dd('thumb2').value, true);"/>&nbsp;&nbsp;<img src="image/img_select.gif" width="12" height="12" title="Select" onclick="selAlbum(2);"/>&nbsp;&nbsp;<img src="image/img_delete.gif" width="12" height="12" title="Delete" onclick="delAlbum(2,'wait');"/></td>
{else}
	<td onclick="if(confirm(' Upgrade {VIP} to do it now!')) Go('{$MODULE[2][linkurl]}grade.php');"><img src="image/img_upload.gif" width="12" height="12" title="Upload"/>&nbsp;&nbsp;<img src="image/img_select.gif" width="12" height="12" title="Select"/>&nbsp;&nbsp;<img src="image/img_delete.gif" width="12" height="12" title="Delete"/></td>
	<td onclick="if(confirm(' Upgrade {VIP} to do it now!')) Go('{$MODULE[2][linkurl]}grade.php');"><img src="image/img_upload.gif" width="12" height="12" title="Upload"/>&nbsp;&nbsp;<img src="image/img_select.gif" width="12" height="12" title="Select"/>&nbsp;&nbsp;<img src="image/img_delete.gif" width="12" height="12" title="Delete"/></td>
{/if}
	</tr>
	</table>
	<span id="dthumb" class="f_red"></span>
</td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> Description</td>
<td class="tr f_gray"><textarea name="post[content]" id="content" class="dsn">{$content}</textarea>
{deditor($moduleid, 'content', $group_editor, '98%', 350)}<br/>
<span id="dcontent" class="f_red"></span>
</td>
</tr>
{if $MOD[swfu] == 1}
{php include DT_ROOT.'/file/swfupload/editor_en.inc.php';}
{/if}
<tr{if !$_userid} style="display:none;"{/if}>
<td class="tl">Customize category</td>
<td class="tr">{$mycatid_select}&nbsp; <a href="{$MODULE[2][linkurl]}type.php?item=mall" class="t" target="_blank">[Manage]</a></td>
</tr>
<tr{if !$_userid} style="display:none;"{/if}>
<td class="tl">My recommend</td>
<td class="tr">
<input type="radio" name="post[elite]" value="1"{if $elite} checked{/if}/> Yes
&nbsp;&nbsp;&nbsp;&nbsp;
<input type="radio" name="post[elite]" value="0"{if !$elite} checked{/if}/> No
</td>
</tr>
{if $fee_add}
<tr>
<td class="tl">release it you need to pay</td>
<td class="tr"><span class="f_b f_red">{$fee_add}</span> {$fee_unit}</td>
</tr>
{if $fee_currency == 'money'}
<tr>
<td class="tl">{$DT[money_ename]} Balance</td>
<td class="tr"><span class="f_blue f_b">{$_money}{$fee_unit}</span> <a href="{$MODULE[2][linkurl]}charge.php?action=pay" target="_blank" class="t">[Topup]</a></td>
</tr>
{else}
<tr>
<td class="tl">{$DT[credit_ename]} Balance</td>
<td class="tr"><span class="f_blue f_b">{$_credit}{$fee_unit}</span> <a href="{$MODULE[2][linkurl]}credit.php?action=buy" target="_blank" class="t">[Buy]</a></td>
</tr>
{/if}
{/if}
{if $need_password}
<tr>
<td class="tl"><span class="f_red">*</span> Payment Password</td>
<td class="tr">{template 'password', 'chip'} <span id="dpassword" class="f_red"></span></td>
</tr>
{/if}
{if $need_question}
<tr>
<td class="tl"><span class="f_red">*</span> Security Question</td>
<td class="tr">{template 'question', 'chip'} <span id="danswer" class="f_red"></span></td>
</tr>
{/if}
{if $need_captcha}
<tr>
<td class="tl"><span class="f_red">*</span> Security Code</td>
<td class="tr">{template 'captcha', 'chip'} <span id="dcaptcha" class="f_red"></span></td>
</tr>
{/if}
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="50"><input type="submit" name="submit" value="submit " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" Back " class="btn" onclick="history.back(-1);"/></td>
</tr>
</table>
</form>
{load('clear.js')}
{if $action=='add'}
<script type="text/javascript">s('mid_{$mid}');m('{$action}');</script>
{else}
<script type="text/javascript">s('mid_{$mid}');m('s{$status}');</script>
{/if}
{else}
<div class="tt">
<form action="{$MODULE[2][linkurl]}{$DT[file_my]}">
<input type="hidden" name="mid" value="{$mid}"/>
<input type="hidden" name="status" value="{$status}"/>
&nbsp;{category_select('catid', 'category', $catid, $moduleid)}&nbsp;
{$mycat_select}&nbsp;
<input type="text" size="30" name="kw" value="{$kw}" title="Keyword"/>&nbsp;
{$order_select}&nbsp;
<input type="submit" value="Search" class="btn"/>
<input type="button" value=" Reset " class="btn" onclick="window.location='{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$mid}&status={$status}';"/>
<div class="b10"></div>
&nbsp;Price: <input type="text" size="3" name="minprice" value="<?php echo $minprice;?>"/> ~ <input type="text" size="3" name="maxprice" value="<?php echo $maxprice;?>"/>&nbsp;
Order: <input type="text" size="3" name="minorders" value="<?php echo $minorders;?>"/> ~ <input type="text" size="3" name="maxorders" value="<?php echo $maxorders;?>"/>&nbsp;
Sold: <input type="text" size="3" name="minsales" value="<?php echo $minsales;?>"/> ~ <input type="text" size="3" name="maxsales" value="<?php echo $maxsales;?>"/>&nbsp;
Available: <input type="text" size="3" name="minamount" value="<?php echo $minamount;?>"/> ~ <input type="text" size="3" name="maxamount" value="<?php echo $maxamount;?>"/>&nbsp;
Comments: <input type="text" size="3" name="mincomments" value="<?php echo $mincomments;?>"/> ~ <input type="text" size="3" name="maxcomments" value="<?php echo $maxcomments;?>"/>&nbsp;
</form>
</div>
<div class="ls">
<form method="post">
<table cellpadding="0" cellspacing="0" class="tb">
<tr>
<th width="20"><input type="checkbox" onclick="checkall(this.form);"/></th>
<th width="60">Image</th>
<th>Product</th>
<th>Price</th>
<th>Order</th>
<th>Available</th>
<th>In Stock</th>
<th>Comments</th>
<th>Popularity</th>
<th width="100">manage</th>
</tr>
{loop $lists $k $v}
<tr onmouseover="this.className='on';" onmouseout="this.className='';" align="center">
<td><input type="checkbox" name="itemid[]" value="{$v[itemid]}"/></td>
<td><a href="javascript:_preview('{$v[thumb]}');"><img src="{if $v[thumb]}{$v[thumb]}{else}{DT_SKIN}image/nopic50.gif{/if}" width="50" class="thumb"/></a></td>
<td align="left" title="{$v[alt]}"><ul><li>&nbsp;{if $v[elite]}<span class="f_red" title="Show it on your homepage">[YES]</span> {/if}{if $v[status]>2}<a href="{$v[linkurl]}" target="_blank" class="t">{else}<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$mid}&action=edit&itemid={$v[itemid]}" class="t">{/if}{$v[title]}</a>{if $v[status]==1 && $v[note]} <a href="javascript:" onclick="alert('{$v[note]}');"><img src="image/why.gif" title="REASON WHY"/></a>{/if}</li><li title="Update {timetodate($v[edittime], 5)} Add time {timetodate($v[addtime], 5)}" class="px11 f_gray">&nbsp;{if $timetype=='add'}{timetodate($v[addtime], 5)}{else}{timetodate($v[edittime], 5)}{/if}</li></ul></td>
<td class="f_price">{$v[price]}</td>
<td class="px11{if $v[orders]>0} f_blue f_b c_p" title="Check Order" onclick="Go('{$MODULE[2][linkurl]}trade.php?mallid={$v[itemid]}');{/if}">{$v[orders]}</td>
<td class="px11">{$v[sales]}</td>
<td class="px11{if $v[amount]<5} f_red f_b" title="Out of stock{/if}">{$v[amount]}</td>
<td class="px11">{$v[comments]}</td>
<td class="px11">{$v[hits]}</td>
<td>
<a href="{$MODULE[2][linkurl]}trade.php?mallid={$v[itemid]}"><img width="16" height="16" src="image/order.gif" title="Order Management" alt=""/></a>
<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$mid}&action=edit&itemid={$v[itemid]}"><img width="16" height="16" src="image/edit.png" title="Modify" alt=""/></a>
{if $MG[copy]}&nbsp;<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$mid}&action=add&itemid={$v[itemid]}&catid={$v[catid]}"><img width="16" height="16" src="image/new.png" title="Copy Message" alt=""/></a>{/if}
{if $MG[delete]}&nbsp;<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$mid}&action=delete&itemid={$v[itemid]}" onclick="return confirm('Are you sure you want to delete it?');"><img width="16" height="16" src="image/delete.png" title="Delete" alt=""/></a>{/if}
</td>
</tr>
{/loop}
</table>
</div>
{if $MG[delete] || $timetype!='add'}
<div class="btns">
{if $MG[delete]}
<span class="f_r"><input type="submit" value=" Select to delete " class="btn" onclick="if(confirm('Are you sure to delete{$MOD[name]}？')){this.form.action='?mid={$mid}&status={$status}&action=delete'}else{return false;}"/></span>
{/if}
{if $status==3}<input type="submit" value=" Remove more than 2 products " class="btn" onclick="this.form.action='?mid={$mid}&status={$status}&action=unsale';"/>&nbsp;{/if}
{if $status==4}<input type="submit" value=" Upload more than 2 products " class="btn" onclick="this.form.action='?mid={$mid}&status={$status}&action=onsale';"/>&nbsp;{/if}
{if $timetype!='add'}
<input type="submit" value=" Refresh " class="btn" onclick="this.form.action='?mid={$mid}&status={$status}&action=refresh';"/>
{if $MOD[credit_refresh]}
To refresh you need to pay  <strong class="f_red">{$MOD[credit_refresh]}</strong> {$DT[credit_name]}，can not do that when out of {$DT[credit_name]}
{/if}
{/if}
</div>
{/if}
</form>
{if $MG[mall_limit] || (!$MG['fee_mode'] && $MOD[fee_add])}
<div class="limit">
{if $MG[mall_limit]}
you can send <span class="f_b f_red">{$MG[mall_limit]}</span> &nbsp;&nbsp;&nbsp;
You`ve sent <span class="f_b">{$limit_used}</span> &nbsp;&nbsp;&nbsp;
<span class="f_b f_blue">{$limit_free}</span> available&nbsp;&nbsp;&nbsp;
{/if}
{if !$MG['fee_mode'] && $MOD[fee_add]}
To release it you need to pay <span class="f_b f_red">{$MOD[fee_add]}</span> {if $MOD[fee_currency] == 'money'}{$DT[money_unit]}{else}{$DT[credit_unit]}{/if}/&nbsp;&nbsp;&nbsp;
you can do it for free <span class="f_b">{if $MG[mall_free_limit]<0}unlimited{else}{$MG[mall_free_limit]}{/if}</span> &nbsp;&nbsp;&nbsp;
{/if}
</div>
{/if}
<div class="pages">{$pages}</div>
<script type="text/javascript">s('mid_{$mid}');m('s{$status}');</script>
{/if}
{if $action == 'add' || $action == 'edit'}
<script type="text/javascript">
function _p() {
	if(Dd('tag').value) {
		Ds('reccate');
	}
}
function check() {
	var l;
	var f;
	f = 'catid_1';
	if(Dd(f).value == 0) {
		Dmsg('Select a category.', 'catid', 1);
		return false;
	}
	f = 'title';
	l = Dd(f).value.length;
	if(l < 2 || l > 100) {
		Dmsg('Min.2/Max.100. Current '+l+'.', f);
		return false;
	}
	f = 'price';
	l = Dd(f).value;
	if(l < 0.1) {
		Dmsg('Please fill in price.', f);
		return false;
	}
	f = 'amount';
	l = Dd(f).value;
	if(l < 1) {
		Dmsg('Please fill in quantity.', f);
		return false;
	}
	f = 'thumb';
	l = Dd(f).value.length;
	if(l < 5) {
		Dmsg('Upload your image.', f);
		return false;
	}
	f = 'content';
	l = FCKLen();
	if(l < 15 || l > 50000) {
		Dmsg('Specification should be 15-50000 characters. Current '+l+'.', f);
		return false;
	}
	{if $FD}{fields_js()}{/if}
	if(Dd('property_require') != null) {
		var ptrs = Dd('property_require').getElementsByTagName('option');
		for(var i = 0; i < ptrs.length; i++) {		
			f = 'property-'+ptrs[i].value;
			if(Dd(f).value == 0 || Dd(f).value == '') {
				Dmsg('Please fill in or select'+ptrs[i].innerHTML, f);
				return false;
			}
		}
	}
{if $need_password}
	f = 'password';
	l = Dd(f).value.length;
	if(l < 6) {
		Dmsg('Enter your payment password.', f);
		return false;
	}
{/if}
{if $need_question}
	f = 'answer';
	l = Dd(f).value.length;
	if(l < 1) {
		Dmsg('Answer the security question.', f);
		return false;
	}
	if(Dd('c'+f).innerHTML.indexOf('error') != -1) {
		Dd(f).focus();
		return false;
	}
{/if}
{if $need_captcha}
	f = 'captcha';
	l = Dd(f).value;
	if(!is_captcha(l)) {
		Dmsg('Enter security code.', f);
		return false;
	}
	if(Dd('c'+f).innerHTML.indexOf('error') != -1) {
		Dd(f).focus();
		return false;
	}
{/if}
	return true;
}
</script>
{/if}
{template 'footer', 'member'}