{template 'header'}
<style type="text/css">
.tl{width:150px;text-align:right;padding-right:20px;}
.reg_title {border-bottom:#CCCCCC 1px solid;font-weight:bold;padding:0 0 10px 10px;margin:15px 55px 0 55px;font-size:14px;color:#FF6600;}
.reg_inp {border:#7F9DB9 1px solid;padding:3px 0 3px 0;}
.tips {position:absolute;z-index:1000;width:300px;background:url('image/tips_bg.gif') no-repeat 0 bottom;overflow:hidden;margin:-5px 0 0 -10px;}
.tips div{background:url('image/tips_top.gif') no-repeat;line-height:22px;padding:8px 10px 8px 35px;}
</style>
<div class="m">
	<div class="left_box">
	<!-- <div class="pos">當前位置: <a href="{$MODULE[1][linkurl]}">首頁</a> &raquo; <a href="{$DT[file_register]}">會員註冊</a></div> -->
	<div style="padding:20px 50px 20px 50px;">
		<div style="background:#FAFAFA;padding:10px 20px 10px 20px;line-height:24px;">
		<span class="f_b">
		&raquo; Already a member? Please <a href="{$DT[file_login]}">click here to login</a>.&nbsp;
		&raquo; Forgot your password? Please <a href="send.php">click here to find</a>.&nbsp;
		{if $MOD[checkuser] == 2}
		&raquo; <span class="f_red">Did not receive your validation email? </span>Please <a href="send.php?action=check">click here to re-send.</a>
		{/if}
		</span>
		<br/>
		<span class="f_gray">- Please carefully fill in the following information and serious business information to help you get the confidence of others, meet potential business partners, obtain business opportunities! <br /> - Fill out each field in <strong>English only</strong>. <span class="f_red">*</span> are required.		
		</span>
		</div>
		<br/>
			<iframe src="" name="send" id="send" style="display:none;"></iframe>
			<form action="{$DT[file_register]}" method="post" target="send" onsubmit="return check();">
			<input name="action" type="hidden" id="action" value="{crypt_action('register')}"/>
			<input name="forward" type="hidden" value="{$forward}"/>
			<div class="reg_title">Account Information</div>
			<table cellpadding="5" cellspacing="5" width="100%">
			<tr>
			<td class="tl">Member Type <span class="f_red">*</span></td>
			<td>
			<input type="radio" name="post[regid]" value="6" id="g_6"onclick="reg(1);" checked/><label for="g_6"> {$GROUP[6][groupname]}</label>&nbsp;&nbsp;&nbsp;&nbsp;
			{loop $GROUP $k $v}
			{if $k>6 && $v[vip]==0 && $v[reg]==1}<input type="radio" name="post[regid]" value="{$k}" id="g_{$k}" onclick="reg(1);"/><label for="g_{$k}"> {$GROUP[$k][groupname]}</label>&nbsp;&nbsp;&nbsp;&nbsp;{/if}{/loop}
			<span{if !$GROUP[5][reg]} class="dsn"{/if}>
			<input type="radio" name="post[regid]" value="5" id="g_5"onclick="reg(0);"/><label for="g_5"> {$GROUP[5][groupname]}</label>
			</span>
			</td>
			</tr>
			<table cellpadding="5" cellspacing="5" width="100%">
			<tr onmouseover="Ds('tusername');" onmouseout="Dh('tusername');">
			<td class="tl">Username <span class="f_red">*</span></td>
			<td width="220"><input type="text" class="reg_inp" style="width:200px;" name="post[username]" id="username" onblur="validator('username');"{if $username} value="{$username}" readonly{/if}/>
			</td>
			<td>
			<div class="tips" id="tusername" style="display:none;">
				<div>{$MOD[minusername]}-{$MOD[maxusername]} characters, use only lowercase letters(a-z), numbers(0-9), and begin with a letter</div>
			</div>
			<span id="dusername" class="f_red"></span>&nbsp;
			</td>
			</tr>
			{if $MOD[passport] && $passport}
			<tr onmouseover="Ds('tpassport');" onmouseout="Dh('tpassport');">
			<td class="tl">Passport &nbsp;</td>
			<td><input type="text" class="reg_inp" style="width:200px;" name="post[passport]" id="passport" onblur="validator('passport');"{if $passport} value="{$passport}" readonly{/if}/></td>
			<td>
			<div class="tips" id="tpassport" style="display:none;">
				<div>Chinese name is accepted as username in forum system.<br />It will remain the same with username if you don`t fill in.</div>
			</div>
			<span id="dpassport" class="f_red"></span>&nbsp;
			</td>
			</tr>
			{/if}
			<tr onmouseover="Ds('tpassword');" onmouseout="Dh('tpassword');">
			<td class="tl">Create Password <span class="f_red">*</span></td>
			<td><input type="password" class="reg_inp" style="width:200px;" name="post[password]" id="password" onblur="validator('password');"{if $password} value="{$password}" readonly{/if}/></td>
			<td>
			<div class="tips" id="tpassword" style="display:none;">
				<div>{$MOD[minpassword]}-{$MOD[maxpassword]} characters, case sensitive, recommended the use of numbers, letters and special symbols</div>
			</div>
			<span id="dpassword" class="f_red"></span>&nbsp;
			</td>
			</tr>
			<tr onmouseover="Ds('tcpassword');" onmouseout="Dh('tcpassword');">
			<td class="tl">Re-enter Password <span class="f_red">*</span></td>
			<td><input type="password" class="reg_inp" style="width:200px;" size="30" name="post[cpassword]" id="cpassword" onblur="validate('cpassword');"{if $password} value="{$password}" readonly{/if}/></td>
			<td>
			<div class="tips" id="tcpassword" style="display:none;">
				<div>Please re-enter your password above</div>
			</div>
			<span id="dcpassword" class="f_red"></span>&nbsp;
			</td>
			</tr>
			</table>
			<div class="reg_title">Contact Information</div>

			<table cellpadding="5" cellspacing="5" width="100%">
			<tr onmouseover="Ds('ttruename');" onmouseout="Dh('ttruename');">
			<td class="tl">Real Name <span class="f_red">*</span></td>
			<td width="220">
			<input type="text" class="reg_inp" style="width:100px;" name="post[truename]" id="truename" onblur="validate('truename');" onfocus="if(this.value=='First Name') this.value='';" value="First Name" />
			<input type="text" class="reg_inp" style="width:100px;" name="post_fields[lastname]" id="lastname" onblur="validate('lastname');" onfocus="if(this.value=='Last Name') this.value='';" value="Last Name" />&nbsp;
			
			<input type="radio" name="post[gender]" value="1" checked id="gender_1"/><label for="gender_1"> Mr.</label>
			<input type="radio" name="post[gender]" value="2" id="gender_2"/><label for="gender_2"> Ms.</label>
			</td>
			<td>
			<div class="tips" id="ttruename" style="display:none;">
				<div>Please use the name on ID/Password</div>
			</div>
			<span id="dtruename" class="f_red"></span>&nbsp;
			</td>
			</tr>
			<tr>
			<td class="tl">Location <span class="f_red">*</span></td>
			<td>{ajax_area_select('post[areaid]', 'Select a location', $areaid, '', 2)}</td>
			<td><span id="dareaid" class="f_red"></span>&nbsp;</td>
			</tr>
			<tr onmouseover="Ds('temail');" onmouseout="Dh('temail');">
			<td class="tl">Email <span class="f_red">*</span></td>
			<td><input type="text" class="reg_inp" style="width:200px;" name="post[email]" id="email" onblur="validator('email');"{if $email} value="{$email}" readonly{/if}/></td>
			<td>
			<div class="tips" id="temail" style="display:none;">
				<div>
				{if $MOD[checkuser] == 2}
				<span class="f_red">Email validation has set up by ImB2B system under registration process, please ensure the email address you entered is valid.<br/></span>
				{/if}
				Please use a common email address, it will not be publicly and can be used to sign in.			
				</div>
			</div>
			<span id="demail" class="f_red"></span>&nbsp;	
			</td>
			</tr>
			{if $could_emailcode}
			<tr onmouseover="Ds('temailcode');" onmouseout="Dh('temailcode');">
			<td class="tl">Email Validation Code <span class="f_red">*</span></td>
			<td><input type="text" class="reg_inp" style="width:80px;" name="post[emailcode]" id="emailcode" onblur="validator('emailcode');"/>
			<input type="button" value="立即發送" id="send_code" onclick="SendCode();"/>
			</td>
			<td>
			<div class="tips" id="temailcode" style="display:none;">
				<div>
				點擊「立即發送」按鈕，系統將會發送一組6位數字驗證碼至您填寫的電子郵箱，請接收郵件獲取驗證碼後，填寫在左側的輸入框內，繼續完成註冊
				</div>
			</div>
			<span id="demailcode" class="f_red"></span>&nbsp;	
			</td>
			</tr>
			<tr id="sendok" style="display:none;">
			<td class="tl">&nbsp;</td>
			<td id="dsendok">&nbsp;</td>
			<td>&nbsp;</td>
			</tr>
			{/if}
			<tr onmouseover="Ds('tmobile');" onmouseout="Dh('tmobile');">
			<td class="tl">Mobile &nbsp;</td>
			<td><input type="text" class="reg_inp" style="width:200px;" name="post[mobile]" id="mobile"/></td>
			<td>
			<div class="tips" id="tmobile" style="display:none;">
				<div>Recommended fill out in order to get in touch with you immediately.</div>
			</div>
			<span id="dmobile" class="f_red"></span>&nbsp;	
			</td>
			</tr>
<!-- 			<tr onmouseover="Ds('tqq');" onmouseout="Dh('tqq');">
			<td class="tl">QQ號碼 &nbsp;</td>
			<td><input type="text" class="reg_inp" style="width:200px;" name="post[qq]" id="qq"/></td>
			<td>
			<div class="tips" id="tqq" style="display:none;">
				<div>推薦填寫，以便即時在線與您取得聯繫</div>
			</div>
			<span id="dqq" class="f_red"></span>&nbsp;	
			</td>
			</tr> -->
			</table>

			<div id="company_detail">
			<div class="reg_title">Company Information</div>
			<table cellpadding="5" cellspacing="5" width="100%">
			<tr onmouseover="Ds('tcompany');" onmouseout="Dh('tcompany');">
			<td class="tl">Name <span class="f_red">*</span></td>
			<td width="300"><input type="text" class="reg_inp" style="width:280px;" name="post[company]" id="company" onblur="validator('company');"/></td>
			<td>
			<div class="tips" id="tcompany" style="display:none;">
				<div>Please fill in the comapny`s full name, and ensure the name is valid</div>
			</div>
			<span id="dcompany" class="f_red"></span>&nbsp;
			</td>
			</tr>
			<tr onmouseover="Ds('ttype');" onmouseout="Dh('ttype');">
			<td class="tl">Business Type <span class="f_red">*</span></td>
			<td>{dselect($COM_TYPE, 'post[type]', 'Select a type', '', 'id="type"', 0)}</td>
			<td>
			<div class="tips" id="ttype" style="display:none;">
				<div>If there is no matching type, please choose other</div>
			</div>
			<span id="dtype" class="f_red"></span>&nbsp;
			</td>
			</tr>
			<tr onmouseover="Ds('ttelephone');" onmouseout="Dh('ttelephone');">
			<td class="tl">Telephone <span class="f_red">*</span></td>
			<td><input type="text" class="reg_inp" style="width:200px;" name="post[telephone]" id="telephone" onblur="validate('telephone');"/></td>
			<td>
			<div class="tips" id="ttelephone" style="display:none;">
				<div>Domestic users add the area code, and foreign users add the country code.<br/>Example: 886-4-12345678</div>
			</div>
			<span id="dtelephone" class="f_red"></span>&nbsp;
			</td>
			</tr>
			</table>
			</div>
			<table cellpadding="5" cellspacing="5" width="100%">
			{if $MOD[question_register]}
			<tr onmouseover="Ds('tanswer');" onmouseout="Dh('tanswer');">
			<td class="tl">Security Question <span class="f_red">*</span></td>
			<td>{template 'question', 'chip'}</td>
			<td>
			<div class="tips" id="tanswer" style="display:none;">
				<div>Please fill in the answer to the input box</div>
			</div>
			<span id="danswer" class="f_red"></span>&nbsp;
			</td>
			</tr>
			{/if}
			{if $MOD[captcha_register]}
			<tr onmouseover="Ds('tcaptcha');" onmouseout="Dh('tcaptcha');">
			<td class="tl">Security Code <span class="f_red">*</span></td>
			<td>{template 'captcha', 'chip'}</td>
			<td>
			<div class="tips" id="tcaptcha" style="display:none;">
				<div>Please fill in the characters shown to the input box,<br/>and if not clear, please check the image to refresh</div>
			</div>
			<span id="dcaptcha" class="f_red"></span>&nbsp;
			</td>
			</tr>
			{/if}
			<tr>
			<td class="tl">&nbsp;</td>
			<td width="300"><input type="submit" name="submit" value="Agree to the following Terms of Service and Submit" style="font-size:14px;padding:3px;"/></td>
			<td>&nbsp;</td>
			</tr>
			</table>
			</form>
			<br/>
			<div style="width:700px;height:100px;overflow-y:scroll;border:#9DBFDA 1px solid;background:#FAFAFA;margin:auto;line-height:180%;padding:10px;" id="agreement">
			<center class="px14 f_b">Please read the {$DT[sitename]}`s Terms of Service</center>
			{template 'agreement', $module}
			</div>
			<div style="text-align:right;padding:10px 100px 20px 0;"><a href="?print=1" target="_blank">Printable Version</a></div>
		</div>
		<br/>
		<script type="text/javascript">
		Dd('username').focus();
		var vid = '';
		function validator(id) {
			vid = id;
			makeRequest('moduleid={$moduleid}&action=member&job='+id+'&value='+Dd(id).value, 'ajax.php', '_validator');
		}
		function _validator() {
			if(xmlHttp.readyState==4 && xmlHttp.status==200) {
				Dd('d'+vid).innerHTML = xmlHttp.responseText ? '<img src="{DT_SKIN}image/check_error.gif" align="absmiddle"/> '+xmlHttp.responseText : '<img src="{DT_SKIN}image/check_right.gif" align="absmiddle"/> ';
			}
		}
		function err_msg(str, id) {
			Dd('d'+id).innerHTML = '<img src="{DT_SKIN}image/check_'+(str ? 'error' : 'right')+'.gif" align="absmiddle"/> '+str;
		}
		function validate(type) {
			if(type == 'cpassword') {
				if(Dd('cpassword').value != Dd('password').value) {
					err_msg('Passwords are not the same.', type);
				} else {
					err_msg('', type);
				}
			}
			if(type == 'truename') {
				if(Dd('truename').value.length < 2) {
					err_msg('Enter your first name.', type);
				} else {
					err_msg('', type);
				}
			}
			if(type == 'lastname') {
				if(Dd('truename').value.length < 2) {
					err_msg('Enter your last name.', type);
				} else {
					err_msg('', 'truename');
				}
			}			
			if(type == 'telephone') {
				if(Dd('telephone').value.match(/^[0-9\-\(\)\+\.]{7,}$/)) {
					err_msg('', type);
				} else {
					err_msg('Enter your company telephone.', type);
				}
			}
		}
		function reg(type) {
			if(type) {
				Ds('company_detail');
			} else {
				Dh('company_detail');
			}
		}
		function Df(ID) {
			Dd(ID).focus();
		}
		function check() {
			var f,p;
			f = 'username';
			if(Dd(f).value == '') {
				err_msg('Create your username.', f);
				Df(f);
				return false;
			}
			if(Dd('d'+f).innerHTML.indexOf('error') != -1) {
				Df(f);
				return false;
			}
			f = 'password';
			if(Dd(f).value.length < 6) {
				err_msg('Create your password.', f);
				Df(f);
				return false;
			}
			if(Dd('d'+f).innerHTML.indexOf('error') != -1) {
				Df(f);
				return false;
			}
			f = 'cpassword';
			if(Dd(f).value == '') {
				err_msg('Re-enter your password.', f);
				Df(f);
				return false;
			}
			if(Dd('password').value != Dd(f).value) {
				err_msg('Passwords are not the same.', f);
				Df(f);
				return false;
			}
			f = 'truename';
			if(Dd(f).value == '' || Dd(f).value == 'First Name') {
				err_msg('Enter your first name.', f);
				Df(f);
				return false;
			}
			f = 'lastname';
			if(Dd(f).value == '' || Dd(f).value == 'Last Name') {
				err_msg('Enter your last name.', f);
				Df(f);
				return false;
			}			
			f = 'email';
			if(Dd(f).value.length < 6) {
				err_msg('Enter your email address.', f);
				Df(f);
				return false;
			}
			if(Dd('d'+f).innerHTML.indexOf('error') != -1) {
				Df(f);
				return false;
			}
			if(Dd('areaid_1').value == 0) {
				Dmsg('Select a location.', 'areaid');
				return false;
			}
			{if $could_emailcode}
				f = 'emailcode';
				if(!Dd(f).value.match(/^[0-9]{6}$/)) {
					Dmsg('Enter your email validation code.', f);
					return false;
				}
			{/if}
			if(Dd('g_5').checked == false) {
				f = 'company';
				if(Dd(f).value == '') {
					err_msg('Enter your company name.', f);
					Df(f);
					return false;
				}
				if(Dd('d'+f).innerHTML.indexOf('error') != -1) {
					Df(f);
					return false;
				}
				if(Dd('type').value == '') {
					Dmsg('Select a business type.', 'type');
					return false;
				}
				f = 'telephone';
				if(Dd(f).value.length < 7) {
					err_msg('Enter your company telephone.', f);
					Df(f);
					return false;
				}
			}
			{if $MOD[question_register]}
			f = 'answer';
			if(Dd(f).value == '') {
				Dmsg('Answer the security question.', f);
				return false;
			}
			{/if}
			{if $MOD[captcha_register]}
			f = 'captcha';
			if(!is_captcha(Dd(f).value)) {
				Dmsg('Enter the security code shown.', f);
				return false;
			}
			{/if}
			return true;
		}
		function SendCode() {
			if(Dd('demail').innerHTML.indexOf('right') == -1) {
				Dd('email').focus();
				return;
			}
			makeRequest('action={$action_sendcode}&value='+Dd('email').value, '{$DT[file_register]}', '_SendCode');
			Dh('sendok');
			Dd('send_code').value = '正在發送';
			Dd('send_code').disabled = true;
		}
		function _SendCode() {
			var f = 'email';
			if(xmlHttp.readyState==4 && xmlHttp.status==200) {			
				Dd('send_code').value = xmlHttp.responseText == 1 ? '發送成功' : '立即發送';
				Dd('send_code').disabled = xmlHttp.responseText == 1 ? true : false;
				if(xmlHttp.responseText == 1) {
					setTimeout('StopCode()', 5000);
					Ds('sendok');
					Dd('dsendok').innerHTML = '<img src="image/ico_mailok.gif" align="absmiddle"/> <span class="f_green">郵件發送成功，</span> <a href="goto.php?action=emailcode&email='+Dd(f).value+'" target="_blank">立即查收</a>';
				} else if(xmlHttp.responseText == 2) {
					err_msg('郵件格式錯誤，請檢查', f);
					Df(f);
				} else if(xmlHttp.responseText == 3) {
					err_msg('郵件地址已存在，請更換', f);
					Df(f);
				} else if(xmlHttp.responseText == 4) {
					err_msg('此郵件域名已經被禁止註冊，請更換', f);
					Df(f);
				} else {
					alert('未知錯誤，請重試');
				}
			}
		}
		function StopCode() {
			Dd('send_code').disabled = true;
			var i = 30;
			var interval=window.setInterval(
				function() {
					if(i == 0) {
						Dd('send_code').value = '立即發送';
						Dd('send_code').disabled = false;
						clearInterval(interval);
					} else {
						Dd('send_code').value = '重新發送('+i+')';
						i--;
					}
				},
			1000);
		}
		</script>
		<br/>
		</div>
	</div>
	</div>
	</div>
</div>
{template 'footer'}