{template 'header', 'member'}
<script type="text/javascript">c(3);</script>
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab" id="Tab0"><a href="home.php"><span>Website Settings</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab1"><a href="style.php"><span>Template Settings</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab2"><a href="{DT_PATH}index.php?homepage={$_username}&update=1" target="homepage"><span>Refresh it</span></a></td>
</tr>
</table>
</div>
{if $action == 'buy'}
<form method="post" action="style.php" onsubmit="return check();">
<input type="hidden" name="action" value="{$action}"/>
<input type="hidden" name="itemid" value="{$itemid}"/>
<table cellspacing="1" cellpadding="6" class="tb">
<td class="tl">Tempalte Preview: </td>
<td class="tr"><a href="{DT_PATH}index.php?homepage={$_username}&preview={$itemid}" target="_blank"><img src="{$thumb}" style="border:#EEEEEE 2px solid;padding:5px;margin:0 0 10px 0;" alt="Preview"/></a></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> Purchasing Duration: </td>
<td class="tr f_gray">
<select name="month" id="month" onchange="CA();">
{loop $months $m}<option value="{$m}">{$m} month{if $m>1}s{/if}</option>{/loop}
</select>
(Notice: The duration of each month is thirty days.)
</td>
</tr>
<tr>
<td class="tl">Price: </td>
<td class="tr"><strong class="f_red">{$fee}{$unit}/月</strong></td>
</tr>
<tr>
<td class="tl">Amount: </td>
<td class="tr f_red f_b"><span id="payment">{$fee}</span>{$unit}</td>
</tr>
{if $currency == 'money'}
<tr>
<td class="tl">{$DT[money_ename]} Balance: </td>
<td class="tr"><span class="f_blue f_b">{$_money}{$unit}</span> <a href="{$MODULE[2][linkurl]}charge.php?action=pay" target="_blank" class="t">[Recharge]</a></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> Payment Password: </td>
<td class="tr">{template 'password', 'chip'}</td>
</tr>
{else}
<tr>
<td class="tl">{$DT[credit_ename]} Balance: </td>
<td class="tr"><span class="f_blue f_b">{$_credit}{$unit}</span> <a href="{$MODULE[2][linkurl]}credit.php?action=buy" target="_blank" class="t">[Buy]</a></td>
</tr>
{/if}
<tr>
<td class="tl"> </td>
<td class="tr" height="50"><input type="submit" name="submit" value=" Submit " class="btn"/></td>
</tr>
</table>
</form>
<script type="text/javascript">
function CA() {
	Dd('payment').innerHTML = {$fee}*Dd('month').value;
}
function check() {
	{if $currency == 'money'}
	if({$fee}*Dd('month').value > {$_money}) {
		alert('Your credit is low, please recharge.');
		return false;
	}
	if(Dd('password').value.length < 6) {
		alert('Enter your payment password.');
		Dd('password').focus();
		return false;
	}
	{else}
	if({$fee}*Dd('month').value > {$_credit}) {
		alert('Your {$DT[credit_ename]} is low, please recharge.');
		return false;
	}
	{/if}
	return confirm('Are you sure to purchase '+Dd('month').value+' month(s)?');
}
</script>
{else}
<form action="style.php">
<input type="hidden" name="all" id="all" value="{$all}"/>
<div class="tt">
&nbsp;{$fields_select}&nbsp;
<input type="text" size="12" name="kw" value="{$kw}" title="Keyword"/>&nbsp;
{$type_select}&nbsp;
Price: <input type="text" size="3" name="minfee" value="<?php echo $minfee;?>"/>~
<input type="text" size="3" name="maxfee" value="<?php echo $maxfee;?>" />&nbsp;
<select name="currency">
<option value="">Unit</option>
<option value="money"{if $currency == 'money'} selected{/if}>{$DT[money_ename]}</option>
<option value="credit"{if $currency == 'credit'} selected{/if}>{$DT[credit_ename]}</option>
<option value="free"{if $currency == 'free'} selected{/if}>Free</option>
</select>&nbsp;
{$order_select}&nbsp; 
<input type="submit" value=" Search " class="btn"/>
<input type="button" value=" Reset " class="btn" onclick="window.location='style.php';"/>
{if $all}
<input type="submit" value=" Show Available " class="btn" onclick="Dd('all').value=0;"/>
{else}
<input type="submit" value=" Show All " class="btn" onclick="Dd('all').value=1;"/>
{/if}
</div>
</form>
<table cellpadding="10" cellspacing="10" width="100%" bgcolor="#FFFFFF">
{if $lists}
{loop $lists $k $v}
{if $k%3==0}<tr>{/if}
<td width="33%" valign="top">
<table cellpadding="2" cellspacing="2" width="220" align="center"{if $c[skin] == $v[skin]} bgcolor="#E7ECFF"{/if}>
<tr>
<td><a href="{DT_PATH}index.php?homepage={$_username}&preview={$v[itemid]}" target="_blank"><img src="{$v[thumb]}" style="border:#EEEEEE 2px solid;padding:5px;margin:0 0 10px 0;" title="Click to preview"/></a></td>
</tr>
<tr align="center">
<td>{$v[title]}</td>
</tr>
<tr align="center">
<td>{if $v['skin'] == 'default'}Default{else}Views: {$v[hits]}{/if}</td>
</tr>
<tr align="center">
<td>Author: {$v[author]}</td>
</tr>
<tr align="center">
<td>Price: 
{if $v[fee]}
	{if $v[currency] == 'money'}
		<span class="f_red">{$v[fee]}{$DT[money_unit]}/Month</span>
	{else}
		<span class="f_blue">{$v[fee]}{$DT[credit_unit]}/Month</span>
	{/if}
{else}
<span class="f_green">Free</span>
{/if}
</td>
</tr>
<tr align="center">
<td>
{if $c[skin] == $v[skin]}
<a href="{DT_PATH}index.php?homepage={$_username}&update=1" target="_blank" class="t">My Website</a> <span class="f_red">[{if $havedays}Expires in {$havedays}{else}In use{/if}]</span>
{else}
{if $v[fee]}<a href="?action=buy&itemid={$v[itemid]}" class="t">Buy</a>{else}<a href="?itemid={$v[itemid]}" class="t"{if $havedays} onclick="return confirm('Are you sure to activate this template?');"{/if}>Enable</a>{/if}&nbsp;|&nbsp;<a href="{DT_PATH}index.php?homepage={$_username}&preview={$v[itemid]}" target="_blank" class="t">Preview</a>
{/if}
</td>
</tr>
<tr align="center">
<td>{$v[group]}</td>
</tr>
</table>
</td>
{if $k%3==2}</tr>{/if}
{/loop}
{else}
<tr><td class="f_red">Tips: We can not find any templates.</td></tr>
{/if}
</table>
<div class="pages">{$pages}</div>
{/if}
<script type="text/javascript">s('homepage');m('Tab1');</script>
{template 'footer', 'member'}