{template 'header',$module}
{if $action == 'email'}
{if $itemid==1}<div class="warn">Dear Member, in order to ensure the validity of information, please <strong>validate</strong> your <strong>Email</strong> at first, and then post your leads.</div>{/if}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab_on" id="Tab0"><a href="?action={$action}"><span>1. Send the validation email</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab1"><a href="?action={$action}"><span>2. Receive the validation code</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab2"><a href="?action={$action}"><span>3. Proved by validation</span></a></td>
</tr>
</table>
</div>
<form method="post" action="validate.php" onsubmit="return check();" id="dform">
<input type="hidden" name="action" value="{$action}"/>
<table cellpadding="6" cellspacing="1" class="tb">
<tr>
<td class="tl"><span class="f_red">*</span> Your Email</td>
<td class="tr"><input type="text" size="30" name="email" id="email" value="{$user[email]}"/> <span id="demail" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> Validation Code</td>
<td class="tr">{template 'captcha', 'chip'} <span id="dcaptcha" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">Tips</td>
<td class="tr">The validation email will be sent to the email you entered while submitted. Please complete the activation procedure after receiving.</td>
</tr>
</tbody>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="30"><input type="submit" name="submit" value=" Next " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" Back " class="btn" onclick="history.back(-1);"/></td>
</tr>
</table>
</form>
<script type="text/javascript">
function check() {
	if(Dd('email').value.length < 7) {
		Dmsg('Enter your valid Email address.', 'email');
		return false;
	}
	if(!is_captcha(Dd('captcha').value)) {
		Dmsg('Enter the valid security code.', 'captcha');
		return false;
	}
	return true;
}
</script>
{elseif $action == 'vemail'}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab_on" id="Tab0"><a href=""><span>Email Validation</span></a></td>
</tr>
</table>
</div>
<table cellpadding="10" cellspacing="1" class="tb">
<tr>
<td class="tl">Email Address</td>
<td class="tr"><strong>{$_email}</strong> <a href="send.php?action=email" class="t">[Edit]</a></td>
</tr>
<tr>
<td class="tl">Validation Status</td>
<td class="tr f_green">Proved</td>
</tr>
</table>
{elseif $action == 'mobile'}
{if $itemid==1}<div class="warn">Dear Member, in order to ensure the validity of information, please <strong>validate</strong> your <strong>mobile number</strong> at first, and then post your leads.</div>{/if}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab_on" id="Tab0"><a href="?action={$action}"><span>1. Send the validation code</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab1"><a href="?action={$action}&code=1"><span>2. Receive the validation code</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab2"><a href="?action={$action}"><span>3. Proved by validation</span></a></td>
</tr>
</table>
</div>
{if isset($code)}
<form method="post" action="validate.php" onsubmit="return check();" id="dform">
<input type="hidden" name="action" value="{$action}"/>
<table cellpadding="6" cellspacing="1" class="tb">
<tr>
<td class="tl"><span class="f_red">*</span> Validation Code</td>
<td class="tr"><input type="text" size="10" name="auth" id="auth"/> <span id="dauth" class="f_red"></span> Enter your SMS validation code.</td>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="30"><input type="submit" value=" Next " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" Resend " class="btn" onclick="Go('?action={$action}');"/></td>
</tr>
</table>
</form>
<script type="text/javascript">
Dd('Tab0').className = 'tab';
Dd('Tab1').className = 'tab_on';
function check() {
	if(Dd('auth').value.length < 6) {
		Dmsg('Enter the validation code.', 'auth');
		return false;
	}
	return true;
}
</script>
{else}
<form method="post" action="validate.php" onsubmit="return check();" id="dform">
<input type="hidden" name="action" value="{$action}"/>
<table cellpadding="6" cellspacing="1" class="tb">
<tr>
<td class="tl"><span class="f_red">*</span> Your mobile number</td>
<td class="tr"><input type="text" size="30" name="mobile" id="mobile" value="{$user[mobile]}"/> <span id="dmobile" class="f_red"></span></td>
</tr>
{if $fee && $_sms<1}
<tr>
<td class="tl">接收短信收費</td>
<td class="tr"><span class="f_b f_red">{$fee}</span> {$DT[money_unit]}</td>
</tr>
<tr>
<td class="tl">帳戶餘額</td>
<td class="tr"><span class="f_b f_blue">{$_money}</span> {$DT[money_unit]} {if $fee>$_money}&nbsp;<span class="f_red">餘額不足</span>&nbsp;{/if} <a href="charge.php?action=pay" class="t" target="_blank">[充值]</a></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 支付密碼</td>
<td class="tr">{template 'password', 'chip'} <span id="dpassword" class="f_red"></span></td>
</tr>
{/if}
<tr>
<td class="tl">提示信息</td>
<td class="tr">提交後，系統將發送一條短信至您的手機號碼，請注意接收</td>
</tr>
</tbody>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="30"><input type="submit"  name="submit" value=" Next " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" Back " class="btn" onclick="history.back(-1);"/></td>
</tr>
</table>
</form>
<script type="text/javascript">
function check() {
	if(Dd('mobile').value.length < 7) {
		Dmsg('Enter your mobile number.', 'mobile');
		return false;
	}
{if $fee && $_sms<1}
	if(Dd('password').value.length < 6) {
		Dmsg('Enter your payment password.', 'password');
		return false;
	}
{/if}
	return true;
}
</script>
{/if}
{elseif $action == 'vmobile'}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab_on" id="Tab0"><a href=""><span>Mobile Validation</span></a></td>
</tr>
</table>
</div>
<table cellpadding="10" cellspacing="1" class="tb">
<tr>
<td class="tl">Mobile Number</td>
<td class="tr"><strong>{$user[mobile]}</strong> <a href="send.php?action=mobile" class="t">[Edit]</a></td>
</tr>
<tr>
<td class="tl">Validation Status</td>
<td class="tr f_green">Proved</td>
</tr>
</table>
{elseif $action == 'truename'}
{if $itemid==1}<div class="warn">Dear Member, in order to ensure the validity of information, please <strong>validate</strong> your <strong>Real Name</strong> at first, and then post your leads.</div>{/if}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab_on" id="Tab0"><a href="?action={$action}"><span>1. Submit your ID or passport</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab1"><a href="?action={$action}"><span>2. Proved by validation</span></a></td>
</tr>
</table>
</div>
<form method="post" action="validate.php" onsubmit="return check();" id="dform">
<input type="hidden" name="action" value="{$action}"/>
<table cellpadding="6" cellspacing="1" class="tb">
<tr>
<td class="tl"><span class="f_red">*</span> Real Name</td>
<td class="tr"><input type="text" size="10" name="truename" id="truename" value="{$user[truename]}"/> <span id="dtruename" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> ID or Passport Image</td>
<td class="tr"><input name="thumb" id="thumb" type="text" size="60" readonly/>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="Dthumb({$moduleid},0,0, Dd('thumb').value, true);" class="t">[Upload]</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="_preview(Dd('thumb').value);" class="t">[Preview]</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="Dd('thumb').value='';" class="t">[Delete]</a>
<span id="dthumb" class="f_red"></span>
</td>
</tr>
<tr>
<td class="tl"> ID or Passport Image</td>
<td class="tr"><input name="thumb1" id="thumb1" type="text" size="60" readonly/>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="Dthumb({$moduleid},0,0, Dd('thumb1').value, true, 'thumb1');" class="t">[Upload]</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="_preview(Dd('thumb1').value);" class="t">[Preview]</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="Dd('thumb1').value='';" class="t">[Delete]</a></td>
</tr>
<tr>
<td class="tl"> ID or Passport Image</td>
<td class="tr"><input name="thumb2" id="thumb2" type="text" size="60" readonly/>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="Dthumb({$moduleid},0,0, Dd('thumb2').value, true, 'thumb2');" class="t">[Upload]</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="_preview(Dd('thumb2').value);" class="t">[Preview]</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="Dd('thumb2').value='';" class="t">[Delete]</a></td>
</tr>
<tr>
<td class="tl">Description</td>
<td class="tr lh18">
Upload scanned copy of ID or passport for approving.<br/>
The entered name should be consistent with the license.<br/>
Minimum of 1 image is required. Maximum of 3 images.
</td>
</tr>
</tbody>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="30"><input type="submit" name="submit" value=" Submit " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" Back " class="btn" onclick="history.back(-1);"/></td>
</tr>
</table>
</form>
{load('clear.js')}
{if $MOD[vfax]}
<br/>
<table cellpadding="10" cellspacing="1" class="tb">
<tr>
<td class="tl">Fax Validation</td>
<td class="tr">
Fax your valid ID/Passport to {$MOD[vfax]}. Indicate your username as well.
</td>
</tr>
</table>
{/if}
<script type="text/javascript">
function check() {
	if(Dd('truename').value.length < 2) {
		Dmsg('Enter your real name.', 'truename');
		return false;
	}
	if(Dd('thumb').value.length < 15) {
		Dmsg('Upload your ID/passport image.', 'thumb');
		return false;
	}
	return true;
}
</script>
{elseif $action == 'vtruename'}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab_on" id="Tab0"><a href=""><span>Real Name Validation</span></a></td>
</tr>
</table>
</div>
<table cellpadding="10" cellspacing="1" class="tb">
<tr>
<td class="tl">Real Name</td>
<td class="tr f_b">{$user[truename]}</td>
</tr>
{if $user[vtruename] || $v[status] == 3}
<tr>
<td class="tl">Validation Status</td>
<td class="tr f_green">Proved</td>
</tr>
{else}
<tr>
<td class="tl">Validation Status</td>
<td class="tr f_red">Pending</td>
</tr>
{/if}
</table>
{elseif $action == 'company'}
{if $itemid==1}<div class="warn">Dear Member, in order to ensure the validity of information, please <strong>validate</strong> your <strong>Company Information</strong> at first, and then post your leads.</div>{/if}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab_on" id="Tab0"><a href="?action={$action}"><span>1. Submit your company certificates</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab1"><a href="?action={$action}"><span>2. Proved by validation</span></a></td>
</tr>
</table>
</div>
<form method="post" action="validate.php" onsubmit="return check();" id="dform">
<input type="hidden" name="action" value="{$action}"/>
<table cellpadding="6" cellspacing="1" class="tb">
<tr>
<td class="tl"><span class="f_red">*</span> Company Name</td>
<td class="tr"><input type="text" size="60" name="company" id="company" value="{$user[company]}"/> <span id="dcompany" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> Certificate Image</td>
<td class="tr"><input name="thumb" id="thumb" type="text" size="60" readonly/>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="Dthumb({$moduleid},0,0, Dd('thumb').value, true);" class="t">[Upload]</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="_preview(Dd('thumb').value);" class="t">[Preview]</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="Dd('thumb').value='';" class="t">[Delete]</a>
<span id="dthumb" class="f_red"></span>
</td>
</tr>
<tr>
<td class="tl">Certificate Image</td>
<td class="tr"><input name="thumb1" id="thumb1" type="text" size="60" readonly/>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="Dthumb({$moduleid},0,0, Dd('thumb1').value, true, 'thumb1');" class="t">[Upload]</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="_preview(Dd('thumb1').value);" class="t">[Preview]</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="Dd('thumb1').value='';" class="t">[Delete]</a></td>
</tr>
<tr>
<td class="tl">Certificate Image</td>
<td class="tr"><input name="thumb2" id="thumb2" type="text" size="60" readonly/>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="Dthumb({$moduleid},0,0, Dd('thumb2').value, true, 'thumb2');" class="t">[Upload]</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="_preview(Dd('thumb2').value);" class="t">[Preview]</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="Dd('thumb2').value='';" class="t">[Delete]</a></td>
</tr>
<tr>
<td class="tl">Description</td>
<td class="tr lh18">
Upload scanned copy of company certificates for approving.<br/>
The entered name should be consistent with the license.<br/>
Minimum of 1 image is required. Maximum of 3 images.
</td>
</tr>
</tbody>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="30"><input type="submit" name="submit" value=" Submit " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" Back " class="btn" onclick="history.back(-1);"/></td>
</tr>
</table>
</form>
{load('clear.js')}
{if $MOD[vfax]}
<br/>
<table cellpadding="10" cellspacing="1" class="tb">
<tr>
<td class="tl">Fax Validation</td>
<td class="tr">
Fax your valid company certificates to {$MOD[vfax]}. Indicate your username as well.
</td>
</tr>
</table>
{/if}
<script type="text/javascript">
function check() {
	if(Dd('company').value.length < 2) {
		Dmsg('Enter your company name.', 'company');
		return false;
	}
	if(Dd('thumb').value.length < 15) {
		Dmsg('Upload your company certificate.', 'thumb');
		return false;
	}
	return true;
}
</script>
{elseif $action == 'vcompany'}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab_on" id="Tab0"><a href=""><span>Company Validation</span></a></td>
</tr>
</table>
</div>
<table cellpadding="10" cellspacing="1" class="tb">
<tr>
<td class="tl">Company Name</td>
<td class="tr f_b">{$user[company]}</td>
</tr>
{if $user[vcompany] || $v[status] == 3}
<tr>
<td class="tl">Validation Status</td>
<td class="tr f_green">Proved</td>
</tr>
{else}
<tr>
<td class="tl">Validation Status</td>
<td class="tr f_red">Pending</td>
</tr>
{/if}
</table>
{elseif $action == 'bank'}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab_on" id="Tab0"><a href="?action={$action}"><span>Bank Account Validation</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="Tab1"><a href="cash.php?action=setting"><span>Bank Account Setting</span></a></td>
</tr>
</table>
</div>
<table cellpadding="10" cellspacing="1" class="tb">
<tr>
<td class="tl">Payment Term</td>
<td class="tr">{if $user[bank]}{$user[bank]}{else}No setting{/if}</td>
</tr>
<tr>
<td class="tl">Account</td>
<td class="tr">{if $user[account]}{$user[account]}{else}No setting{/if}</td>
</tr>
<tr>
<td class="tl">Beneficiary</td>
<td class="tr">{$user[truename]}</td>
</tr>
{if $user[vbank]}
<tr>
<td class="tl">Validation Status</td>
<td class="tr f_green">Proved</td>
</tr>
{else}
<tr>
<td class="tl">Validation Status</td>
<td class="tr f_gray">Unproved</td>
</tr>
<tr>
<td class="tl">Description</td>
<td class="tr f_red">Withdraw request will be proved by {$DT[sitename]}.</td>
</tr>
{/if}
</table>
{/if}
{template 'footer',$module}