<table cellpadding="0" cellspacing="0" width="700" align="center" style="font-family:Verdana,Arial;">
<tr>
<td style="background:#FF6600;line-height:30px;font-size:14px;font-weight:bold;color:#FFFFFF;">&nbsp;&nbsp;{$title}</td>
</tr>
<tr>
<td style="border:#CCCCCC 1px solid;padding:20px 20px 20px 20px;line-height:180%;font-size:13px;">
<strong>尊敬的用戶</strong>：<br/>
您好！您在{$DT[sitename]}的郵件註冊驗證碼為<span style="color:#FF1100;">{$emailcode}</span>，請使用此驗證碼繼續完成註冊。
</td>
</tr>
<tr>
<td style="background:#333333;padding:10px;line-height:180%;font-size:12px;color:#FFFFFF;">請注意：此郵件系 <a href="{DT_PATH}" target="_blank" style="color:#FFFFFF;">{$DT[sitename]}</a> 自動發送，請勿直接回復。<br/>如果此郵件不是您請求的，請忽略並刪除！</td>
</tr>
</table>