{template 'header'}
<style>
	.list {width:95%;height:100px;}
	.list > div img {width:160px;height:100px;}
	.list .intro > .f_r {margin-left:120px;}
	.list li strong,.list li a,#tab_nav li a,.box_head_1 span {font-family:'微軟正黑體',Arial;}
</style>
<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';</script>
<div class="m">
	<div class="f_l side">
		{template 'exhibit-column', 'chip'}

		<div class="b10">&nbsp;</div>
		<!-- left sidebar ad -->
		<!--{tag("table=ad&condition=status=3 and pid=19 and totime>".$DT_TIME."&order=rand()&pagesize=2&id=19&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=20 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=20&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=21 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=21&template=ad-single",-1)}-->		
	</div>

	<div class="m_l_0 f_l">
		<div class="b10">&nbsp;</div>
		<!-- top slideshow AD -->
		<!--{tag("moduleid=8&areaid=$cityid&condition=status=3 and thumb<>'' and totime>".$DT_TIME."&order=rand()&pagesize=5&template=exhibit-slideshow",-1)}-->
		
		<div class="b15"> </div>	
	
		<div class="left_box">
			{if $CP}
				{loop $PPT $p}
				<div class="ppt">
					<table cellpadding="0" cellspacing="0" width="100%">
					<tr>
					<td class="ppt_l" valign="top">by{$p[name]}</td>
					<td class="ppt_r" valign="top">
					{loop $p[options] $o}
					<a href="###" onclick="Go(sh+'&ppt_{$p[oid]}={urlencode($o)}');">{$o}</a>&nbsp;|&nbsp;
					{/loop}
					</td>
					</tr>
					</table>
				</div>
				{/loop}
			{/if}
			<div class="box_head_1">
				<div>
					<span class="px14">{$CAT['catname']}</span>
				</div>
			</div>
			
			<div class="b10">&nbsp;</div>
			{if $tags}{template 'list-'.$module, 'tag'}{/if}
		</div>
	</div>
</div>
{template 'footer'}