{template 'header'}
<style>
	.slideshow {width:817px;background:#f5f5f5;}
	#tab_nav {width:637px;border:none;background:#FFF;}
	#panes {width:135px;margin:0 22px;}
	#panes img {width:135px;}
</style>
<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';</script>
<div class="m">
	<div class="f_l side">
		{template 'ebook-column', 'chip'}

		<div class="b10">&nbsp;</div>
		<!-- left sidebar ad -->
		<!--{tag("table=ad&condition=status=3 and pid=26 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=26&class=h580&template=ad-single",-1)}-->		
	</div>

	<div class="m_l_0 f_l">
		<div class="b10">&nbsp;</div>

		<div class="f_r">
			<div id="rightAD">
				<!-- AD 190 X 200 -->
				<!--{tag("table=ad&condition=status=3 and pid=28 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=28&template=ad-single",-1)}-->	
			</div>
		</div>
		<!-- top slideshow AD -->
		<!--{tag("moduleid=$moduleid&areaid=$cityid&condition=status=3 and thumb<>''&order=rand()&pagesize=5&template=ebook-slideshow",-1)}-->
		<div class="b15"> </div>	
	
		<div class="left_box">
			{if $CP}
				{loop $PPT $p}
				<div class="ppt">
					<table cellpadding="0" cellspacing="0" width="100%">
					<tr>
					<td class="ppt_l" valign="top">by{$p[name]}</td>
					<td class="ppt_r" valign="top">
					{loop $p[options] $o}
					<a href="###" onclick="Go(sh+'&ppt_{$p[oid]}={urlencode($o)}');">{$o}</a>&nbsp;|&nbsp;
					{/loop}
					</td>
					</tr>
					</table>
				</div>
				{/loop}
			{/if}
			<div class="box_head_1">
				<div>
					<span class="px14">{$CAT['catname']}</span>
				</div>
			</div>
			
			<div class="b10">&nbsp;</div>
			{template 'list-'.$module, 'tag'}
		</div>
	</div>
</div>
{template 'footer'}