{php $CSS = array('fancybox');$JS = array('fancybox');}
{template 'header'}
<style>
	.detail .box_head_2 strong {padding:0;}
</style>
<div class="m">
	<div class="f_l side">
		{template 'exhibit-column', 'chip'}

		<div class="b10">&nbsp;</div>
		<!-- left sidebar ad -->
		<!--{tag("table=ad&condition=status=3 and pid=26 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=26&class=h580&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=20 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=20&class=h196&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=19 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=19&class=h65&template=ad-single",-1)}-->	
	</div>

	<div class="m_l_0 f_l">
		<div class="b10">&nbsp;</div>
		<!-- top slideshow AD -->
		<!--{tag("moduleid=8&areaid=$cityid&condition=status=3 and thumb<>'' and totime>".$DT_TIME."&order=rand()&pagesize=5&template=exhibit-slideshow",-1)}-->

		<div class="b15"> </div>		
		<h1 class="title">{$title}</h1>	
	
		<div class="m_l_1">			
			<div class="info px13">
			發佈日期:{$adddate}
			&nbsp;&nbsp;瀏覽人數:&nbsp;<span id="hits">{$hits}</span>
			&nbsp;&nbsp;
			</div>
			
			<div class="Contact f_r">
				<div class="contact_head">>> Contact Info <<</div>		
				<div class="contact_body" id="contact">{template 'contact', 'chip'}</div>
			</div>
			<span class="banner">						
				<a href="{$website}" target="_blank"><img src="{$thumb}" alt="{$title}"/></a>
			</span>
			<div class="detail">
				<div class="box_head_2">
					<div>
						<strong>詳細內容</strong>
					</div>
				</div>
				<div class="box_body">
					<div id="content">{template 'content', 'chip'}</div>
				</div>
				
				{if $remark}
					<br/>
					<table cellspacing="1" cellpadding="6" width="100%" class="ctb">
					<tr>
					<td class="ltd">Remarks</td>
					</tr>
					<tr>
					<td class="rtd"><div class="content">{nl2br($remark)}</div></td>
					</tr>
					</table>
				{/if}
			</div>
			<div class="b10">&nbsp;</div>
			{if $CP}{template 'property', 'chip'}{/if}
			{template 'show_toolbar','chip'}
			{template 'comment', 'chip'}
			<br/>
		</div>
	</div>
</div>
{template 'zoom', 'chip'}
{template 'footer'}