{php $CSS = array('tabs');$JS = array('player');}
{template 'header'}
<div class="m">
	<div class="f_l side">
		{template $module.'-column', 'chip'}

		<div class="b10">&nbsp;</div>
		<!-- left sidebar ad -->
		<!--{tag("table=ad&condition=status=3 and pid=26 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=26&class=h580&template=ad-single",-1)}-->		
	</div>

	<div class="m_l_0 f_l">
		<div class="b10">&nbsp;</div>
		<!-- top slideshow AD -->
		<!--{tag("moduleid=$moduleid&areaid=$cityid&condition=status=3&order=rand()&pagesize=5&template=video-slideshow",-1)}-->
	
		<div class="b15"> </div>	
	
		{if $MOD[page_icat]}
			<ul class="tabs">
				{loop $maincat $i $c}
					<li><a href="javascript:;">{$c[catname]}</a></li>								
				{/loop}
			</ul>
			
			<div class="panes">
				{loop $maincat $i $c}
					<div><!--{tag("moduleid=$moduleid&condition=status=3&catid=".$c[catid]."&areaid=$cityid&order=rand()&length=20&pagesize=8&datetype=3&template=list-video")}-->
					<div class="more"><a href="{$MOD[linkurl]}{$c[linkurl]}">More >></a></div>
					</div>
				{/loop}	
			</div>
		{/if}
	</div>
</div>
{template 'footer'}