{php $CSS = array('tabs');$JS = array('player');}
{template 'header'}
<div class="m">
	<div class="f_l side">
		{if $DT[page_catalog]}
			{php $mid = $moduleid;$stat = 1;}
			{template 'catalog','chip'}
		{/if}

		<div class="b10">&nbsp;</div>
		<!-- left sidebar ad -->
		<!--{tag("table=ad&condition=status=3 and pid=19 and totime>".$DT_TIME."&order=rand()&pagesize=2&id=19&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=20 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=20&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=21 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=21&template=ad-single",-1)}-->		
	</div>

	<div class="m_l_0 f_l">
		<div class="left_box">		
			
			<h1 class="title">{$title}</h1>
			<div class="info">
			Updated：{$adddate}
			&nbsp;&nbsp;Views：<span id="hits">{$hits}</span>	
			</div>
			<div id="player">{template 'content', 'chip'}</div>
			{if $content}
			<div class="left_head">{$MOD[ename]} Introduction</div>
			{if $CP}{template 'property', 'chip'}{/if}
			<div class="content" id="content">{$content}</div>
			<div class="b10">&nbsp;</div>
			{/if}
			{template 'show_toolbar','chip'}
			{template 'comment', 'chip'}
		</div>
	</div>
</div>
{template 'zoom', 'chip'}
{template 'footer'}