{php $CSS = array('sell');}
{template 'header'}
<div class="m">
	<div class="f_l side">
		{if $DT[page_catalog]}
			{php $mid = $moduleid;$stat = 1;}
			{template 'catalog','chip'}
		{/if}
	</div>

	<div class="m_l_1 f_l">
		<div class="b10">&nbsp;</div>		
		<!-- 1st slideshow (AD) -->
		{template 'tmp-slideshow','tag'}					
		<div class="b15">&nbsp;</div>				

		<div class="left_box">
			<form id="fsearch" method="POST">
				{template 'tip_tool','chip'}
				
				{if $page == 1}{ad($moduleid,0,'',6)}{/if}				

				<!--{tag("moduleid=$moduleid&areaid=$cityid&catid=$catid&pagesize=10&page=$page&showpage=1&datetype=5&order=".$MOD[order]."&fields=".$MOD[fields]."&template=list-company")}-->				
			</form><br/>
		</div>
	</div>
	
	<div class="m_n f_l">&nbsp;</div>
	
	<div class="m_r_1 f_l">
		<div class="sponsor">{ad($moduleid,$catid,$kw,7)}</div>
		
		<div class="b10">&nbsp;</div>
		
		<div class="box_head_3"><div><strong>Top 10 of Week</strong></div></div>
		<div class="box_body">
			<div class="rank_list">
				<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400*7&pagesize=10&order=week_search desc&key=week_search&template=list-search_rank", -2)}-->
			</div>		
		</div>
		<div class="b10">&nbsp;</div>
	</div>
</div>
{template 'footer'}