{php $CSS = array('sell');}
{template 'header'}
<div class="m">
	<div class="f_l side">
		{if $DT[page_catalog]}
			{php $mid = $moduleid;$stat = 1;}
			{template 'catalog','chip'}
		{/if}
	
		<div class="b15">&nbsp;</div>
		
		{if $catid}
			{template 'catalog_list','chip'}
		{/if}	
	</div>

	<div class="m_l_1 f_l">	
		<div class="b10">&nbsp;</div>		
		<!-- 1st slideshow (AD) -->
		<!--{tag("table=ad&condition=status=3 and pid=16 and totime>".$DT_TIME."&order=rand()&pagesize=4&id=15&template=ad-slideshow",-1)}-->					
		<div class="b15">&nbsp;</div>		
	
		<div class="left_box">		
			<div class="fsearch">
				<div class="f_l adv">Advanced ></div>
				
				<form action="{$MOD[linkurl]}search.php" id="fsearch">

					<label for="kw">Keyword</label><input type="text" size="60" name="kw" value="{$kw}" id="kw" />&nbsp;
					{$vip_select}&nbsp; <br />
					
					<label for="load_area_1">Location</label>			{$area_select}		
					<span class="pr10">&nbsp;</span>
					<label for="typeid">Type</label>{$type_select}
					<span class="pr10">&nbsp;</span>
					<label for="mode">Mode</label>{$mode_select}
					<span class="pr10">&nbsp;</span> <br />
					
					<label for="scale">Scale</label>{$size_select} 
					<span class="pr10">&nbsp;</span>
					<label for="capital">Capital</label>			
					<input type="text" size="8" name="mincapital" value="{$mincapital}"/> ~ <input type="text" size="8" name="maxcapital" value="{$maxcapital}"/>USD <br />

					<div class="f_r buttons">
						<input type="image" class="search" src="{DT_SKIN}image/btn_search.png"/>&nbsp;&nbsp;
						<a class="reset" href="{$MOD[linkurl]}search.php"><img src="{DT_SKIN}image/btn_reset_search.png"/></a>
					</div>						
					<label for="catid_1">Category</label>{$category_select}
				</form>
			</div>

			{if $page==1 && $kw}
				{ad($moduleid,$catid,$kw,6)}
				{load('m'.$moduleid.'_k'.urlencode($kw).'.htm')}
			{/if}
			
			{if $tags}
				<div class="b15">&nbsp;</div>
				{template 'tip_tool','chip'}
				<div class="b15">&nbsp;</div>			
				{template 'list-company', 'tag'}
			{else}
				{template 'noresult', 'message'}
			{/if}
		</div>
	</div>

	<div class="m_n f_l">&nbsp;</div>

	<div class="m_r_1 f_l">
		<div class="sponsor">{ad($moduleid,$catid,$kw,7)}</div>
		
		<div class="b10">&nbsp;</div>
		
		{if $kw}
			<div class="box_head_3"><div><strong>Related Search</strong></div></div>
			<div class="box_body">
				<div class="sch_site">
					<ul>
						{loop $MODULE $mod}{if $mod[moduleid]>3 && $mod[moduleid]!=$moduleid && !$mod[islink]}<li><span>►</span><a href="{$mod[linkurl]}{rewrite('search.php?kw='.urlencode($kw))}">在 <span class="f_red">{$mod[name]}</span> 找 {$kw}</a></li>{/if}{/loop}
					</ul>
				</div>
				<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and word!='$kw' and keyword like '%$keyword%'&pagesize=10&order=total_search desc&template=list-search_relate", -2)}-->
			</div>		
			<div class="b10">&nbsp;</div>		
		{/if}
		
		<div class="box_head_3"><div><strong>Top 10 of Today</strong></div></div>
		<div class="box_body">
			<div class="rank_list">
				<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400&pagesize=10&order=today_search desc&key=today_search&template=list-search_rank", -2)}-->
			</div>		
		</div>
		<div class="b10">&nbsp;</div>
		
		<div class="box_head_3"><div><strong>Top 10 of Week</strong></div></div>
		<div class="box_body">
			<div class="rank_list">
				<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400*7&pagesize=10&order=week_search desc&key=week_search&template=list-search_rank", -2)}-->
			</div>		
		</div>
		<div class="b10">&nbsp;</div>
		
		<div class="box_head_3"><div><strong>Top 10 of Month</strong></div></div>
		<div class="box_body">
			<div class="rank_list">
				<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400*30&pagesize=10&order=month_search desc&key=month_search&template=list-search_rank", -2)}-->
			</div>		
		</div>
	</div>
</div>
{template 'footer'}