<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>數據庫連接失敗</title>
<meta name="robots" content="noindex,nofollow"/>
<style type="text/css">
*{font-size:14px;font-family:Arial,Verdana;}
body{background:#FFFFFF;}
div {width:500px;padding:50px 0 0 60px;line-height:300%;}
</style>
</head>
<body>
<div>
<strong>數據庫連接失敗(Can not connect to MySQL server)</strong><br/>
系統無法<span style="color:red;">連接</span>到MySQL服務器。<a href="http://help.destoon.com/faq/mysql-connect.php" target="_blank">點此查看此問題的解決方案</a><br/>
</div>
</body>
</html>