{php $CSS = array('fancybox');$JS = array('fancybox');}
{template 'header'}
<div class="m">
	<div class="f_l side">
		{if $DT[page_catalog]}
			{php $mid = 5;$stat = 1;}
			{template 'catalog','chip'}
		{/if}
		
		<div class="b15">&nbsp;</div>
		
		{template 'catalog_list','chip'}
	</div>

	<div class="m_l_1 f_l">
		<div class="b10">&nbsp;</div>		
		<!-- 1st slideshow (AD) -->
		<!--{tag("table=ad&condition=status=3 and pid=16 and totime>".$DT_TIME."&order=rand()&pagesize=4&id=15&template=ad-slideshow",-1)}-->					
		<div class="b15">&nbsp;</div>				

		<div class="left_box">
			<form id="fsearch" method="POST">
				{template 'tip_tool','chip'}
				
				{if $page == 1}{ad($moduleid,0,'',6)}{/if}				
				
				{if $list==0}
				<!--{tag("moduleid=$moduleid&condition=status=3$dtype&areaid=$cityid&catid=$catid&pagesize=20&page=$page&showpage=1&datetype=3&group=".$MOD[group]."&order=".$MOD[order]."&fields=".$MOD[fields]."&template=list-sell-img")}-->
				{elseif $list==1}
				<!--{tag("moduleid=$moduleid&condition=status=3$dtype&areaid=$cityid&catid=$catid&pagesize=6&page=$page&showpage=1&datetype=3&group=".$MOD[group]."&order=".$MOD[order]."&fields=".$MOD[fields]."&template=list-sell-mix")}-->
				{elseif $list==2}
				<!--{tag("moduleid=$moduleid&condition=status=3$dtype&areaid=$cityid&catid=$catid&pagesize=10&page=$page&showpage=1&datetype=3&group=".$MOD[group]."&order=".$MOD[order]."&fields=".$MOD[fields]."&template=list-sell-txt")}-->								
				{/if}				
			</form><br/>
		</div>
	</div>
	
	<div class="m_n f_l">&nbsp;</div>
	
	<div class="m_r_1 f_l">
		<div class="sponsor">{ad($moduleid,$catid,$kw,7)}</div>
		
		<div class="b10">&nbsp;</div>
		
		<!--{tag("table=ad&condition=status=3 and pid=21 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=21&template=ad-single",-1)}-->

		<!--{tag("table=ad&condition=status=3 and pid=19 and totime>".$DT_TIME."&order=rand()&pagesize=2&id=19&template=ad-single",-1)}-->			
		
		<div class="box_head_3"><div><strong>Top 10 of Week</strong></div></div>
		<div class="box_body">
			<div class="rank_list">
				<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400*7&pagesize=10&order=week_search desc&key=week_search&template=list-search_rank", -2)}-->
			</div>		
		</div>
		<div class="b10">&nbsp;</div>
	</div>
</div>
{template 'footer'}