{php $JS = array('zoom');}
{template 'header'}
<div class="m">
	<div class="f_l side">
		{if $DT[page_catalog]}
			{php $mid = $moduleid;$stat = 1;}
			{template 'catalog','chip'}
		{/if}
		
		<div class="b10">&nbsp;</div>		
	</div>
	
	<div class="m_l_0 f_l">
		<div class="b15">&nbsp;</div>				
		<div class="left_box">
			<div>You are here: <a href="{$MODULE[1][linkurl]}">Home</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[ename]}</a> &raquo; {cat_pos($CAT, ' &raquo; ')} &raquo;Detail</div>
			<div class="b10 c_b"></div>

			<h1 class="proTitle">
			
				<span>{$title}</span>
			</h1>

			<div class="Content">
				<div class="profile f_r">
					<div class="contact_head">>> Company Profile <<</div>
					<div class="contact_body" id="contact">{template 'contact', 'chip'}</div>
					{if !$username}
					<br/>
					&nbsp;<strong class="f_red">Tips</strong>:Find items from <a href="{$MODULE[2][linkurl]}grade.php"><strong>{VIP} member with the best services</strong></a>
					{/if}
				</div>
			
				<div class="album f_l">
					<div>
						<span id="abm">
							<img src="{$albums[0]}" data-zoom-image="{substr($albums[0],0,-11)}" onload="if(this.width>240){this.width=240;}" id="DIMG"/>
						</span>						
					</div>
					
					{loop $thumbs $k $v}<img src="{$v}" onmouseover="if(this.src.indexOf('nopic60.gif')==-1)Album({$k}, '{$albums[$k]}');astudio();"class="{if $k}ab_im{else}ab_on{/if}" id="t_{$k}"/>{/loop}
				</div>
				<!-- <div id="imgshow" style="display:none;"></div> -->
				<div class="rside f_l">
					{template 'sell-detail', 'chip'}

					<div class="Buttons">
						{if $username && !$expired}						
							<a href="{$MOD[linkurl]}{rewrite('inquiry.php?itemid='.$itemid)}" target="_blank"><div id="inquiryBtn" class="f_l"> </div></a>
						{/if}
						<span class="f_l">{template 'detail-fav', 'chip'}</span>
					</div>
					
				</div>				
			</div>
			
			<div class="b10">&nbsp;</div>
			
			<div class="box_head_2">
				<div>
					<strong>Description</strong>
				</div>
			</div>
			<div class="box_body" style="padding:0;">
				{if $CP}{template 'property', 'chip'}{/if}
				<div class="content c_b" id="content">{$content}</div>
				{template 'comment', 'chip'}
			</div>

			{if $username}
				<div class="b10">&nbsp;</div>
				
				<div class="Related">
					<div class="otherPro">
						<div class="box_head_2"><div><span class="f_r"><a href="{userurl($username, 'file=sell')}" target="_blank">more..</a></span><strong>Other Products</strong></div></div>
						<div class="box_body">
						<div class="thumb">
						<!--{tag("moduleid=$moduleid&condition=status=3 and thumb<>'' and username='$username' and itemid<>'$itemid'&pagesize=16&order=rand()&cols=8&target=_blank&template=thumb-table", -1)}-->
						</div>
						</div>
					</div>
				</div>		
			{/if}
			<div class="b10">&nbsp;</div>
			{template 'show_toolbar','chip'}
		</div>
	</div>	
</div>
<script>$(function(){astudio();});</script>
{template 'zoom', 'chip'}
{template 'footer'}