{php $CSS = array('sell');}
{template 'header'}
<style>
	.thumb {padding:1px;}
	.thumb li {width:152px;height:161px;}
	.thumb .message > input {display:none;}
	.thumb .message img {border:none;padding:0;}
	#products_list > li {margin:0 16px 7px 0;}	
</style>
<div class="m">
	<div class="f_l side">
		{if $DT[page_catalog]}
			{php $mid = 5;$stat = 1;}
			{template 'catalog','chip'}
		{/if}

		<div class="b10">&nbsp;</div>
		<!-- left sidebar ad -->
		<!--{tag("table=ad&condition=status=3 and pid=19 and totime>".$DT_TIME."&order=rand()&pagesize=2&id=19&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=21 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=21&template=ad-single",-1)}-->		
	</div>	

	<div class="m_l_0 f_l">
		<br/>
		<div class="title"><img src="{DT_SKIN}image/warn.gif" align="absmiddle"/> Oops, page not found. Does the following messages meet your demand?</div>
		<br/>	
	</div>
	
	<div class="m_l_1 f_l">
		<div class="box_head_1"><div><span class="f_r"><a href="{$MODULE[5][linkurl]}">More..</a></span><a href="{$MODULE[5][linkurl]}"><strong>Selling Leads</strong></a></div></div>
		<div class="box_body thumb"><!--{tag("moduleid=5&length=14&condition=status=3 and vip>0 and thumb<>''&pagesize=20&order=rand()&width=90&height=90&cols=5&target=_blank&template=list-sell-img")}--></div>
	</div>
	<div class="m_n f_l">&nbsp;</div>
	<div class="m_r f_l">
		<div class="box_head_1"><div><span class="f_r"><a href="{$MODULE[6][linkurl]}">More..</a></span><a href="{$MODULE[6][linkurl]}"><strong>Buying Leads</strong></a></div></div>
		<div class="box_body li_dot f_gray"><!--{tag("moduleid=6&condition=status=3 and vip>0&pagesize=10&datetype=2&order=rand()&target=_blank")}-->
		</div>
		<div class="b10">&nbsp;</div>
		<div class="box_head_1"><div><span class="f_r"><a href="{$MODULE[4][linkurl]}">More..</a></span><a href="{$MODULE[4][linkurl]}"><strong>Premium Suppliers</strong></a></div></div>
		<div class="box_body li_dot f_gray"><!--{tag("moduleid=4&condition=vip>0 and catids<>''&pagesize=10&order=rand()&template=list-com")}-->
		</div>
	</div>
</div>
{template 'footer'}