{template 'header'}
<div class="m">
<div style="padding:20px 300px 20px 50px;line-height:220%;">
&nbsp;<strong class="px16">Business website is waiting for opening.</strong><br/>
&nbsp;<span class="px14">The business website you are visiting has already registered and will open automatically completing the company profile. Please visit later...</span><br/>
{if $username == $_username}
<hr size="1"/>
&nbsp;Great! We detect that you are the owner of this company. Please <a href="{$MODULE[2][linkurl]}edit.php?tab=2" class="f_b">click here to complete company profile immediately</a> and activate your business website.
{/if}
</div>
</div>
{template 'footer'}