{template 'header'}
<script type="text/javascript">var i=30;</script>
<div class="m">
	<div class="warn">
		<div>
			<h1>{$head_title}</h1><br/>
			&nbsp;&nbsp;<span id="second" class="f_red f_b">This page will be redirected to <a href="{$MOD[linkurl]}">{$MOD[ename]} homepage</a> within <script type="text/javascript">document.write(i);</script></span> seconds.
			<br/><br/>
			&nbsp;&nbsp;1. Please ensure the web address you`ve entered. <br/>
			&nbsp;&nbsp;2. If you are not sure of the web address, please visit <a href="{$MOD[linkurl]}">{$MOD[ename]} homepage</a> to confirm. <br/>
			&nbsp;&nbsp;3. Fill in content you want to search: <br/>
			<form action="{$MOD[linkurl]}search.php">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="25" name="kw"/> 
			<input type="submit" value="Search" class="btn"/>
			<input type="button" value="Advanced" class="btn" onclick="window.location='{$MOD[linkurl]}search.php';"/>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
var interval=window.setInterval(
	function() {
		if(i==0) {
			Go('{$MOD[linkurl]}');
			clearInterval(interval);
		} else {
			Dd('second').innerHTML=i;
			i--;
		}
	}, 
1000);
</script>
{template 'footer'}