{template 'header'}
<script type="text/javascript">
var i = 30;
</script>
<div class="m">
	<div class="warn">
		<div>
			<h1>{$head_title}</h1><br/>
			&nbsp;&nbsp;<span id="second" class="f_red f_b"><script type="text/javascript">document.write(i);</script></span> 秒後將自動跳轉到{if $_userid}<a href="{$MODULE[2][linkurl]}grade.php">會員升級頁面</a>{else}<a href="{$MODULE[2][linkurl]}{$DT[file_login]}">會員登錄頁面</a>{/if}
			<br/><br/>
			{if $_userid}
			&nbsp;&nbsp;1、請升級您的會員組。 <br/>
			{else}
			&nbsp;&nbsp;1、請 <a href="{$MODULE[2][linkurl]}{$DT[file_login]}">登錄</a> 或 <a href="{$MODULE[2][linkurl]}{$DT[file_register]}">免費註冊</a>。<br/>
			{/if}
			&nbsp;&nbsp;2、請檢查輸入的網址是否正確。 <br/>
			&nbsp;&nbsp;3、如果不能確認輸入的網址，請瀏覽<a href="{$MODULE[1][linkurl]}">網站首頁</a>來查看所要訪問的網址。 <br/>
		</div>
	</div>
</div>
<script type="text/javascript">
var interval=window.setInterval(
	function() {
		if(i == 0) {
			Go('{$MODULE[2][linkurl]}{if $_userid}grade.php{else}{$DT[file_login]}{/if}');
			clearInterval(interval);
		} else {
			Dd('second').innerHTML = i;
			i--;
		}
	}, 
1000);
</script>
{template 'footer'}