{template 'header'}
<script type="text/javascript">
var i = 30;
</script>
<div class="m">
	<div class="warn">
		<div>
			<h1>{$head_title}</h1><br/>
			&nbsp;&nbsp;You will be redirected to {if $_userid}<a href="{$MODULE[2][linkurl]}grade.php">Member Service</a>{else}<a href="{$MODULE[2][linkurl]}{$DT[file_login]}">Member Login</a>{/if} within <span id="second" class="f_red f_b"><script type="text/javascript">document.write(i);</script></span> seconds.
			<br/><br/>
			{if $_userid}
			&nbsp;&nbsp;1. Please upgrade to your member group. <br/>
			{else}
			&nbsp;&nbsp;1. Please <a href="{$MODULE[2][linkurl]}{$DT[file_login]}">login now</a> or <a href="{$MODULE[2][linkurl]}{$DT[file_register]}">join free</a>.<br/>
			{/if}
			&nbsp;&nbsp;2. Please ensure the web address you`ve entered is correct. <br/>
			&nbsp;&nbsp;3. If you are not sure of the web address, please visit <a href="{$MODULE[1][linkurl]}">ImB2B</a> to confirm. <br/>
		</div>
	</div>
</div>
<script type="text/javascript">
var interval=window.setInterval(
	function() {
		if(i == 0) {
			Go('{$MODULE[2][linkurl]}{if $_userid}grade.php{else}{$DT[file_login]}{/if}');
			clearInterval(interval);
		} else {
			Dd('second').innerHTML = i;
			i--;
		}
	}, 
1000);
</script>
{template 'footer'}