{php $CSS = array('index');$JS = array('index_n');}
{template 'header'}
<div class="m">
	<div class="f_l side">
		{if $DT[page_catalog]}
			{php $mid = $moduleid;$stat = 1;}
			{template 'catalog','chip'}
		{/if}

		<div class="b10">&nbsp;</div>
		<!-- left sidebar ad -->
		<!--{tag("table=ad&condition=status=3 and pid=19 and totime>".$DT_TIME."&order=rand()&pagesize=2&id=19&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=20 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=20&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=21 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=21&template=ad-single",-1)}-->		
	</div>
	<div class="f_l main">
		<div class="b10">&nbsp;</div>
		<div class="m_l_0 f_l">
			<div class="topr" id="trades">		
				{if $DT[page_login]}
					{template 'user', 'chip'}
				{/if}	
			</div>
			<div class="topl">
				<!-- 1st slideshow (AD) -->
				<!--{tag("table=ad&condition=status=3 and pid=16 and totime>".$DT_TIME."&order=rand()&pagesize=4&id=16&template=ad-slideshow",-1)}-->
			</div>				
		</div>
					
		<div class="b10">&nbsp;</div>
		
		<div class="m_l f_l">
			{if $MOD[page_icat]}
			<table cellpadding="0" cellspacing="0" width="100%">
			{loop $maincat $i $c}
			{if $i%2==0}<tr>{/if}
			<td valign="top" width="330">
				<div class="b10"></div>
				<div class="box_head"><span class="f_r"><a href="{$MOD[linkurl]}{$c[linkurl]}">more..</a></span><strong>{$c[catname]}</strong></div>	
				<div class="box_body thumb">			<!--{tag("moduleid=$moduleid&condition=status=3&areaid=$cityid&catid=".$c[catid]."&pagesize=".$MOD[page_icat]."&order=".$MOD[order]."&width=120&height=40&cols=2&template=thumb-brand&target=_blank")}-->
				</div>
			</td>
			{if $i%2==0}<td>&nbsp;</td>{/if}
			{if $i%2==1}</tr>{/if}
			{/loop}
			</table>
			{/if}
		</div>
		<div class="f_l main">
			<!-- Products scrollable -->
			<div class="box_head_1"><div><span class="f_r"><a href="{$MODULE[5][linkurl]}">more ></a></span><a href="{$MODULE[5][linkurl]}"><strong>Hot Products</strong></a></div></div>
			<div class="Scrollable">
				<a class="prev browse left"><span></span></a>
				<div class="scrollable" id="scrollable"> 
					<div class="items">
						<!-- every loop in 7 items -->
						<!--{tag("moduleid=5&length=14&condition=status=3 and thumb<>''&pagesize=42&order=addtime desc&width=113&height=113&cols=14&target=_blank&template=index-scrollable",-1)}-->
					</div>
				</div>
				<a class="next browse right"><span></span></a>	
			</div>
		</div>
	</div>	
</div>
{template 'footer'}