{php $CSS = array('index','tabs');$JS = array('index_n');}
{template 'header'}
<div class="m">
	<div class="f_l side">
		{template 'brand-column','chip'}

		<div class="b10">&nbsp;</div>
		<!-- left sidebar ad -->
		<!--{tag("table=ad&condition=status=3 and pid=19 and totime>".$DT_TIME."&order=rand()&pagesize=2&id=19&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=20 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=20&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=21 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=21&template=ad-single",-1)}-->		
	</div>
	<div class="f_l main">
		<div class="b10">&nbsp;</div>
		<div class="m_l_0 f_l">
			<div class="topr" id="trades">		
				{if $DT[page_login]}
					{template 'user', 'chip'}
				{/if}	
			</div>
			<div class="topl">
				<!-- 1st slideshow (AD) -->
				<!--{tag("table=ad&condition=status=3 and pid=16 and totime>".$DT_TIME."&order=rand()&pagesize=4&id=16&template=ad-slideshow-brand",-1)}-->
			</div>				
		</div>
					
		<div class="b10">&nbsp;</div>
		
		<div class="f_l main">
			{template 'brand-search-tool','chip'}
		</div>
		
		<div class="m_l_0 f_l">
			<div class="b15"> </div>
			<div class="b15"> </div>
			
			<div class="more f_r"><a href="#">more ></a></div>
			<ul class="tabs">
				{loop $maincat $i $c}
					<li data-catid="{$c[catid]}"><a href="javascript:;">{$c[catname]}</a></li>
				{/loop}
			</ul>
			
			<div class="panes">
				{loop $maincat $i $c} 
					<div>
						<a href="{$MOD[linkurl]}{$s[linkurl]}">
							<img class="lazy bAnner" data-src="{DT_SKIN}image/brand_cat_{substr(strtolower($c[catname]),0,3)}.jpg" src="{DT_SKIN}image/blank.gif" />
							<div class="catName">{$c[catname]}</div>
						</a>
						<!--{tag("moduleid=$moduleid&areaid=$cityid&catid=".$c[catid]."&condition=status=3 and thumb<>''&order=rand()&pagesize=12&cols=4&template=thumb-brand",-1)}-->						
					</div>
				{/loop}	
			</div>
		</div>
		<div class="f_l main">
			<!-- Products scrollable -->
			<div class="box_head_1"><div><span class="f_r"><a href="{$MODULE[5][linkurl]}">more ></a></span><a href="{$MODULE[5][linkurl]}"><strong>Hot Products</strong></a></div></div>
			<div class="Scrollable">
				<a class="prev browse left"><span></span></a>
				<div class="scrollable" id="scrollable"> 
					<div class="items">
						<!-- every loop in 7 items -->
						<!--{tag("moduleid=5&length=14&condition=status=3 and thumb<>''&pagesize=42&order=addtime desc&width=113&height=113&cols=14&target=_blank&template=index-scrollable",-1)}-->
					</div>
				</div>
				<a class="next browse right"><span></span></a>	
			</div>
		</div>
	</div>	
</div>
{template 'footer'}