{php $CSS = array('index','tabs');}
{template 'header'}
<div class="m">
	<div class="f_l side">
		{template 'brand-column','chip'}

		<div class="b10">&nbsp;</div>
		<!-- left sidebar ad -->
		<!--{tag("table=ad&condition=status=3 and pid=26 and totime>".$DT_TIME."&order=rand()&pagesize=2&id=26&class=h580&template=ad-single",-1)}-->		
	</div>
	<div class="f_l main">
		<div class="b10">&nbsp;</div>
		<div class="m_l_0 f_l">
			<div class="topr" id="trades">		
				{if $DT[page_login]}
					{template 'user', 'chip'}
				{/if}	
			</div>
			<div class="topl">
				<!-- 1st slideshow (AD) -->
				<!--{tag("table=ad&condition=status=3 and pid=16 and totime>".$DT_TIME."&order=rand()&pagesize=4&id=16&template=ad-slideshow-brand",-1)}-->
			</div>				
		</div>
					
		<div class="b10">&nbsp;</div>
		
		<div class="f_l main">
			{template 'brand-search-tool','chip'}
		</div>
		
		<div class="m_l_0 f_l">
			<div class="b15"> </div>
			<div class="b15"> </div>

			<ul class="tabs">
				{php $Maincat = get_maincat(0, $moduleid, 1);}
				{loop $Maincat $i $c}
					<li><a href="{$MOD[linkurl]}{$c[linkurl]}"{if $CAT[catid]==$c[catid]||$CAT[parentid]==$c[catid]} class="current"{/if}>{$c[catname]}</a></li>
				{/loop}
			</ul>
			
			{if $Maincat != $maincat}
				<div class="catWrap">
					<span class="f_l px13">All Categories: </span>
					<ul class="suBcat">
						{loop $maincat $i $c}
							<li data-catid="{$c[catid]}"><a href="{$MOD[linkurl]}{$c[linkurl]}"{if $c[catid]==$catid} class="current"{/if}>{$c[catname]}<span> ({$c[item]})</span></a></li>
						{/loop}				
					</ul>
				</div>
			{/if}		
			
			{if $tags}{template 'list-'.$module, 'tag'}{/if}		
		</div>
	</div>
</div>
{template 'footer'}