{php $CSS = array('index','tabs');}
{template 'header'}
<div class="m">
	<div class="f_l side">
		{template 'brand-column','chip'}

		<div class="b10">&nbsp;</div>
		<!-- left sidebar ad -->
		<!--{tag("table=ad&condition=status=3 and pid=19 and totime>".$DT_TIME."&order=rand()&pagesize=2&id=19&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=20 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=20&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=21 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=21&template=ad-single",-1)}-->		
	</div>
	<div class="f_l main">
		<div class="b10">&nbsp;</div>
		<div class="m_l_0 f_l">
			<div class="topr" id="trades">		
				{if $DT[page_login]}
					{template 'user', 'chip'}
				{/if}	
			</div>
			<div class="topl">
				<!-- 1st slideshow (AD) -->
				<!--{tag("table=ad&condition=status=3 and pid=16 and totime>".$DT_TIME."&order=rand()&pagesize=4&id=16&template=ad-slideshow-brand",-1)}-->
			</div>				
		</div>
					
		<div class="b10">&nbsp;</div>
		
		<div class="f_l main">
			{template 'brand-search-tool','chip'}
		</div>
		
		<div class="m_l_0 f_l">
			<div class="b15"> </div>
			<div class="b15"> </div>

			{if $page==1 && $kw}
				{ad($moduleid,$catid,$kw,6)}
				{load('m'.$moduleid.'_k'.urlencode($kw).'.htm')}
			{/if}
			{if $tags}
				<ul class="tabs">
					<li><a href="javascript:;" class="current">Search Results</a></li>
				</ul>
				{template 'list-'.$module, 'tag'}
			{else}
				{template 'noresult', 'message'}
			{/if}		
		</div>
	</div>
</div>
{template 'footer'}