{php $CSS = array('index','tabs');}
{template 'header'} 
<div class="m">
	<div class="f_l side">
		{template 'brand-column','chip'}

		<div class="b10">&nbsp;</div>
		<!-- left sidebar ad -->
		<!--{tag("table=ad&condition=status=3 and pid=19 and totime>".$DT_TIME."&order=rand()&pagesize=2&id=19&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=20 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=20&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=21 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=21&template=ad-single",-1)}-->		
	</div>
	<div class="main f_l">
		<div class="b10">&nbsp;</div>
		<div class="m_l_0 f_l">
			<div class="topr" id="trades">		
				{if $DT[page_login]}
					{template 'user', 'chip'}
				{/if}	
			</div>
			<div class="topl">
				<!-- 1st slideshow (AD) -->
				<!--{tag("table=ad&condition=status=3 and pid=16 and totime>".$DT_TIME."&order=rand()&pagesize=4&id=16&template=ad-slideshow-brand",-1)}-->
			</div>				
		</div>
					
		<div class="b10">&nbsp;</div>
		<div class="main f_l">
			<div class="b15"> </div>
			<h1 class="tiTle">Brand Name: {$title}</h1>

			<div class="left_box">
				<div class="Contact f_r">
					<div class="contact_head">>> Contact Info <<</div>		
					<div class="contact_body" id="contact">{template 'contact', 'chip'}</div>
					<div class="b10">&nbsp;</div>

					<div class="box_head_2"><!-- <span class="f_r px12"><a class="more" href="{$MODULE[23][linkurl]}">more</a></span> --><div><strong>>> Brand Products <<</strong></div></div>
					<div class="box_body">
						<div class="thumb"><!--{tag("moduleid=5&length=14&condition=status=3 and thumb<>'' and username='$username' and brand='$title'&pagesize=4&order=rand()&cols=2&template=thumb-table&target=_blank", -2)}-->
						<div class="f_r"><a href="{$MOD[linkurl]}{rewrite('product.php?itemid='.$itemid)}">more></a></div>
						</div>
						<div class="brand_pdt">&nbsp;</div>
					</div>		
					<div class="b10 c_b">&nbsp;</div>
					
					<!-- AD here -->
					<img src="http://www.adasystemsinc.com/sites/default/files/company.jpg?1320225089" />
					<div class="b10"> </div>					
				</div>
				
				<div class="brand_info">
					<div class="f_l">
						<img src="{$thumb}" alt="{$title}" class="brand_logo" />
					</div>
					<div>
						<ul>						
							<li><strong>Official Website</strong>: {if $homepage}<a href="{$homepage}" target="_blank">{$homepage}</a>{else}no{/if}</li>
							<li><strong>Views</strong>: <span id="hits">{$hits}</span></li>
							<li><strong>Updated</strong>: {$editdate}</li>
						</ul>
						<a href="{$linkurl}#join"><img class="joinBtn" src="{DT_SKIN}image/btn_join.gif" alt="Join Us"/></a>		
					</div>
				</div>
				
				<div class="detail f_l">
					<div class="box_head_2"><div><strong>Brand Introduction</strong></div></div>
					<div class="box_body">
						{if $CP}{template 'property', 'chip'}{/if}
						<div class="content" id="content">{$content}</div>
					</div>					
					<div class="b10">&nbsp;</div>
					{template 'show_toolbar','chip'}					
					<div class="b10">&nbsp;</div>
					<div class="box_head_2"><div><strong>Join Us</strong></div></div>
					<div class="pd10"><script type="text/javascript">show_message('{$MOD[linkurl]}', {$itemid});</script></div>
					{template 'comment', 'chip'}					
				</div>
			</div>
		</div>
	</div>
</div>
{template 'zoom', 'chip'}
{template 'footer'}