<div class="type">
	<div class="f_r">
		<a href="{$MOD[linkurl]}" class="{if $typeid==99}type_1{else}type_2{/if}">All</a>
		{loop $TYPE $k $v}
			<a href="javascript:Go('{$MOD[linkurl]}{rewrite('index.php?typeid='.$k.'&catid='.$catid)}');" class="{if $typeid==$k}type_1{else}type_2{/if}">{$v}</a>
		{/loop}
	</div>
	<a href="javascript:;" target="_blank"><img src="{DT_SKIN}image/buy_promotion.png" /></a>
</div>
<div class="b10 c_b">&nbsp;</div>	
<div class="img_tip" id="img_tip" style="display:none;">&nbsp;</div>