<ul class="Category">				
	{php $child = get_maincat(0, $mid, 1);}
	{loop $child $c}
	<li class="level1">
		<!-- first level category -->
		<h2>
			<a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}">{set_style($c[catname], $c[style])}<span class="arrow">></span></a>
		</h2>
		{if $c[child]}
		{php $sub = get_maincat($c[catid], $mid, 1);}				
		<!-- second level category -->
		<div class="level2" style="display:none;">
			<ul>
<!-- 							<li>
					<h3>Shop for</h3>
				</li> -->
				{loop $sub $j $s}
					<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" class="g">{set_style($s[catname], $s[style])}</a>{if $stat}<span>({$s[item]})</span>{/if}</li>
				{/loop}
			</ul>
		</div>
		{/if}
	</li>
	{/loop}		
</ul>