<ul class="Category">				
	{php $child = get_maincat(0, $mid, 1);}
	{loop $child $c}
	<li class="level1{if $c[child]} child{else} nochild{/if}">
		<!-- first level category -->
		<h2>
			<a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}">{$c[catname]}{if $c[child]}<span class="arrow">></span>{/if}</a>
		</h2>
		{if $c[child]}
		{php $sub = get_maincat($c[catid], $mid, 1);}				
		<!-- second level category -->
		<div class="level2 big" style="display:none;">
			<div>
				<ul>
					<li>
						<h3>{$c[catname]}</h3>
					</li>
					{loop $sub $j $s}
						<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" class="g">{$s[catname]}</a>{if $stat}<span>({$s[item]})</span>{/if}</li>
					{/loop}
				</ul>
				<!-- AD here (200X250) -->
				<a href="javascript:;">
					<img src="http://i02.i.aliimg.com/images/cms/upload/wholesale/home_banner/2013/01/big_discount/banner/200x250.jpg" />
				</a>
			</div>
		</div>
		{/if}
	</li>
	{/loop}		
</ul>