<tr>
<td colspan="2" style="background:#AACCEE;">
&nbsp;&nbsp;
<strong>Non-Member Additional Information: </strong>
&nbsp;&nbsp;
You can <a href="{$MODULE[2][linkurl]}{$DT[file_login]}" class="f_b t">Login</a> or <a href="{$MODULE[2][linkurl]}{$DT[file_register]}" class="f_b t">Join Free</a> for reserving your Contact Info at ImB2B.com.
</td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> Co. Name</td>
<td class="tr"><input name="post[company]" type="text" id="company" size="50" value="{$company}" /> If individual, enter "Full Name (personal)". For example: Kelvin Chu (personal)<br/><span id="dcompany" class="f_red"></span> </td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> Location</td>
<td class="tr">{ajax_area_select('post[areaid]', 'Select a location', $areaid)} <span id="dareaid" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> Contact</td>
<td class="tr"><input name="post[truename]" type="text" id="truename" size="20" value="{$truename}" /> <br/><span id="dtruename" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> Mobile</td>
<td class="tr"><input name="post[mobile]" id="mobile" type="text" size="30" value="{$mobile}"/> <span id="dmobile" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">Email</td>
<td class="tr"><input name="post[email]" id="email" type="text" size="30" value="{$email}" /> <span id="demail" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">TEL</td>
<td class="tr"><input name="post[telephone]" id="telephone" type="text" size="30" value="{$telephone}"/> <span id="dtelephone" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">Address</td>
<td class="tr"><input name="post[address]" type="text" size="60" value="{$address}"/></td>
</tr>
{if $DT[im_qq]}
<tr>
<td class="tl">QQ</td>
<td class="tr"><input name="post[qq]" type="text" size="30" value="{$qq}"/></td>
</tr>
{/if}
{if $DT[im_ali]}
<tr>
<td class="tl">阿里旺旺</td>
<td class="tr"><input name="post[ali]" type="text" size="30" value="{$ali}"/></td>
</tr>
{/if}
{if $DT[im_msn]}
<tr>
<td class="tl">MSN</td>
<td class="tr"><input name="post[msn]" type="text" size="40" value="{$msn}"/></td>
</tr>
{/if}
{if $DT[im_skype]}
<tr>
<td class="tl">Skype</td>
<td class="tr"><input name="post[skype]" type="text" size="30" value="{$skype}"/></td>
</tr>
{/if}