<script type="text/javascript">var user_auth = get_cookie('auth');</script>
<div class="user">
	{if defined('TOHTML')}
	<script type="text/javascript">document.write(user_auth ? '<div>' : '<div style="display:none;">');</script>
	{else}
		{if $_userid}<div>{else}<div style="display:none;">{/if}
	{/if}
		<div class="user_wel">Welcome, you do...</div>
		<div class="user_do">
			<ul>
				<li><img src="{$MODULE[2][linkurl]}image/ico_edit.gif" align="absmiddle"/> <a href="{$MODULE[2][linkurl]}{$DT[file_my]}">Post leads</a></li>
				<li><img src="{$MODULE[2][linkurl]}image/ico_product.gif" align="absmiddle"/> <a href="{$EXT[spread_url]}">Promote by AD</a></li>
				<li><img src="{$MODULE[2][linkurl]}image/ico_homepage.gif" align="absmiddle"/> <a href="{$MODULE[2][linkurl]}home.php">Manage website</a></li>
				<li><img src="{$MODULE[2][linkurl]}image/ico_message.gif" align="absmiddle"/> <a href="{$MODULE[2][linkurl]}message.php">Check message</a></li>
				<li><img src="{$MODULE[2][linkurl]}image/ico_trade.gif" align="absmiddle"/> <a href="{$MODULE[2][linkurl]}trade.php">Manage orders</a></li>
				<li><img src="{$MODULE[2][linkurl]}image/ico_record.gif" align="absmiddle"/> <a href="{$MODULE[2][linkurl]}record.php">View balance</a></li>
				<li><img src="{$MODULE[2][linkurl]}image/ico_profile.gif" align="absmiddle"/> <a href="{$MODULE[2][linkurl]}edit.php?tab=2">Edit co. profile</a></li>
				<li><img src="{$MODULE[2][linkurl]}image/ico_home.gif" align="absmiddle"/> <a href="{$MODULE[2][linkurl]}">Enter My ImB2B</a></li>
			</ul>
		</div>
	</div>
	{if defined('TOHTML')}
	<script type="text/javascript">document.write(user_auth ? '<div style="display:none;">' : '<div>');</script>
	{else}
		{if $_userid}<div style="display:none;">{else}<div>{/if}
	{/if}
		<div class="user_login">
			<form action="{$MODULE[2][linkurl]}{$DT[file_login]}" method="post" onsubmit="return user_login();">
				<input type="hidden" name="submit" value="1"/>
				<input name="username" id="user_name" type="text" value="User" onfocus="if(this.value=='User')this.value='';" class="user_input"/>&nbsp; 
				<input name="password" id="user_pass" type="password" value="password" onfocus="if(this.value=='password')this.value='';" class="user_input" /><br/>
				<label for="captcha">Verify code:</label>
				{template 'captcha','chip'}	
				<input type="submit" id="Login" value="Login" />
			</form>
		</div>
		<div class="user_tip">Join free as a memeber, you can...</div>
		<div class="user_can">
			<ul>
				<li><img src="{$MODULE[2][linkurl]}image/ico_edit.gif" align="absmiddle"/> Post leads</li>
				<li><img src="{$MODULE[2][linkurl]}image/ico_product.gif" align="absmiddle"/> Display products</li>
				<li><img src="{$MODULE[2][linkurl]}image/ico_homepage.gif" align="absmiddle"/> Create website</li>
				<li><img src="{$MODULE[2][linkurl]}image/ico_message.gif" align="absmiddle"/> Access to buyers</li>
			</ul>
		</div>
	</div>
</div>