{php $CSS = array('fancybox');$JS = array('fancybox');}
{template 'header'}
<div class="m">
	<div class="f_l side">
		{if $DT[page_catalog]}
			{php $mid = $moduleid;$stat = 1;}
			{template 'catalog','chip'}
		{/if}

		<div class="b10">&nbsp;</div>
		<!-- left sidebar ad -->
		<!--{tag("table=ad&condition=status=3 and pid=19 and totime>".$DT_TIME."&order=rand()&pagesize=2&id=19&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=20 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=20&template=ad-single",-1)}-->
		
		<!--{tag("table=ad&condition=status=3 and pid=21 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=21&template=ad-single",-1)}-->		
	</div>

	<div class="m_l_0 f_l">
		<div class="left_box">		
			<div class="b10">&nbsp;</div>
			<!-- top AD -->
			<!--{tag("table=ad&condition=status=3 and pid=23 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=23&class=h200&template=ad-single",-1)}-->
			
			<div class="type">
			<a href="{$MOD[linkurl]}" class="{if $typeid==99}type_1{else}type_2{/if}">All</a>
				{loop $TYPE $k $v}
					<a href="javascript:Go('{$MOD[linkurl]}{rewrite('index.php?typeid='.$k.'&catid='.$catid)}');" class="{if $typeid==$k}type_1{else}type_2{/if}">{$v}</a>
				{/loop}
			</div>
			<div class="b10 c_b">&nbsp;</div>	
			<div class="img_tip" id="img_tip" style="display:none;">&nbsp;</div>
			{if $page == 1}{ad($moduleid,0,'',6)}{/if}		<!--{tag("moduleid=$moduleid&condition=status=3$dtype&catid=$catid&areaid=$cityid&pagesize=".$MOD[pagesize]."&page=$page&showpage=1&datetype=3&order=".$MOD[order]."&fields=".$MOD[fields]."&template=list-buy")}-->
		<br/>
		</div>
	</div>
</div>
{template 'footer'}