{php $CSS = array('fancybox');$JS = array('fancybox');}
{template 'header'}
<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';</script>
<div class="m">
	<div class="f_l side">
		{if $DT[page_catalog]}
			{php $mid = $moduleid;$stat = 1;}
			{template 'catalog','chip'}
		{/if}
		
		{if $catid}
			<div class="b15">&nbsp;</div>
			
			{template 'catalog_list','chip'}
		{/if}
	</div>
	
	<div class="m_l_0 f_l">
		<div class="left_box">		
			<div class="b10">&nbsp;</div>
			<!-- top AD -->
			<!--{tag("table=ad&condition=status=3 and pid=23 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=23&class=h200&template=ad-single",-1)}-->
			
			<div class="type">
			<a href="{$MOD[linkurl]}{$linkurl}" class="type_1">All</a>
				{loop $TYPE $k $v}
				<a href="javascript:Go('{$MOD[linkurl]}{rewrite('list.php?typeid='.$k.'&catid='.$catid)}');" class="type_2">{$v}</a>
				{/loop}
			</div>
			<div class="b10 c_b">&nbsp;</div>
			<div class="img_tip" id="img_tip" style="display:none;">&nbsp;</div>
			{if $page == 1}{ad($moduleid,$catid,$kw,6)}{/if}
			{if $tags}{template 'list-'.$module, 'tag'}{/if}
			<br/>
		</div>
	</div>
</div>
{template 'footer'}