{php $CSS = array('fancybox');$JS = array('fancybox');}
{template 'header'}
<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';</script>
<div class="m">
	<div class="f_l side">
		{if $DT[page_catalog]}
			{php $mid = $moduleid;$stat = 1;}
			{template 'catalog','chip'}
		{/if}
		
		{if $catid}
			<div class="b15">&nbsp;</div>
			
			{template 'catalog_list','chip'}
		{/if}
	</div>
	
	<div class="m_l_0 f_l">
		<div class="left_box">		
			<div class="b10">&nbsp;</div>
			<!-- top AD -->
			<!--{tag("table=ad&condition=status=3 and pid=23 and totime>".$DT_TIME."&order=rand()&pagesize=1&id=23&class=h200&template=ad-single",-1)}-->
			
			{template 'buy_type', 'chip'}

			{if $page == 1}{ad($moduleid,$catid,$kw,6)}{/if}
			{if $tags}{template 'list-'.$module, 'tag'}{/if}
			<br/>
		</div>
	</div>
</div>
{template 'footer'}