{if $tags}
	{if $no}<div style="position:relative;">{else}<div>{/if}
		<!-- "previous slide" button -->
		<!-- <a class="backward">prev</a> -->
		<!-- container for the slides -->
		<div class="images{$no}">
			{loop $tags $i $t}
				<div>
					<a href="{if $t[image_url]}{$t[image_url]}{else}javascript:;{/if}" target="_blank"><img src="{$t[image_src]}" alt="{$t[image_alt]}" /></a>
				</div>
			{/loop}
		</div>
		<!-- "next slide" button -->
		<!-- <a class="forward">next</a> -->
		<!-- the tabs -->
		<div class="slidetabs{$no}">
			{loop $tags $i $t}
				<a href="javascript:;"><div class="ad_title">{$t[title]}</div>{if $no}<span class="arrowr"></span>{else}<div class="arrowt"></div>{/if}</a>
			{/loop}
		</div>
	</div>
{else}
	<a href="{DT_PATH}ad" target="_blank"><img src="{DT_SKIN}image/ad/ad_{$id}.gif" width="{$width}" height="{$height}" alt="購買廣告請聯絡貿易眼" title="購買廣告請聯絡貿易眼" border="0"/></a>
{/if}	