<div class="slideshow">	
	<div id="tab_nav">
		<ul>
			{loop $tags $i $t}
				{php $cat = get_cat($t[catid]);}
				<li {if $i==$pagesize-1} class="nobb"{/if}>
					<a href="javascript:;">{$t[title]}&nbsp;<span class="f_orange px13">{$cat[catname]}</span><span class="f_gray px13">&nbsp;[{$t[company]}]</span></a>
				</li>
			{/loop}	
		</ul>
	</div>
	
	<div id="panes">
		<!-- loop in 5 exhibits -->
		{loop $tags $i $t}
		<div><a href="{$t[linkurl]}" target="{$target}"><img src="{$t[thumb]}" alt="{$t[title]}" /></a></div>
		{/loop}
	</div>
	<span class="tag">New eBook</span>
</div>