<div class="Lists">
	{loop $tags $k $t}
	<div class="list" id="item_{$t[itemid]}">
		<div><a href="{$t[linkurl]}" target="_blank"><img src="{$t[thumb]}" width="120" alt="{$t[alt]}"/></a></div>

		<ul>
			<li><a href="{$t[linkurl]}" target="_blank"><strong class="px14">{$t[title]}</strong></a></li>
			<li>
				<a href="{userurl($t[username])}" target="_blank" class="px13">{$t[company]}</a>&nbsp;
				<span class="f_gray px13">
					{if $t[validated]}[Verified]{else}[Unverified]{/if}
					{if !$t[username]} [Unregistered]{/if}
				</span>
			</li>
			<li class="f_gray px13">{timetodate($t[edittime], $datetype)}&nbsp;&nbsp;[{area_pos($t[areaid], '', 1)}]</li>
			{if $t[vip]}<li><div class="mg6"><img src="{DT_SKIN}image/vip_{$t[vip]}.gif"/></div></li>{/if}
		</ul>
	</div>
	{/loop}
</div>	
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}