<div class="Lists">
	{loop $tags $k $t}
		<div class="list" id="item_{$t[itemid]}">
			<div><a href="{$t[linkurl]}" target="_blank"><img src="{imgurl($t[thumb], 1)}" alt="{$t[alt]}"/></a></div>
			
			<ul>
				<li>{if $t[vip]}<!-- <span class="f_r"><img src="{DT_SKIN}image/vip_{$t[vip]}.gif"/></span> -->{/if}<a href="{$t[linkurl]}" target="_blank"><strong class="px14">{$t[title]}</strong></a></li>
				<li class="intro">{if $moduleid==22}<span class="f_r"><a href="{$t[linkurl]}"><img src="{DT_SKIN}image/info_inquiry.png"></span>{/if}{$t[introduce]}</li>
				<li>
				<a class="publisher" href="{userurl($t[username])}" target="_blank">{$t[company]}</a>&nbsp;<span style="color:#b8b8b8;">[{area_pos($t[areaid], '', 1)}]&nbsp;{timetodate($t[edittime], $datetype)}</span>&nbsp;&nbsp;
<!-- 				<span class="f_gray">
				{if $t[validated]}[已核實]{else}[未核實]{/if}
				{if !$t[username]} [未註冊]{/if}
				</span> -->
				</li>
			</ul>
		</div>
	{/loop}
</div>
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}