<div class="Lists">
	{loop $tags $k $t}
		<div class="list" id="item_{$t[itemid]}">
			<div><a href="{$t[linkurl]}" target="_blank"><img class="lazy" data-src="{imgurl($t[thumb], 1)}" src="{DT_SKIN}image/blank.gif" alt="{$t[alt]}"/></a></div>

			<ul>
				<li><span class="f_r"><img src="{DT_PATH}file/image/process_{get_process($t[fromtime], $t[totime])}.gif"/></span><a href="{$t[linkurl]}" target="_blank"><strong class="px14">{$t[title]}</strong></a><span class="f_gray px12"> [{$t[city]}]</span></li>
				<li class="f_gray px13">Address: {$t[address]}</li>
				<li class="f_gray px13">Organizer: {$t[sponsor]}</li>
				<li class="f_orange px13">{timetodate($t[fromtime], 3)} ~ {timetodate($t[totime], 3)}</li>
			</ul>				
		</div>
	{/loop}
</div>	
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}