<div>
	<!-- "previous slide" button -->
	<!-- <a class="backward">prev</a> -->
	<!-- container for the slides -->
	<div class="images">
		<!-- first slide -->
		<div>
			<a href="http://www.google.com" target="_blank"><img src="http://www.utopiaadvisors.com/images/banner_3.jpg" width="827" height="192" /></a>
		</div>
		<!-- second slide -->
		<div>
			<a href="http://tw.yahoo.com" target="_blank"><img src="http://elproyectomatriz.files.wordpress.com/2011/03/malestar-org-banner.jpg?w=950" width="827" height="192" /></a>
		</div>
		<!-- third slide -->
		<div>
			<a href="http://www.google.com.tw" target="_blank"><img src="http://2.bp.blogspot.com/-izbRuuaGUqM/T29DY8CItJI/AAAAAAAAEok/qt03FxXP5Ek/s1600/rentokil+logo+small.jpg" width="827" height="192" /></a>
		</div>
		
		<div>
			<a href="http://www.cnn.com" target="_blank"><img src="http://elproyectomatriz.files.wordpress.com/2011/03/malestar-org-banner.jpg?w=950" width="827" height="192" /></a>
		</div>
	</div>
	<!-- "next slide" button -->
	<!-- <a class="forward">next</a> -->
	<!-- the tabs -->
	<div class="slidetabs">
		<a href="javascript:;">Your trade partner1<div class="arrowt"></div></a>
		<a href="javascript:;">Your trade partner2<div class="arrowt"></div></a>
		<a href="javascript:;">Your trade partner3<div class="arrowt"></div></a>
		<a href="javascript:;">Your trade partner4<div class="arrowt"></div></a>
	</div>
</div>