<div style="position:relative;">
	<!-- "previous slide" button -->
	<!-- <a class="backward2">prev</a> -->
	<!-- container for the slides -->
	<div class="images2">
		<!-- first slide -->
		<div>
			<a href="http://www.google.com" target="_blank"><img src="http://dev.crossovermedia.net/artists/images/800x160/Quartetto_di_Cremona6.jpg" width="627" height="160" /></a>
		</div>
		<!-- second slide -->
		<div>
			<a href="http://tw.yahoo.com" target="_blank"><img src="http://blog.bedandbreakfast.com/themes/bbcom/img/bbcomLogo2.jpg" width="627" height="160" /></a>
		</div>
		<!-- third slide -->
		<div>
			<a href="http://www.google.com.tw" target="_blank"><img src="http://dev.crossovermedia.net/artists/images/800x160/Quartetto_di_Cremona2.jpg" width="627" height="160" /></a>
		</div>
		
		<div>
			<a href="http://www.cnn.com" target="_blank"><img src="http://dev.crossovermedia.net/artists/images/800x160/Quartetto_di_Cremona6.jpg" width="627" height="160" /></a>
		</div>
		<div>
			<a href="http://www.cnn3333.com" target="_blank"><img src="http://blog.bedandbreakfast.com/themes/bbcom/img/bbcomLogo2.jpg" width="627" height="160" /></a>
		</div>						
	</div>
	<!-- "next slide" button -->
	<!-- <a class="forward2">next</a> -->
	<!-- the tabs -->
	<div class="slidetabs2">
		<a href="javascript:;">Your trade partner1<span class="arrowr"></span></a>
		<a href="javascript:;">Your trade partner2<span class="arrowr"></span></a>
		<a href="javascript:;">Your trade partner3<span class="arrowr"></span></a>
		<a href="javascript:;">Your trade partner4<span class="arrowr"></span></a>
		<a href="javascript:;">Your trade partner5<span class="arrowr"></span></a>						
	</div>
</div>